<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link rel="stylesheet" type="text/css" href="../../../assets/libs/bootstrap/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="../../../assets/libs/jquery-ui/jquery-ui.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../../../assets/css/user/platform.css" />
	<link rel="stylesheet" type="text/css" href="../../../assets/css/user/navbar-user.css" />
	<link rel="stylesheet" type="text/css" href="../../../assets/css/user/chat-user.css" />
	<link rel="stylesheet" type="text/css" href="../../../assets/css/user/loader-user.css" />
	<link rel="stylesheet" type="text/css" href="../../../assets/css/user/form-user.css" />
	<link rel="stylesheet" type="text/css" href="../../../assets/css/user/modal-user.css" />
	<link rel="stylesheet" type="text/css" href="../../../assets/css/user/search.css" />
	<link rel="stylesheet" type="text/css" href="../../../assets/css/user/tabs-user.css" />
</head>
<body id="colors">
    <center>
    <h3>{{$ctrl.Titulo}}</h3>
    </center>
    <div class="tabContainer">
      <div class="buttonContainer">
        <button onclick="showPanel(0,'#f44336')">General</button>
        <button onclick="showPanel(1,'#4caf50')">Personal</button>
        <button onclick="showPanel(2,'#2196f3')">Facturación</button>
      </div>
      <div class="tabPanel">
        <div class="containerM">
          <div class="row">
            <div class="form-group col-sm-6 centrar">
              <label>Tu ID:</label>
              <input type="text" class="form-control" ng-model="$ctrl.IdUsuario" placeholder="Id Usuario" disabled>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6 centrar">
              <label>Tu nombre:</label>
              <input type="text" class="form-control" ng-model="$ctrl.Usuario.PrimerNombre" placeholder="Primer nombre">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6 centrar">
              <label>Tu apellido:</label>
              <input type="text" class="form-control" ng-model="$ctrl.Usuario.PrimerApellido" placeholder="Primer apellido">
            </div>
          </div>
        </div>
      </div>
      <!--TAB#2-->
      <div class="tabPanel">
        <div class="containerM">
          <div class="row centrar2">
            <div class="form-group col-sm-3 centrar3">
              <label>Tú genero:</label>
              <select  class="form-control" ng-model="$ctrl.Usuario.Genero">
                <option value=""></option>
                <option value="M">Caballero</option>
                <option value="F">Señorita</option>
              </select>
            </div>
            <div class="form-group col-sm-3 centrar">
              <label>La fecha que naciste:</label>
              <input type="text" class="form-control" ng-model="$ctrl.Usuario.FechaNacimiento" placeholder="dd/mm/yyyy">
            </div>
          </div>
          <div class="row centrar2">
            <div class="form-group col-sm-3 centrar3">
              <label>Tú correo:</label>
              <input type="text" class="form-control" ng-model="$ctrl.Usuario.Correo" placeholder="Correo">
              <small class="explain">Prometemos no estarte enviarte cosas</small>
              <small class="explain">Ejemplo: correo@gmail.com</small>
            </div>
            <div class="form-group col-sm-3 centrar3">
              <label>Tú número:</label>
              <input type="text" class="form-control" ng-model="$ctrl.Usuario.TelefonoCelular" placeholder="Celular">
              <small class="explain">Prometemos no estarte enviarte cosas</small>
              <small class="explain">Ejemplo: 51240000</small>
            </div>
          </div>
          <div class="row centrar2">
            <div class="form-group col-sm-3 centrar3">
              <label>¿Por dónde chateás más?</label>
            </div>
            <div class="form-group col-sm-3 centrar3">
              <div class="radio">
                <label><input type="radio" ng-model="$ctrl.Usuario.RedSocial" value="Whatsapp">Whatsapp</label>
              </div>
            </div>
            <div class="form-group col-sm-3 centrar3">
              <div class="radio">
                <label><input type="radio"ng-model="$ctrl.Usuario.RedSocial" value="Snapchat">Snapchat</label>
              </div>
            </div>
          </div>
          <div class="row centrar2">
            <div class="form-group col-sm-3 centrar3">
              <label>Departamento:</label>
              <select  class="form-control" ng-model="$ctrl.Usuario.Departamento" ng-change="$ctrl.CambioDepartamento()"
                ng-options="item.IdDepartamento as item.Nombre for item in $ctrl.Departamentos">
                <!--<option value=""></option>-->
              </select>
            </div>
            <div class="form-group col-sm-3 centrar3">
              <label>Municipio:</label>
              <select  class="form-control" ng-model="$ctrl.Usuario.Municipio" ng-options="item.IdMunicipio as item.Descripcion for item in $ctrl.Municipios">
                <option value="">Seleccione Municipio</option>
              </select>
            </div>
          </div>
          <div class="row centrar2">
            <div class="form-group col-sm-6 centrar">
              <label>¿En qué colegio o U estudiás?:</label>
              <input type="text" class="form-control" ng-model="$ctrl.Usuario.Instituto" placeholder="Institucion educativa">
              <small class="explain">(colocá la última institución donde estudiaste o dónde estás estudiando actualmente)</small>
            </div>
          </div>
          <div class="row centrar2">
            <div class="form-group col-sm-3 centrar3">
              <label>¿Cómo supiste de Escoly?</label>
            </div>
            <div class="form-group col-sm-2">
              <div class="radio">
                <label><input type="radio" ng-model="$ctrl.Usuario.Medio" value="Facebook">Facebook</label>
              </div>
            </div>
            <div class="form-group col-sm-2">
              <div class="radio">
                <label><input type="radio"ng-model="$ctrl.Usuario.Medio" value="Instagram">Instagram</label>
              </div>
            </div>
            <div class="form-group col-sm-2">
              <div class="radio">
                <label><input type="radio"ng-model="$ctrl.Usuario.Medio" value="Amigos">Amigos</label>
              </div>
            </div>
            <div class="form-group col-sm-2">
              <div class="radio">
                <label><input type="radio"ng-model="$ctrl.Usuario.Medio" value="Otro">Otro</label>
              </div>
            </div>
          </div>
        </div>  
      </div>
      <!--TAB#3-->
      <div class="tabPanel">
        <div class="containerM">
        <p class="alert alert-info">¡No te preocupés! Estos datos solo los vamos a usar para hacer tu factura cuando comprés algo, de lo contrario ni los tocamos. Recordá que estos datos pueden ser los tuyos, de tu papá o de quien querrás para la factura. </p>
        <div class="row centrar2">
          <div class="form-group col-sm-3 centrar3">
            <label>Nombres:</label>
            <input type="text" class="form-control" ng-model="$ctrl.Usuario.NombreFacturacion" placeholder="Nombres">
          </div>
          <div class="form-group col-sm-3 centrar3">
            <label>Apellidos:</label>
            <input type="text" class="form-control" ng-model="$ctrl.Usuario.ApellidoFacturacion" placeholder="Apellidos">
          </div>
        </div>
        <div class="row centrar2">
          <div class="form-group col-sm-3 centrar3">
            <label>NIT:</label>
            <input type="text" class="form-control" ng-model="$ctrl.Usuario.Nit" placeholder="Nombres">
          </div>
          <div class="form-group col-sm-3 centrar3">
            <label>Departamento:</label>
            <select  class="form-control" ng-model="$ctrl.Usuario.DepartamentoFacturacion" ng-options="item.IdDepartamento as item.Nombre for item in $ctrl.DeptsFacturacion">
              <!--<option value=""></option>-->
            </select>
          </div>
        </div>
      </div>
    </div>
    </div>
    <center>
    <button class="btn btnSave" ng-click="$ctrl.EditarUsuario()">Guardar</button>
    <button class="btn btnBack" onclick="window.location = 'user-main.html'; ">Regresar</button>
    </center>
    <script>
      var profile = document.getElementById('colors');
      profile.style.backgroundColor='#808080';
    </script>
    <script src="../../../assets/libs/jquery/jquery-3.2.1.min.js"></script>
    <script src="../../../assets/libs/jquery-ui/jquery-ui.min.js"></script>
    <script src="../../../assets/libs/bootstrap/bootstrap.min.js"></script>
    <script src="../../../assets/js/focus-visible.js"></script>
    <script src="../../../assets/libs/angular/angular.min.js"></script>
    <script src="../../../assets/libs/angular-route/angular-route.min.js"></script>
    <script src="../../../assets/js/Utilidades.js"></script>
    <script src="../../../assets/js/platform.js"></script>
</body>
</html>

