<h3>{{$ctrl.Titulo}}</h3>
<br/>
<p><b>(*) Dato opcional</b></p>
<div id="tabs">
  <ul>
	<li><a href="#tabs-1">General</a></li>
	<li><a href="#tabs-2">Personal</a></li>
	<li><a href="#tabs-3">Facturación</a></li>
  </ul>
  <div id="tabs-1">
	<h2>Datos Generales</h2>
	<br/>
	<div class="row">
		<div class="form-group col-sm-6">
			<label>Id de Usuario:</label>
			<input type="text" class="form-control" ng-model="$ctrl.IdUsuario" placeholder="Id Usuario" disabled>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-3">
			<label>Primer Nombre:</label>
			<input type="text" class="form-control" ng-model="$ctrl.Usuario.PrimerNombre" placeholder="Primer nombre">
		</div>
		<div class="form-group col-sm-3">
			<label>(*) Segundo Nombre:</label>
			<input type="text" class="form-control" ng-model="$ctrl.Usuario.SegundoNombre" placeholder="Segundo nombre">
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-3">
			<label>Primer Apellido:</label>
			<input type="text" class="form-control" ng-model="$ctrl.Usuario.PrimerApellido" placeholder="Primer apellido">
		</div>
		<div class="form-group col-sm-3">
			<label>(*) Segundo Apellido:</label>
			<input type="text" class="form-control" ng-model="$ctrl.Usuario.SegundoApellido" placeholder="Segundo apellido">
		</div>
	</div>
  </div>
  <div id="tabs-2">
	<h2>Datos Personales</h2>
	<br/>
	<div class="row">
		<div class="form-group col-sm-3">
			<label>Genero:</label>
			<select  class="form-control" ng-model="$ctrl.Usuario.Genero">
				<option value=""></option>
				<option value="M">Masculino</option>
				<option value="F">Femenino</option>
			</select>
		</div>
		<div class="form-group col-sm-3">
			<label>(*) Fecha de nacimiento (dd/mm/yyyy):</label>
			<input type="text" class="form-control" ng-model="$ctrl.Usuario.FechaNacimiento" placeholder="dd/mm/yyyy">
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-3">
			<label>Correo:</label>
			<input type="text" class="form-control" ng-model="$ctrl.Usuario.Correo" placeholder="Correo">
			<small class="form-text text-muted">Ejemplo: correo@gmail.com</small>
		</div>
		<div class="form-group col-sm-3">
			<label>Telefono Celular:</label>
			<input type="text" class="form-control" ng-model="$ctrl.Usuario.TelefonoCelular" placeholder="Celular">
			<small class="form-text text-muted">Ejemplo: 51240000</small>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-3">
			<label>Departamento:</label>
			<select  class="form-control" ng-model="$ctrl.Usuario.Departamento" ng-change="$ctrl.CambioDepartamento()"
        ng-options="item.IdDepartamento as item.Nombre for item in $ctrl.Departamentos">
				<!--<option value=""></option>-->
			</select>
		</div>
		<div class="form-group col-sm-3">
			<label>Municipio:</label>
			<select  class="form-control" ng-model="$ctrl.Usuario.Municipio" ng-options="item.IdMunicipio as item.Descripcion for item in $ctrl.Municipios">
				<option value="">Seleccione Municipio</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-6">
			<label>(*) Dirección:</label>
			<input type="text" class="form-control" ng-model="$ctrl.Usuario.Direccion" placeholder="Direccion">
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-6">
			<label>(*) Institucion educativa o universidad:</label>
			<input type="text" class="form-control" ng-model="$ctrl.Usuario.Instituto" placeholder="Institucion educativa">
			<small class="form-text text-muted">Coloque la última institución donde ha estudiado o donde estudia actualmente</small>
		</div>
	</div>
	<br/>
  </div>
  <div id="tabs-3">
	<h2>Datos Facturación</h2>
	<p class="alert alert-info"> Estos datos solo seran utilizados al momento que usted realice una compra dentro del sitio </p>
	<br/>
	<div class="row">
		<div class="form-group col-sm-3">
			<label>(*) Nombres:</label>
			<input type="text" class="form-control" ng-model="$ctrl.Usuario.NombreFacturacion" placeholder="Nombres">
		</div>
		<div class="form-group col-sm-3">
			<label>(*) Apellidos:</label>
			<input type="text" class="form-control" ng-model="$ctrl.Usuario.ApellidoFacturacion" placeholder="Apellidos">
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-3">
			<label>(*) NIT:</label>
			<input type="text" class="form-control" ng-model="$ctrl.Usuario.Nit" placeholder="Nombres">
		</div>
		<div class="form-group col-sm-3">
			<label>(*) Departamento:</label>
			<select  class="form-control" ng-model="$ctrl.Usuario.DepartamentoFacturacion" ng-options="item.IdDepartamento as item.Nombre for item in $ctrl.DeptsFacturacion">
				<!--<option value=""></option>-->
			</select>
		</div>
	</div>
	</div>
  </div>
<br/>
<button class="btn btnForm" ng-click="$ctrl.EditarUsuario()">Guardar</button>
<button class="btn btn-link" onclick="window.location = 'user-main.html'; ">Regresar</button>
<script>
$( function() {
	$( "#tabs" ).tabs();
});



</script>
