<h3>{{$ctrl.Titulo}}</h3>
<br/>
<p><b>(*) Dato opcional</b></p>
<div id="tabs" class="dvTabsBusqueda">
  <ul>
  <li><a href="#tabs-1">General</a></li>
  <li><a href="#tabs-2">Personal</a></li>
  <li><a href="#tabs-3">Facturación</a></li>
  </ul>
  <div id="tabs-1">
    <!--<h4 class="txtColor">Llená estos datos</h4>-->
    <br/>
    <div class="row">
      <div class="form-group col-sm-6">
        <label>Tu ID:</label>
        <input type="text" class="form-control" ng-model="$ctrl.IdUsuario" placeholder="Id Usuario" disabled>
      </div>
    </div>
    <!--
    <div class="row">
      <div class="form-group col-sm-3">
        <label>Contraseña:</label>
        <input type="password" class="form-control" ng-model="$ctrl.Usuario.Password" placeholder="Contraseña">
      </div>
      <div class="form-group col-sm-3">
        <label>Repetir contraseña:</label>
        <input type="password" class="form-control" ng-model="$ctrl.Usuario.RepPassword" placeholder="Repetir Contraseña">
      </div>
    </div>
    -->
    <div class="row">
      <div class="form-group col-sm-6">
        <label>Tu nombre:</label>
        <input type="text" class="form-control" ng-model="$ctrl.Usuario.PrimerNombre" placeholder="Primer nombre" disabled>
      </div>
      <!--
      <div class="form-group col-sm-3">
        <label>(*) Segundo Nombre:</label>
        <input type="text" class="form-control" ng-model="$ctrl.Usuario.SegundoNombre" placeholder="Segundo nombre">
      </div>
    -->
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <label>Tu apellido:</label>
        <input type="text" class="form-control" ng-model="$ctrl.Usuario.PrimerApellido" placeholder="Primer apellido" disabled>
      </div>
      <!--
      <div class="form-group col-sm-3">
        <label>(*) Segundo Apellido:</label>
        <input type="text" class="form-control" ng-model="$ctrl.Usuario.SegundoApellido" placeholder="Segundo apellido">
      </div>
    -->
    </div>
  </div><!-- Datos generales -->
  <div id="tabs-2">
    <!--<h4 class="txtColor">Ahora estos otros</h5>-->
    <br/>
    <div class="row">
      <div class="form-group col-sm-3">
        <label>Tú genero:</label>
        <select  class="form-control" ng-model="$ctrl.Usuario.Genero"  disabled>
          <option value=""></option>
          <option value="M">Masculino</option>
          <option value="F">Femenino</option>
        </select>
      </div>
      <div class="form-group col-sm-3">
        <label>(*) La fecha que naciste:</label>
        <input type="text" class="form-control" ng-model="$ctrl.Usuario.FechaNacimiento" placeholder="dd/mm/yyyy" disabled>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-3">
        <label>Tú correo:</label>
        <input type="text" class="form-control" ng-model="$ctrl.Usuario.Correo" placeholder="Correo" disabled>
        <small class="form-text text-muted">Prometemos no estarte enviarte cosas</small>
        <small class="form-text text-muted">Ejemplo: correo@gmail.com</small>
      </div>
      <div class="form-group col-sm-3">
        <label>Tú número:</label>
        <input type="text" class="form-control" ng-model="$ctrl.Usuario.TelefonoCelular" placeholder="Celular" disabled>
        <small class="form-text text-muted">Prometemos no estarte enviarte cosas</small>
        <small class="form-text text-muted">Ejemplo: 51240000</small>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-3">
        <label>¿Por dónde chateás más?</label>
      </div>
      <div class="form-group col-sm-3">
        <div class="radio">
          <label><input type="radio" ng-model="$ctrl.Usuario.RedSocial" value="Whatsapp" disabled>Whatsapp</label>
        </div>
      </div>
      <div class="form-group col-sm-3">
        <div class="radio">
          <label><input type="radio"ng-model="$ctrl.Usuario.RedSocial" value="Snapchat" disabled>Snapchat</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-3">
        <label>Departamento:</label>
        <select  class="form-control" ng-model="$ctrl.Usuario.Departamento" ng-change="$ctrl.CambioDepartamento()"
          ng-options="item.IdDepartamento as item.Nombre for item in $ctrl.Departamentos" disabled>
          <!--<option value=""></option>-->
        </select>
      </div>
      <div class="form-group col-sm-3">
        <label>Municipio:</label>
        <select  class="form-control" ng-model="$ctrl.Usuario.Municipio" ng-options="item.IdMunicipio as item.Descripcion for item in $ctrl.Municipios" disabled>
          <option value="">Seleccione Municipio</option>
        </select>
      </div>
    </div>
    <!--
    <div class="row">
      <div class="form-group col-sm-6">
        <label>(*) Dirección:</label>
        <input type="text" class="form-control" ng-model="$ctrl.Usuario.Direccion" placeholder="Dirección">
      </div>
    </div>
  -->
    <div class="row">
      <div class="form-group col-sm-6">
        <label>(*) ¿En qué colegio o U estudiás?:</label>
        <input type="text" class="form-control" ng-model="$ctrl.Usuario.Instituto" placeholder="Institucion educativa" disabled>
        <small class="form-text text-muted">(colocá la última institución donde estudiaste o dónde estás estudiando actualmente)</small>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-3">
        <label>¿Cómo supiste de Escoly?</label>
      </div>
      <div class="form-group col-sm-2">
        <div class="radio">
          <label><input type="radio" ng-model="$ctrl.Usuario.Medio" value="Facebook" disabled>Facebook</label>
        </div>
      </div>
      <div class="form-group col-sm-2">
        <div class="radio">
          <label><input type="radio"ng-model="$ctrl.Usuario.Medio" value="Instagram" disabled>Instagram</label>
        </div>
      </div>
      <div class="form-group col-sm-2">
        <div class="radio">
          <label><input type="radio"ng-model="$ctrl.Usuario.Medio" value="Amigos" disabled>Amigos</label>
        </div>
      </div>
      <div class="form-group col-sm-2">
        <div class="radio">
          <label><input type="radio"ng-model="$ctrl.Usuario.Medio" value="Otro" disabled>Otro</label>
        </div>
      </div>
    </div>
    <br/>
  </div><!-- Datos personales -->
  <div id="tabs-3">
  <h2>Datos Facturación</h2>
  <p class="alert alert-info"> Estos datos solo seran utilizados al momento que usted realice una compra dentro del sitio </p>
  <br/>
  <div class="row">
    <div class="form-group col-sm-3">
      <label>(*) Nombres:</label>
      <input type="text" class="form-control" ng-model="$ctrl.Usuario.NombreFacturacion" placeholder="Nombres" disabled>
    </div>
    <div class="form-group col-sm-3">
      <label>(*) Apellidos:</label>
      <input type="text" class="form-control" ng-model="$ctrl.Usuario.ApellidoFacturacion" placeholder="Apellidos" disabled>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-3">
      <label>(*) NIT:</label>
      <input type="text" class="form-control" ng-model="$ctrl.Usuario.Nit" placeholder="Nombres" disabled>
    </div>
    <div class="form-group col-sm-3">
			<label>(*) Departamento:</label>
			<select  class="form-control" ng-model="$ctrl.Usuario.DepartamentoFacturacion" ng-options="item.IdDepartamento as item.Nombre for item in $ctrl.DeptsFacturacion"  disabled>
				<!--<option value=""></option>-->
			</select>
		</div>
  </div>
  </div><!-- Datos de facturación -->
</div>

<br/>
<button class="btn btn-link" onclick="window.location = 'admin-main.html#!/mant-usuario'; ">Regresar</button>
<script>
$( function() {
	$( "#tabs" ).tabs();
});



</script>
