<h3>{{$ctrl.Titulo}}</h3>
<br/>
<div class="row">
	<div class="form-group col-sm-6">
		<label>Nombre:</label>
		<input type="text" class="form-control" ng-model="$ctrl.Curso.Nombre" placeholder="Nombre" maxlength="100">
	</div>
</div>
<div class="row">
	<div class="form-group col-sm-6">
		<label>(*) Descripcion curso:</label><br/>
		<textarea rows="10" cols="50" ng-model="$ctrl.Curso.Descripcion" maxlength="500"></textarea>
	</div>
</div>
<div class="row">
	<div class="form-group col-sm-3">
		<label>(*) Categoria:</label>
		<input type="text" class="form-control" ng-model="$ctrl.Curso.Categoria" placeholder="Categoria" maxlength="30">
		<!--
		<select  class="form-control" ng-model="$ctrl.Curso.Categoria">
			<option value=""></option>
			<option value="1">Matematica</option>
			<option value="2">Fisica</option>
			<option value="3">Quimica</option>
			<option value="4">Literatura</option>
			<option value="5">Diseño</option>
			<option value="6">Deporte</option>
		</select>
		-->
	</div>
</div>

<button class="btn btnForm"  ng-click="$ctrl.OperacionForm()">Guardar</button>
<button class="btn btn-link" onclick="window.location = 'admin-main.html#!/mant-curso'; ">Regresar</button>
