<center>
<h3>Mantenimiento Universidades</h3>
<br/>
<button class="btn btnForm" onclick=" window.location = 'admin-main.html#!/form-universidad/$$NUEVO'; ">Nueva Universidad</button>
<br/>
<br/>
<table class="table tblAdmin">
	<tr>
		<th></th>
		<!--<th>Id Universidad</th>-->
		<th>Nombre</th>
		<th>Departamento</th>
	</tr>
	<tr ng-repeat="Universidad in $ctrl.Universidades">
		<td>
			<center>
				<button class="btn btnFormMini"  ng-click="$ctrl.ModificarUniversidad(Universidad)">Modificar</button>
				<button class="btn btnFormMini"  ng-click="$ctrl.ModCarrerasUniversidad(Universidad)">Mod. Carreras</button>
				<button class="btn btnFormMini"  ng-click="$ctrl.VerModalEliminar(Universidad)">Eliminar</button>
			</center>
		</td>
		<!--<td>{{Universidad.Id}}</td>-->
		<td>{{Universidad.Nombre}}</td>
		<td>{{Universidad.Departamento}}</td>
	</tr>
</table>

<!-- Modal -->
<div id="mdConfEliminar" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content mdAdmin-Content">
      <div class="modal-header mdAdmin-Header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
		<center>
			<h4 class="modal-title">Eliminar Universidad</h4>
		</center>
      </div>
      <div class="modal-body">
		<center>
			<p>¿Confirma que desea eliminar la universidad <b>{{$ctrl.UniversidadEliminar.Nombre}}?</b></p>
		</center>
      </div>
      <div class="modal-footer">
		<center>
			<button class="btn btnForm" ng-click="$ctrl.EliminarUniversidad()">Eliminar</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
		</center>
      </div>
    </div>

  </div>
</div>
</center>