
<center>
<div id="dvRegistroOk" class="hidden" style="width:70%">
  Te voy a escribir a tu teléfono en un momento para decirte qué es lo que sigue. Si tenés alguna duda antes escribíme en el botón “¡Ayúdenme!”. Por ahora vas a poder ver tu status de cómo va todo. <br/>
  <button class="btn btn-link" ng-click="$ctrl.VerStatus()">Ver mi status</button>
</div>
</center>
<h3>{{ 'Registro de orientación con Id no. ' + $ctrl.Orientacion.Id }}</h3>
<br/>
<center><h4>¡Comencemos a descubrirte!</h4></center>
<p>Por ahora olvidate la u y las carreras, que no te moleste más y vamos a conocer tu pasión. </p>
<br/>
<div id="tabs">
  <ul>
  	<!-- <li><a href="#tabs-1">Paso 1</a></li> -->
  	<li><a href="#tabs-1" id="aTab1">Paso 1</a></li>
  	<li><a href="#tabs-2" id="aTab2">Paso 2</a></li>
    <li><a href="#tabs-3" id="aTab3">Paso 3</a></li>
    <li><a href="#tabs-4" id="aTab4">Finalizado</a></li>
  </ul>
  <div id="tabs-1">
    <small>
      Vamos a comenzar con una probada de lo que viene, por lo que no te preocupés si te hace falta espacio
      o crees que hay cosas que no estás seguro de la respuesta, tú respondélo.
      En tu primera sesión vamos a explotar toda esta información juntos y verás todo lo que vas a descubrir.”
      Por ahora solo te pido que seas 1000% honesto y respondás sin pena.
    </small>
    <br/>
    <br/>
    <h4>Bien, comencemos a descubrir juntos tu pasión.</h4>
    <p>¿Qué actividad(es) te apasiona mucho mucho mucho hacer?</p>
    <div class="row">
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="Actividad" ng-model="$ctrl.Orientacion.Actividad1">
      </div>
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="Actividad"  ng-model="$ctrl.Orientacion.Actividad2">
      </div>
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="Actividad"  ng-model="$ctrl.Orientacion.Actividad3">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="Actividad"  ng-model="$ctrl.Orientacion.Actividad4">
      </div>
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="Actividad"  ng-model="$ctrl.Orientacion.Actividad5">
      </div>
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="Actividad"  ng-model="$ctrl.Orientacion.Actividad6">
      </div>
    </div>
    <small>**Te doy una pista, por ejemplo: construir, crear, investigar, organizar, hablar, deportes, pintar viajar, comer, etc. Y si por ejemplo poner deportes, poné cuál, si ponés construir, poné qué y así con las demás.</small>
    <br/>
    <br/>
    <p>¿Qué objeto(s) del mundo te ha llamado mucho mucho mucho la atención desde que eras pequeño y hasta hoy en día te sigue(n) interesando?</p>
    <div class="row">
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="Objeto"  ng-model="$ctrl.Orientacion.Objeto1">
      </div>
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="Objeto"  ng-model="$ctrl.Orientacion.Objeto2">
      </div>
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="Objeto"  ng-model="$ctrl.Orientacion.Objeto3">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="Objeto"  ng-model="$ctrl.Orientacion.Objeto4">
      </div>
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="Objeto"  ng-model="$ctrl.Orientacion.Objeto5">
      </div>
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="Objeto"  ng-model="$ctrl.Orientacion.Objeto6">
      </div>
    </div>
    <small>**Te doy otra pista, por ejemplo: el ser humano (su interior, su comportamiento), naturaleza, tecnología, animales, alimentos, ropa, casas (construir, decorar), universo, carros, video juegos, etc.</small>
    <br/>
    <br/>
    <p>¿Cuál(es) ha sido tu logro más importante del que estés muy muy muy orgulloso y sintás que no hubo nadie mejor que tú para eso? </p>
    <div class="row">
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="Logro" ng-model="$ctrl.Orientacion.Logro1">
      </div>
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="Logro" ng-model="$ctrl.Orientacion.Logro2">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="Logro" ng-model="$ctrl.Orientacion.Logro3">
      </div>
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="Logro" ng-model="$ctrl.Orientacion.Logro4">
      </div>
    </div>
    <small>Pueden ser trofeos, diplomas, reconocimientos deportivos o de estudio, algo que organizaste, una presentación que hiciste, un proyecto de clases, algo que hayás creado, algo en lo que te hayan felicitado, etc. Poné qué fue eso por ejemplo, organizar el cumpleaños de un amigo o reparé el calentador de mi casa, etc. </small>
    <br/>
    <br/>
    <button class="btn btnFormMini" onclick="HabilitarTab2()">Siguiente</button>
  </div><!-- Paso 1 -->
  <div id="tabs-2">
    <small>
      Vamos a comenzar con una probada de lo que viene, por lo que no te preocupés si te hace falta espacio
      o crees que hay cosas que no estás seguro de la respuesta, tú respondélo.
      En tu primera sesión vamos a explotar toda esta información juntos y verás todo lo que vas a descubrir.”
      Por ahora solo te pido que seas 1000% honesto y respondás sin pena.
    </small>
    <br/>
    <br/>
    <h4>Ahora</h4>
    <p>¿Para qué querés hacer eso que te apasiona? Podés marcar más de una (son tus respuestas de la primer pregunta del paso 1).</p>
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" ng-model="$ctrl.Orientacion.Pregunta1Opcion1"
        ng-true-value="1" ng-false-value="0">
      Para saber (por ejemplo para conocer, aprender entender)
    </label>
    <br/>
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" ng-model="$ctrl.Orientacion.Pregunta1Opcion2"
        ng-true-value="1" ng-false-value="0">
      Para expresarme (por ejemplo para decirlo para que te escuchen, te vean)
    </label>
    <br/>
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" ng-model="$ctrl.Orientacion.Pregunta1Opcion3"
        ng-true-value="1" ng-false-value="0">
      Para dirigir (por ejemplo para llevar a un grupo a hacer algo, para mandar)
    </label>
    <br/>
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" ng-model="$ctrl.Orientacion.Pregunta1Opcion4"
        ng-true-value="1" ng-false-value="0">
      Para servir a los demás (para que le sea útil a alguien, para enseñar)
    </label>
    <h4>Y...</h4>
    <p>¿Cómo quisieras hacer eso que te apasiona? Podés marcar más de una.</p>
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" ng-model="$ctrl.Orientacion.Pregunta2Opcion1"
        ng-true-value="1" ng-false-value="0">
      Pensando (para crear algo nuevo, pensar soluciones, emprender)
    </label>
    <br/>
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" ng-model="$ctrl.Orientacion.Pregunta2Opcion2"
        ng-true-value="1" ng-false-value="0">
      Sintiendo (con tus emociones, intuiciones, inspiración)
    </label>
    <br/>
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" ng-model="$ctrl.Orientacion.Pregunta2Opcion3"
        ng-true-value="1" ng-false-value="0">
      Haciendo (manipulando cosas, poniendo en práctica, estando en acción)
    </label>
    <br/>
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" ng-model="$ctrl.Orientacion.Pregunta2Opcion4"
        ng-true-value="1" ng-false-value="0">
      Diciendo (hablando, dando a conocer, conferencias)
    </label>
    <h4>Por último</h4>
    <p>¿En dónde quisieras hacer eso que te apasiona? Podés marcar más de una.</p>
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" ng-model="$ctrl.Orientacion.Pregunta3Opcion1"
        ng-true-value="1" ng-false-value="0">
      En un lugar jerárquico (donde tengás que ir ascendiendo de puestos hasta llegar a ser jefe o gerente)
    </label>
    <br/>
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input"  ng-model="$ctrl.Orientacion.Pregunta3Opcion2"
        ng-true-value="1" ng-false-value="0">
      En un lugar estructurado (donde siguás instrucciones, llevés agenda, todo sea organizado)
    </label>
    <br/>
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input"  ng-model="$ctrl.Orientacion.Pregunta3Opcion3"
        ng-true-value="1" ng-false-value="0">
      En un lugar competitivo (donde tengás que estar entrenando y mejorando contigo mismo por ser el mejor)
    </label>
    <br/>
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input"  ng-model="$ctrl.Orientacion.Pregunta3Opcion4"
        ng-true-value="1" ng-false-value="0">
      En un lugar con gente (donde haya ruido, bromas, trabajo en equipo)
    </label>
    <br/>
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input"  ng-model="$ctrl.Orientacion.Pregunta3Opcion5"
        ng-true-value="1" ng-false-value="0">
      En un lugar sin gente (donde no haya ruido y estés solo tú y tu trabajo)
    </label>
    <br/>
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input"  ng-model="$ctrl.Orientacion.Pregunta3Opcion6"
        ng-true-value="1" ng-false-value="0">
      En un lugar abierto (donde estés al aire libre, con la naturaleza, estar viajando, o simplemente estar fuera haciendo tu trabajo)
    </label>
    <br/>
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input"  ng-model="$ctrl.Orientacion.Pregunta3Opcion7"
        ng-true-value="1" ng-false-value="0">
      En un lugar cerrado (con tu oficina o espacio privado, tu escritorio, tu computadora y todos tus implementos)
    </label>
    <br/>
    <br/>
    <button class="btn btnFormMini" onclick="HabilitarTab3()">Siguiente</button>
    <button class="btn btn-small" onclick="HabilitarTab1()">Atrás</button>
    <br/>
  </div><!-- Paso 2 -->
  <div id="tabs-3">
    <small>
      Vamos a comenzar con una probada de lo que viene, por lo que no te preocupés si te hace falta espacio
      o crees que hay cosas que no estás seguro de la respuesta, tú respondélo.
      En tu primera sesión vamos a explotar toda esta información juntos y verás todo lo que vas a descubrir.”
      Por ahora solo te pido que seas 1000% honesto y respondás sin pena.
    </small>
    <br/>
    <br/>
    <h4>Ahora...contános un poquito de tu familia...</h4>
    <p>¿Qué estudió tu mamá en la u? Dejála en blanco si no estudió</p>
    <div class="row">
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="Estudio" ng-model="$ctrl.Orientacion.EstudioMama">
      </div>
      <div class="form-group col-sm-3">
        <label class="form-check-label">
          <!--
          <input type="checkbox" class="form-check-input" ng-model="$ctrl.Orientacion.GraduacionMama"
            ng-true-value="1" ng-false-value="0">
          -->
          ¿Se graduó?
        </label>
        <select  class="form-control-sm" ng-model="$ctrl.Orientacion.GraduacionMama">
          <option ng-value="1">Sí</option>
          <option ng-value="0">No</option>
        </select>
      </div>
    </div>
    <p>¿En qué trabaja tu mamá?</p>
    <div class="row">
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="Trabajo" ng-model="$ctrl.Orientacion.TrabajoMama">
      </div>
    </div>
    <p>¿Qué estudió tu papá en la u? Dejála en blanco si no estudió</p>
    <div class="row">
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="Estudio" ng-model="$ctrl.Orientacion.EstudioPapa">
      </div>
      <div class="form-group col-sm-3">
        <label class="form-check-label">
          <!--<input type="checkbox" class="form-check-input" ng-model="$ctrl.Orientacion.GraduacionPapa"
            ng-true-value="1" ng-false-value="0">
          -->
          ¿Se graduó?
          <select  class="form-control-sm" ng-model="$ctrl.Orientacion.GraduacionPapa">
            <option ng-value="1">Sí</option>
            <option ng-value="0">No</option>
          </select>
        </label>
      </div>
    </div>
    <p>¿En qué trabaja tu papá?</p>
    <div class="row">
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="Trabajo" ng-model="$ctrl.Orientacion.TrabajoPapa">
      </div>
    </div>
    <p>Si tenés hermanos en la u...¿Qué estudian? Si no tenés dejála en blanco</p>
    <div class="row">
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="Estudios hermanos" ng-model="$ctrl.Orientacion.EstudiosHermanos1">
      </div>
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="Estudios hermanos" ng-model="$ctrl.Orientacion.EstudiosHermanos2">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="Estudios hermanos" ng-model="$ctrl.Orientacion.EstudiosHermanos3">
      </div>
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="Estudios hermanos" ng-model="$ctrl.Orientacion.EstudiosHermanos4">
      </div>
    </div>
    <p>¿Qué carreras u otras cosas han estudiado tus abuelos, tíos o primos en la u? Si no tenés dejála en blanco</p>
    <div class="row">
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="Estudios familiares U" ng-model="$ctrl.Orientacion.EstudiosFamiliares1">
      </div>
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="Estudios familiares U" ng-model="$ctrl.Orientacion.EstudiosFamiliares2">
      </div>
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="Estudios familiares U" ng-model="$ctrl.Orientacion.EstudiosFamiliares3">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="Estudios familiares U" ng-model="$ctrl.Orientacion.EstudiosFamiliares4">
      </div>
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="Estudios familiares U" ng-model="$ctrl.Orientacion.EstudiosFamiliares5">
      </div>
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="Estudios familiares U" ng-model="$ctrl.Orientacion.EstudiosFamiliares6">
      </div>
    </div>
    <small>**Pueden ser diplomados, cursos libres, maestrías, especializaciones, etc.</small>
    <br/>
    <br/>
    <button class="btn btnFormMini" ng-click="$ctrl.RegistrarOrientacion()">Finalizar</button>
    <button class="btn btn-small" onclick="HabilitarTab2()">Atrás</button>
    <br/>
  </div><!-- Paso 3 -->
  <div id="tabs-4">
    <br/>
    Ha finalizado el registro de la orientación. Ahora debe esperar a que uno de nuestros administradores le haga llegar a su correo los enlaces
    para realizar los ex&aacute;menes necesarios. De igual manera puede consultar el estado de cada uno de los ex&aacute;menes as&iacute; c&oacute;mo
    las carreras recomendadas una vez los ex&aacute;menes hayan sido finalizados.
    <br/>
    <br/>
    <button class="btn btn-link" ng-click="$ctrl.VerDetalleOrientacion()">Ir a datos de orientación</button>
  </div><!-- Paso 4 -->
</div><!-- Pestañas -->

<script>


  $( function() {
  	$( "#tabs" ).tabs();
    //$( "#tabs" ).tabs( "option", "disabled", [ 1, 2, 3 ] );
  });

  $(document).ready(function () {
    $( "#tabs" ).tabs( "option", "disabled", [ 1, 2, 3 ] );
  });

  function HabilitarTab1(){
    $( "#tabs" ).tabs( "enable", 0 );
		$('#aTab1').click();
		$( "#tabs" ).tabs( "option", "disabled", [ 1, 2, 3] );
  }

  function HabilitarTab2(){
    $( "#tabs" ).tabs( "enable", 1 );
		$('#aTab2').click();
		$( "#tabs" ).tabs( "option", "disabled", [ 0, 2, 3] );
  }

  function HabilitarTab3(){
    $( "#tabs" ).tabs( "enable", 2 );
		$('#aTab3').click();
		$( "#tabs" ).tabs( "option", "disabled", [ 0, 1, 3] );
  }

  function Finalizar(){
    $( "#tabs" ).tabs( "enable", 3 );
		$('#aTab4').click();
		$( "#tabs" ).tabs( "option", "disabled", [ 0, 1, 2] );
  }




</script>
