<center>
	<h4 class="txtColor">¡Esta es la experiencia Escoly! Fácil y rápido</h4>
</center>
<h3 class="txtColor">{{$ctrl.Carrera.Nombre}}</h3>
<br/>
	<div class="row dvCalificacion">
		<div class="form-group col-sm-3">
			<label>Nota general:</label><br/>
			<img ng-src="{{ '../../assets/img/' + $ctrl.ObtenerImagenEstrella(1,1) }}" />
			<img ng-src="{{ '../../assets/img/' + $ctrl.ObtenerImagenEstrella(2,1) }}" />
			<img ng-src="{{ '../../assets/img/' + $ctrl.ObtenerImagenEstrella(3,1) }}" />
			<img ng-src="{{ '../../assets/img/' + $ctrl.ObtenerImagenEstrella(4,1) }}" />
			<img ng-src="{{ '../../assets/img/' + $ctrl.ObtenerImagenEstrella(5,1) }}" />
		</div>
		<div class="form-group col-sm-3">
			<label>Tu nota:</label>
			<span>{{ $ctrl.Carrera.NotaIndividual.toString() + "/5"; }}</span>
			<button class="btn btnVotar" onclick="$('#mdCalificar').modal('show');">Votar</button>
		</div>
		<div class="form-group col-sm-3">
			<label>No. votos:</label>
			<span>{{$ctrl.Carrera.TotalVotos.toString()}}</span><br/>
		</div>
		<div class="form-group col-sm-3">
			<button class="btn btnVotar" ng-click="$ctrl.VerModalPensum()">Ver Pensum</button>
		</div>
	</div>
<br/>
<center>
	<h6 class="txtColor">Recordá que tenés que darle una calificación a la información de este curos en el botón de “votar” antes de retirarte</h6>
</center>
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Datos generales</a></li>
		<li><a href="#tabs-2">Costos</a></li>
		<li><a href="#tabs-3">Opción a beca y requisitos para cierre</a></li>
		<li><a href="#tabs-4">Jornadas</a></li>
		<li><a href="#tabs-5">Papelería de admisión</a></li>
	</ul>
	<div id="tabs-1" class="dvDatosBusqueda">
		<br/>
		<div class="row">
			<div class="form-group col-sm-6">
				<label>Grupo:</label>
				<p>{{$ctrl.Carrera.Grupo}}</p>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-3">
				<label>Universidad:</label>
				<p>{{$ctrl.Carrera.Universidad}}</p>
			</div>
			<div class="form-group col-sm-3">
				<label>Departamento:</label>
				<p>{{$ctrl.Carrera.Departamento}}</p>
			</div>
			<div class="form-group col-sm-3">
				<label>Municipio:</label>
				<p>{{$ctrl.Carrera.Municipio}}</p>
			</div>
			<div class="form-group col-sm-3">
				<label>Dirección:</label>
				<p class="{{ $ctrl.ObtenerClaseCss($ctrl.Carrera.Localidad) }}">{{ $ctrl.ObtenerValorConFormato($ctrl.Carrera.Localidad)  }}</p>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-3">
				<label>Teléfono 1:</label>
				<p class="{{ $ctrl.ObtenerClaseCss($ctrl.Carrera.Telefono1) }}">{{ $ctrl.ObtenerValorConFormato($ctrl.Carrera.Telefono1)  }}</p>
			</div>
			<!--
			<div class="form-group col-sm-3">
				<label>Teléfono 2:</label>
				<p class="{{ $ctrl.ObtenerClaseCss($ctrl.Carrera.Telefono2) }}">{{ $ctrl.ObtenerValorConFormato($ctrl.Carrera.Telefono2)  }}</p>
			</div>
			-->
			<div class="form-group col-sm-3">
				<label>Url:</label>
				<p class="{{ $ctrl.ObtenerClaseCss($ctrl.Carrera.Url) }}">{{ $ctrl.ObtenerValorConFormato($ctrl.Carrera.Url)  }}</p>
			</div>
			<!-- marodriguez 20180422 -->
			<!--
			<div class="form-group col-sm-3">
				<label>Modalidad:</label>
				<p class="{{ $ctrl.ObtenerClaseCss($ctrl.Carrera.Modalidad) }}">{{ $ctrl.ObtenerValorConFormato($ctrl.Carrera.Modalidad)  }}</p>
			</div>
			-->
			<div class="form-group col-sm-2">
				<label>Certificación Internacional:</label>
				<p>{{$ctrl.Carrera.Certi_Internacional}}</p>
			</div>
			<!-- marodriguez 20180422 -->
		</div>
		<div class="row">
			<div class="form-group col-sm-3">
				<label>Nombre Facultad:</label>
				<p class="{{ $ctrl.ObtenerClaseCss($ctrl.Carrera.NombreFacultad) }}">{{ $ctrl.ObtenerValorConFormato($ctrl.Carrera.NombreFacultad)  }}</p>
			</div>
			<div class="form-group col-sm-3">
				<label>Teléfono Facultad:</label>
				<p class="{{ $ctrl.ObtenerClaseCss($ctrl.Carrera.TelefonoFacultad) }}">{{ $ctrl.ObtenerValorConFormato($ctrl.Carrera.TelefonoFacultad)  }}</p>
			</div>
			<!-- marodriguez 20180422 -->
			<div class="form-group col-sm-3">
				<label>Correo Facultad:</label>
				<p class="{{ $ctrl.ObtenerClaseCss($ctrl.Carrera.CorreoFacultad) }}">{{ $ctrl.ObtenerValorConFormato($ctrl.Carrera.CorreoFacultad)  }}</p>
			</div>
			<!-- marodriguez 20180422 -->
		</div>
		<!-- marodriguez 20180422 -->
		<div class="row">
			<div class="form-group col-sm-3">
				<label>Modalidad presencial:</label>
				<p>{{$ctrl.Carrera.ModalidadPresencial}}</p>
			</div>
			<div class="form-group col-sm-3">
				<label>Modalidad semi presencial:</label>
				<p>{{$ctrl.Carrera.ModalidadSemiPresencial}}</p>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-3">
				<label>Modalidad en línea:</label>
				<p>{{$ctrl.Carrera.ModalidadEnLinea}}</p>
			</div>
			<div class="form-group col-sm-9">
				<label>Descripción modalidad:</label>
				<p class="{{ $ctrl.ObtenerClaseCss($ctrl.Carrera.DescripcionModalidad) }}">{{ $ctrl.ObtenerValorConFormato($ctrl.Carrera.DescripcionModalidad)  }}</p>
			</div>
		</div>
		<!-- marodriguez 20180422 -->
		<div class="row">
			<div class="form-group col-sm-12">
				<label>Descripción:</label>
				<p class="{{ $ctrl.ObtenerClaseCss($ctrl.Carrera.Descripcion) }}">{{ $ctrl.ObtenerValorConFormato($ctrl.Carrera.Descripcion)  }}</p>
			</div>
		</div>
	</div><!-- Datos generales -->
	<div id="tabs-2" class="dvDatosBusqueda">
		<div class="row">
			<div class="form-group col-sm-3">
				<label>Costo Mensual (Q):</label>
				<p>{{$ctrl.Carrera.CostoMensual}}</p>
			</div>
			<div class="form-group col-sm-3">
				<label>Costo Matrícula (Q):</label>
				<p>{{$ctrl.Carrera.CostoMatricula}}</p>
			</div>
			<div class="form-group col-sm-3">
				<label>Costo Inscripción (Q):</label>
				<p>{{$ctrl.Carrera.CostoInscripcion}}</p>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-6">
				<label>Detalles pago:</label>
				<p class="{{ $ctrl.ObtenerClaseCss($ctrl.Carrera.DetallesPago) }}">{{ $ctrl.ObtenerValorConFormato($ctrl.Carrera.DetallesPago)  }}</p>
			</div>
			<div class="form-group col-sm-6">
				<label>Promociones:</label>
				<p class="{{ $ctrl.ObtenerClaseCss($ctrl.Carrera.DetallesPromociones) }}">{{ $ctrl.ObtenerValorConFormato($ctrl.Carrera.DetallesPromociones)  }}</p>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-3">
				<label>Costo parqueo:</label>
				<p>{{$ctrl.Carrera.CostoParqueo}}</p>
			</div>
			<div class="form-group col-sm-3">
				<label>Disponibilidad de parqueo:</label>
				<div ng-if="$ctrl.Carrera.DispParqueo == 0">
					<p class="pNulo">No disponible</p>
				</div>
				<div ng-if="$ctrl.Carrera.DispParqueo == 1">
					<p class="pExito">Disponible</p>
				</div>
			</div>
			<div class="form-group col-sm-6">
				<label>Detalles parqueo:</label>
				<p class="{{ $ctrl.ObtenerClaseCss($ctrl.Carrera.DetalleParqueo) }}">{{ $ctrl.ObtenerValorConFormato($ctrl.Carrera.DetalleParqueo)  }}</p>
			</div>
		</div>
	</div><!-- Datos de costo -->
	<div id="tabs-3"  class="dvDatosBusqueda">
		<h4>Opción de beca</h4>
		<br/>
		<div class="row">
			<div class="form-group col-sm-2">
				<label>Aplica Beca:</label>
				<p>{{$ctrl.Carrera.AplicaBeca}}</p>
			</div>
			<div class="form-group col-sm-10">
				<label>Detalles Beca:</label>
				<p class="{{ $ctrl.ObtenerClaseCss($ctrl.Carrera.DetallesBeca) }}">{{ $ctrl.ObtenerValorConFormato($ctrl.Carrera.DetallesBeca)  }}</p>
			</div>
		</div>
		<h4>Requisitos para cierre</h4>
		<br/>
		<div class="row">
			<div class="form-group col-sm-2">
				<label>Requiere tesis:</label>
				<p>{{$ctrl.Carrera.ReqTesis}}</p>
			</div>
			<div class="form-group col-sm-2">
				<label>Requiere privado:</label>
				<p>{{$ctrl.Carrera.ReqPrivado}}</p>
			</div>
			<div class="form-group col-sm-2">
				<label>Requiere Maestría:</label>
				<p>{{$ctrl.Carrera.ReqMaestria}}</p>
			</div>
			<div class="form-group col-sm-2">
				<label>Requiere créditos:</label>
				<p>{{$ctrl.Carrera.ReqCreditos}}</p>
			</div>
			<div class="form-group col-sm-2">
				<label>Requiere EPS:</label>
				<p>{{$ctrl.Carrera.ReqEps}}</p>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-10">
				<label>Detalles Cierre:</label>
				<p class="{{ $ctrl.ObtenerClaseCss($ctrl.Carrera.DetallesCierre) }}">{{ $ctrl.ObtenerValorConFormato($ctrl.Carrera.DetallesCierre)  }}</p>
			</div>
		</div>
	</div><!-- Datos de cierre -->
	<div id="tabs-4"  class="dvDatosBusqueda">
		<h4>Jornadas</h4>
		<br/>
		<div class="row">
			<div class="form-group col-sm-4">
				<label>Matutina:</label>
				<p>{{$ctrl.Carrera.JornadaMatutina}}</p>
			</div>
			<div class="form-group col-sm-4">
				<label>Vespertina:</label>
				<p>{{$ctrl.Carrera.JornadaVespertina}}</p>
			</div>
			<div class="form-group col-sm-4">
				<label>Nocturna:</label>
				<p>{{$ctrl.Carrera.JornadaNocturna}}</p>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-4">
				<label>Sabatina:</label>
				<p>{{$ctrl.Carrera.JornadaSabatina}}</p>
			</div>
			<div class="form-group col-sm-4">
				<label>Dominical:</label>
				<p>{{$ctrl.Carrera.JornadaDominical}}</p>
			</div>
		</div>
		<!-- marodriguez 20180422 -->
		<div class="row">
			<div class="form-group col-sm-12">
				<label>Descripción jornada:</label>
				<p class="{{ $ctrl.ObtenerClaseCss($ctrl.Carrera.DescripcionHorarios) }}">{{ $ctrl.ObtenerValorConFormato($ctrl.Carrera.DescripcionHorarios)  }}</p>
			</div>
		</div>
		<!-- marodriguez 20180422 -->
	</div><!-- Datos de jornada -->
	<div id="tabs-5"  class="dvDatosBusqueda">
		<h4>Papelería de admisión</h4>
		<br/>
		<div class="row">
			<div class="form-group col-sm-10">
				<label>Nuevo Ingreso:</label>
				<textarea class="{{ $ctrl.ObtenerClaseCss($ctrl.Carrera.AdminisionNuevoIngreso) + ' ' +  'textAreaDetBusqueda' }}"
					disabled>{{ $ctrl.ObtenerValorConFormato($ctrl.Carrera.AdminisionNuevoIngreso) }}</textarea>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-10">
				<label>Reingreso:</label>
				<textarea class="{{ $ctrl.ObtenerClaseCss($ctrl.Carrera.AdmisionReingreso) + ' ' +  'textAreaDetBusqueda' }}"
					disabled>{{ $ctrl.ObtenerValorConFormato($ctrl.Carrera.AdmisionReingreso) }}</textarea>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-10">
				<label>Continuación:</label>
				<textarea class="{{ $ctrl.ObtenerClaseCss($ctrl.Carrera.AdmisionContinuacion) + ' ' +  'textAreaDetBusqueda' }}"
					disabled>{{ $ctrl.ObtenerValorConFormato($ctrl.Carrera.AdmisionContinuacion) }}</textarea>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-10">
				<label>Traslado de universidad:</label>
				<textarea class="{{ $ctrl.ObtenerClaseCss($ctrl.Carrera.AdmisionTraslado) + ' ' +  'textAreaDetBusqueda' }}"
					disabled>{{ $ctrl.ObtenerValorConFormato($ctrl.Carrera.AdmisionTraslado) }}</textarea>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-10">
				<label>Extranjero:</label>
				<textarea class="{{ $ctrl.ObtenerClaseCss($ctrl.Carrera.AdmisionExtranjero) + ' ' +  'textAreaDetBusqueda' }}"
					disabled>{{ $ctrl.ObtenerValorConFormato($ctrl.Carrera.AdmisionExtranjero) }}</textarea>
			</div>
		</div>
	</div><!-- Datos de Admisión -->
</div>
<br/>
<button class="btn btn-link" onclick="window.history.back();">Regresar</button>

<div id="mdCalificar" class="modal fade" role="dialog">
  <div class="modal-dialog">
	<div class="modal-content" style="width:80%;">
	  <div class="modal-header mdAdmin-Header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h3 class="modal-title">Dale una nota a este curso</h3>
	  </div>
	  <div class="modal-body">
			<p>¿Con cuantas estrellas calificás la información de este curso?</p>
			<div id="dvMensajeFormModal" class="alert hidden" style="font-weight: bold;">
				<button type="button" class="close" onclick="$('#dvMensajeFormModal').addClass('hidden');">&times;</button>
				<center><span id="spMensajeFormModal"></span></center>
			</div>
			<br/>
			<center>
				<div class="row">
					<div class="form-group col-sm-12 dvCalificacion">
						<label>Nota individual:</label>
						<br/>
						<img ng-src="{{ '../../assets/img/' + $ctrl.ObtenerImagenEstrella(1,2) }}" ng-click="$ctrl.Votar(1)"/>
						<img ng-src="{{ '../../assets/img/' + $ctrl.ObtenerImagenEstrella(2,2) }}" ng-click="$ctrl.Votar(2)"/>
						<img ng-src="{{ '../../assets/img/' + $ctrl.ObtenerImagenEstrella(3,2) }}" ng-click="$ctrl.Votar(3)"/>
						<img ng-src="{{ '../../assets/img/' + $ctrl.ObtenerImagenEstrella(4,2) }}" ng-click="$ctrl.Votar(4)"/>
						<img ng-src="{{ '../../assets/img/' + $ctrl.ObtenerImagenEstrella(5,2) }}" ng-click="$ctrl.Votar(5)"/>
					</div>
				</div>
			</center>
	  </div>
	  <div class="modal-footer">
		<center>
			<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		</center>
	  </div>
	</div>

  </div>
</div><!-- Modal para calificar -->

<div id="mdPensum" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width:80%;">
    <div class="modal-content">
      <div class="modal-header mdAdmin-Header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <center><h3 class="modal-title">Pensum</h3></center>
      </div><!-- Modal Header -->
      <div class="modal-body">
				<center>
					<div style="max-height:500px; overflow-y: scroll;">
						<div ng-repeat="Periodo in $ctrl.Periodos" class="dvPensum">
							<center>
								<span>{{"Periodo " + Periodo.Orden}}</span>
								<button class="btn btnFormMini"  ng-click="$ctrl.CambioDespliegue(Periodo);" >...</button>
								<table class="table tblCursosPeriodo" style="margin-top:10px;" ng-hide="Periodo.BanderaDesp">
									<tr>
										<th>Nombre</th>
										<th>Descripcion</th>
									</tr>
									<tr ng-repeat="Curso in Periodo.Cursos">
										<td>{{Curso.Nombre}}</td>
										<td>{{Curso.Descripcion}}</td>
									</tr>
								</table>
							</center>
						</div>
					</div>
				</center>
      </div><!-- Modal Body -->
      <div class="modal-footer">
				<center>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</center>
      </div><!-- Modal Footer -->
    </div><!-- Modal content -->

  </div>
</div>

<script>
$( function() {
	$( "#tabs" ).tabs();
});



</script>
