<center>
<div id="freeContent">
  <div class="containerbutt">
    <center>
  <h1 style="color:white">Hola {{ UsuarioLogueado.PrimerNombre }}</h1>
  <a href="descubritelo2.html"><button id="freeButton1" style="color:black; margin-top: 10px;">Iniciemos</button></a>
</center>
  </div>

</div>	
</center>