
<h3>{{ 'Detalles de registro de orientación con Id no. ' + $ctrl.Orientacion.Id }}</h3>
<br/>
<div id="tabs">
  <ul>
  	<!-- <li><a href="#tabs-1">Paso 1</a></li> -->
  	<li><a href="#tabs-1" id="aTab1">Paso 1</a></li>
  	<li><a href="#tabs-2" id="aTab2">Paso 2</a></li>
    <li><a href="#tabs-3" id="aTab3">Paso 3</a></li>
  </ul>
  <div id="tabs-1">
    <small>
      Vamos a comenzar con una probada de lo que viene, por lo que no te preocupés si te hace falta espacio
      o crees que hay cosas que no estás seguro de la respuesta, tú respondélo.
      En tu primera sesión vamos a explotar toda esta información juntos y verás todo lo que vas a descubrir.”
      Por ahora solo te pido que seas 1000% honesto y respondás sin pena.
    </small>
    <br/>
    <h4>Bien, comencemos a descubrir juntos tu pasión.</h4>
    <p>¿Qué actividad(es) te apasiona mucho mucho mucho hacer?</p>
    <div class="row">
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="- - - -" ng-model="$ctrl.Orientacion.Actividad1" disabled>
      </div>
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="- - - -"  ng-model="$ctrl.Orientacion.Actividad2" disabled>
      </div>
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="- - - -"  ng-model="$ctrl.Orientacion.Actividad3" disabled>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="- - - -"  ng-model="$ctrl.Orientacion.Actividad4" disabled>
      </div>
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="- - - -"  ng-model="$ctrl.Orientacion.Actividad5" disabled>
      </div>
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="- - - -"  ng-model="$ctrl.Orientacion.Actividad6" disabled>
      </div>
    </div>
    <small>**Te doy una pista, por ejemplo: construir, crear, investigar, organizar, hablar, deportes, pintar viajar, comer, etc. Y si por ejemplo poner deportes, poné cuál, si ponés construir, poné qué y así con las demás.</small>
    <br/>
    <br/>
    <p>¿Qué objeto(s) del mundo te ha llamado mucho mucho mucho la atención desde que eras pequeño y hasta hoy en día te sigue(n) interesando)?</p>
    <div class="row">
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="- - - -"  ng-model="$ctrl.Orientacion.Objeto1" disabled>
      </div>
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="- - - -"  ng-model="$ctrl.Orientacion.Objeto2" disabled>
      </div>
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="- - - -"  ng-model="$ctrl.Orientacion.Objeto3" disabled>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="- - - -"  ng-model="$ctrl.Orientacion.Objeto4" disabled>
      </div>
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="- - - -"  ng-model="$ctrl.Orientacion.Objeto5" disabled>
      </div>
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="- - - -"  ng-model="$ctrl.Orientacion.Objeto6" disabled>
      </div>
    </div>
    <small>**Te doy otra pista, por ejemplo: el ser humano (su interior, su comportamiento), naturaleza, tecnología, animales, alimentos, ropa, casas (construir, decorar), universo, carros, video juegos, etc.</small>
    <br/>
    <br/>
    <p>¿Cuál(es) ha sido tu logro más importante del que estés muy muy muy orgulloso y sintás que no hubo nadie mejor que tu para eso? </p>
    <div class="row">
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="- - - -" ng-model="$ctrl.Orientacion.Logro1" disabled>
      </div>
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="- - - -" ng-model="$ctrl.Orientacion.Logro2" disabled>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="- - - -" ng-model="$ctrl.Orientacion.Logro3" disabled>
      </div>
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="- - - -" ng-model="$ctrl.Orientacion.Logro4" disabled>
      </div>
    </div>
    <small>Pueden ser trofeos, medallas, reconocimientos deportivos, de estudio, algo que hayas organizado, creado, una conferencia. </small>
    <br/>
    <br/>
  </div><!-- Paso 1 -->
  <div id="tabs-2">
    <small>
      Vamos a comenzar con una probada de lo que viene, por lo que no te preocupés si te hace falta espacio
      o crees que hay cosas que no estás seguro de la respuesta, tú respondélo.
      En tu primera sesión vamos a explotar toda esta información juntos y verás todo lo que vas a descubrir.”
      Por ahora solo te pido que seas 1000% honesto y respondás sin pena.
    </small>
    <br/>
    <br/>
    <h4>Ahora</h4>
    <p>¿Para qué querés hacer eso que te apasiona? Podés marcar más de una.</p>
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" ng-model="$ctrl.Orientacion.Pregunta1Opcion1"
        ng-true-value="1" ng-false-value="0" disabled>
      Para saber (por ejemplo para conocer, aprender entender)
    </label>
    <br/>
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" ng-model="$ctrl.Orientacion.Pregunta1Opcion2"
        ng-true-value="1" ng-false-value="0" disabled>
      Para expresarme (por ejemplo para decirlo para que te escuchen, te vean)
    </label>
    <br/>
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" ng-model="$ctrl.Orientacion.Pregunta1Opcion3"
        ng-true-value="1" ng-false-value="0" disabled>
      Para dirigir (por ejemplo para llevar a un grupo a hacer algo, para mandar)
    </label>
    <br/>
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" ng-model="$ctrl.Orientacion.Pregunta1Opcion4"
        ng-true-value="1" ng-false-value="0" disabled>
      Para servir a los demás (para que le sea útil a alguien, para enseñar)
    </label>
    <h4>Y...</h4>
    <p>¿Cómo quisieras hacer eso que te apasiona? Podés marcar más de una.</p>
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" ng-model="$ctrl.Orientacion.Pregunta2Opcion1"
        ng-true-value="1" ng-false-value="0" disabled>
      Pensando (para crear algo nuevo, pensar soluciones, emprender)
    </label>
    <br/>
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" ng-model="$ctrl.Orientacion.Pregunta2Opcion2"
        ng-true-value="1" ng-false-value="0" disabled>
      Sintiendo (con tus emociones, intuiciones, inspiración)
    </label>
    <br/>
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" ng-model="$ctrl.Orientacion.Pregunta2Opcion3"
        ng-true-value="1" ng-false-value="0" disabled>
      Haciendo (manipulando cosas, poniendo en práctica, estando en acción)
    </label>
    <br/>
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" ng-model="$ctrl.Orientacion.Pregunta2Opcion4"
        ng-true-value="1" ng-false-value="0" disabled>
      Diciendo (hablando, dando a conocer, conferencias)
    </label>
    <h4>Por último</h4>
    <p>¿En donde quisieras hacer eso que te apasiona? Podés marcar más de una.</p>
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" ng-model="$ctrl.Orientacion.Pregunta3Opcion1"
        ng-true-value="1" ng-false-value="0" disabled>
      En un lugar jerárquico (donde tengás que ir ascendiendo de puestos hasta llegar a ser jefe o gerente)
    </label>
    <br/>
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input"  ng-model="$ctrl.Orientacion.Pregunta3Opcion2"
        ng-true-value="1" ng-false-value="0" disabled>
      En un lugar estructurado (donde siguás instrucciones, llevés agenda, todo sea organizado)
    </label>
    <br/>
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input"  ng-model="$ctrl.Orientacion.Pregunta3Opcion3"
        ng-true-value="1" ng-false-value="0" disabled>
      En un lugar competitivo (donde tengás que estar entrenando y mejorando contigo mismo por ser el mejor)
    </label>
    <br/>
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input"  ng-model="$ctrl.Orientacion.Pregunta3Opcion4"
        ng-true-value="1" ng-false-value="0" disabled>
      En un lugar con gente (donde haya ruido, bromas, trabajo en equipo)
    </label>
    <br/>
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input"  ng-model="$ctrl.Orientacion.Pregunta3Opcion5"
        ng-true-value="1" ng-false-value="0" disabled>
      En un lugar sin gente (donde no haya ruido y estés solo tú y tu trabajo)
    </label>
    <br/>
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input"  ng-model="$ctrl.Orientacion.Pregunta3Opcion6"
        ng-true-value="1" ng-false-value="0" disabled>
      En un lugar abierto (donde estés al aire libre, con la naturaleza, estar, viajando, o simplemente estar fuera haciendo tu trabajo)
    </label>
    <br/>
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input"  ng-model="$ctrl.Orientacion.Pregunta3Opcion7"
        ng-true-value="1" ng-false-value="0" disabled>
      En un lugar cerrado (con tu oficina o espacio privado, tu escritorio, tu computadora y todos tus implementos)
    </label>
    <br/>
    <br/>
  </div><!-- Paso 2 -->
  <div id="tabs-3">
    <h4>Ahora...contános un poquito de tu familia...</h4>
    <p>¿Qué estudió tu mamá en la u? Dejála en blanco si no estudió</p>
    <div class="row">
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="- - - -" ng-model="$ctrl.Orientacion.EstudioMama" disabled>
      </div>
      <div class="form-group col-sm-3">
        <label class="form-check-label">
          <!--<input type="checkbox" class="form-check-input" ng-model="$ctrl.Orientacion.GraduacionPapa"
            ng-true-value="1" ng-false-value="0">
          -->
          ¿Se graduó?
          <select  class="form-control-sm" ng-model="$ctrl.Orientacion.GraduacionPapa">
            <option ng-value="1">Sí</option>
            <option ng-value="0">No</option>
          </select>
        </label>
      </div>
    </div>
    <p>¿En qué trabaja tu mamá?</p>
    <div class="row">
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="- - - -" ng-model="$ctrl.Orientacion.TrabajoMama" disabled>
      </div>
    </div>
    <p>¿Qué estudió tu papá en la u? Dejála en blanco si no estudió</p>
    <div class="row">
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="- - - -" ng-model="$ctrl.Orientacion.EstudioPapa" disabled>
      </div>
      <div class="form-group col-sm-3">
        <label class="form-check-label">
          <!--<input type="checkbox" class="form-check-input" ng-model="$ctrl.Orientacion.GraduacionPapa"
            ng-true-value="1" ng-false-value="0">
          -->
          ¿Se graduó?
          <select  class="form-control-sm" ng-model="$ctrl.Orientacion.GraduacionPapa">
            <option ng-value="1">Sí</option>
            <option ng-value="0">No</option>
          </select>
        </label>
      </div>
    </div>
    <p>¿En qué trabaja tu papá?</p>
    <div class="row">
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="- - - -" ng-model="$ctrl.Orientacion.TrabajoPapa" disabled>
      </div>
    </div>
    <p>Si tenés hermanos de la u...¿Qué estudian? Si no tenés dejála en blanco</p>
    <div class="row">
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="- - - -" ng-model="$ctrl.Orientacion.EstudiosHermanos1" disabled>
      </div>
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="- - - -" ng-model="$ctrl.Orientacion.EstudiosHermanos2" disabled>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="- - - -" ng-model="$ctrl.Orientacion.EstudiosHermanos3" disabled>
      </div>
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="- - - -" ng-model="$ctrl.Orientacion.EstudiosHermanos4" disabled>
      </div>
    </div>
    <p>¿Qué carreras u otras cosas han estudiado tus abuelos, tíos o primos en la u?</p>
    <div class="row">
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="- - - -" ng-model="$ctrl.Orientacion.EstudiosFamiliares1" disabled>
      </div>
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="- - - -" ng-model="$ctrl.Orientacion.EstudiosFamiliares2" disabled>
      </div>
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="- - - -" ng-model="$ctrl.Orientacion.EstudiosFamiliares3" disabled>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="- - - -" ng-model="$ctrl.Orientacion.EstudiosFamiliares4" disabled>
      </div>
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="- - - -" ng-model="$ctrl.Orientacion.EstudiosFamiliares5" disabled>
      </div>
      <div class="form-group col-sm-3">
        <input type="text" class="form-control" placeholder="- - - -" ng-model="$ctrl.Orientacion.EstudiosFamiliares6" disabled>
      </div>
    </div>
    <small>**Pueden ser diplomados, cursos libres, maestrías, especializaciones, etc.</small>
    <br/>
    <br/>
  </div><!-- Paso 3 -->
</div><!-- Pestañas -->

<script>
  $( function() {
    $( "#tabs" ).tabs();
    //$( "#tabs" ).tabs( "option", "disabled", [ 1, 2, 3 ] );
  });
</script>
