<h3>{{$ctrl.Titulo}}</h3>
<br/>
<div class="row">
	<div class="form-group col-sm-6">
		<label>Nombre:</label>
		<input type="text" class="form-control" ng-model="$ctrl.Carrera.Nombre" placeholder="Nombre" maxlength="200">
	</div>
</div>
<b> (*) Opcional</b>
<br/><br/>
<b>Datos de jornada en formato 24 horas (HH:mm)</b>
<br/>
<br/>
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Datos generales</a></li>
    <li><a href="#tabs-2">Costo</a></li>
	<li><a href="#tabs-4">Beca</a></li>
	<li><a href="#tabs-5">Requisitos cierre</a></li>
	<li><a href="#tabs-6">Jornada</a></li>
	<li><a href="#tabs-7">Admisión</a></li>
  </ul>
  <div id="tabs-1">
	<div class="row">
		<div class="form-group col-sm-6">
			<label>Grupo:</label>
			<select  class="form-control" ng-model="$ctrl.Carrera.Grupo">
				<option ng-repeat="Grupo in $ctrl.Grupos" ng-value="{{Grupo.Id}}">{{Grupo.Nombre}}</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-6">
			<label>(*) Descripcion:</label><br/>
			<!--<input type="text" class="form-control" ng-model="$ctrl.Carrera.Detalles" placeholder="Detalles acreditacion">-->
			<textarea style="width:100%; height:100px;" ng-model="$ctrl.Carrera.Descripcion" placeholder="Descripción carrera"></textarea>
			<small id="" class="form-text text-muted">Descripción vista por los usuarios.</small>
		</div>
		<div class="form-group col-sm-6">
			<label>(*) Descripcion Interna:</label><br/>
			<!--<input type="text" class="form-control" ng-model="$ctrl.Carrera.Detalles" placeholder="Detalles acreditacion">-->
			<textarea style="width:100%; height:100px;" ng-model="$ctrl.Carrera.DescripcionInterna" placeholder="Descripción interna"></textarea>
			<small id="" class="form-text text-muted">Descripción utilizada unicamente en sitio administrativo.</small>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-3">
			<label>(*) Nombre Facultad:</label>
			<input type="text" class="form-control" ng-model="$ctrl.Carrera.NombreFacultad" placeholder="Nombre Facultad" maxlength="100">
		</div>
		<div class="form-group col-sm-3">
			<label>(*) Telefono Facultad:</label>
			<input type="text" class="form-control" ng-model="$ctrl.Carrera.TelefonoFacultad" placeholder="Telefono Facultad" maxlength="30">
		</div>
		<!-- marodriguez 20180422 -->
		<div class="form-group col-sm-3">
			<label>(*) Correo Facultad:</label>
			<input type="text" class="form-control" ng-model="$ctrl.Carrera.CorreoFacultad" placeholder="Correo Facultad" maxlength="100">
		</div>
		<!-- marodriguez 20180422 -->
	</div>
	<!-- marodriguez 20180422 -->
	<div class="row">
		<h4> Modalidad </h4>
		<div class="form-group col-sm-2">
			<div class="checkbox">
				<label><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="$ctrl.Carrera.ModalidadPresencial"><b>Presencial</b></label>
			</div>
		</div>
		<div class="form-group col-sm-2">
			<div class="checkbox">
				<label><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="$ctrl.Carrera.ModalidadSemiPresencial"><b>Semi Presencial</b></label>
			</div>
		</div>
		<div class="form-group col-sm-2">
			<div class="checkbox">
				<label><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="$ctrl.Carrera.ModalidadEnLinea"><b>En Línea</b></label>
			</div>
		</div>
		<div class="form-group col-sm-6">
			<label>(*) Descripción de modalidad:</label><br/>
			<!--<input type="text" class="form-control" ng-model="$ctrl.Carrera.Detalles" placeholder="Detalles acreditacion">-->
			<textarea style="width:100%; height:100px;" ng-model="$ctrl.Carrera.DescripcionModalidad" placeholder="Descripción modalidad" maxlength="200"></textarea>
		</div>
	</div>
	<!-- marodriguez 20180422 -->
	<div class="row">
		<!-- marodriguez 20180422 -->
		<!--
		<div class="form-group col-sm-3">
			<label>(*) Modalidad:</label>
			<select  class="form-control" ng-model="$ctrl.Carrera.Modalidad">
				<option value=""></option>
				<option value="P">Presencial</option>
				<option value="SP">Semi presencial</option>
				<option value="L">En línea</option>
			</select>
		</div>
		-->
		<!-- marodriguez 20180422 -->
		<div class="form-group col-sm-2">
			<div class="checkbox">
				<label><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="$ctrl.Carrera.Certi_Internacional"><b>Certificación Internacional</b></label>
			</div>
		</div>
	</div>
  </div>
  <div id="tabs-2">
	<div class="row">
		<div class="form-group col-sm-3">
		<label>(*) Costo mensual (Q):</label>
		<input type="number" class="form-control" ng-model="$ctrl.Carrera.CostoMensual" placeholder="Costo Mensual" min="0.00">
		</div>
		<div class="form-group col-sm-3">
			<label>(*) Costo matrícula (Q):</label>
		<input type="number" class="form-control" ng-model="$ctrl.Carrera.CostoMatricula" placeholder="Costo Mensual">
		</div>
		<div class="form-group col-sm-3">
			<label>(*) Costo Inscripción (Q):</label>
		<input type="number" class="form-control" ng-model="$ctrl.Carrera.CostoInscripcion" placeholder="Costo Mensual">
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-3">
			<label>(*) Detalles de pago</label><br/>
			<textarea style="width:100%; height:100px;" ng-model="$ctrl.Carrera.DetallesPago"></textarea>
		</div>
		<div class="form-group col-sm-3">
			<label>(*) Detalles promociones</label><br/>
			<textarea style="width:100%; height:100px;" ng-model="$ctrl.Carrera.DetallesPromociones"></textarea>
		</div>
	</div>
  </div>
  <div id="tabs-4">
	<div class="row">
		<div class="form-group col-sm-3">
			<div class="checkbox">
				<label><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="$ctrl.Carrera.AplicaBeca"><b>Aplica beca</b></label>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-6">
			<label>(*) Detalles beca:</label><br/>
			<!--<input type="text" class="form-control" ng-model="$ctrl.Carrera.Detalles" placeholder="Detalles acreditacion">-->
			<textarea style="width:100%; height:100px;" ng-model="$ctrl.Carrera.DetallesBeca" placeholder="Detalles beca"></textarea>
		</div>
	</div>
  </div>
  <div id="tabs-5">
	<h3>Requisitos de cierre</h3>
	<div class="row">
		<div class="form-group col-sm-2">
			<div class="checkbox">
				<label><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="$ctrl.Carrera.ReqTesis"><b>Tesis</b></label>
			</div>
		</div>
		<div class="form-group col-sm-2">
			<div class="checkbox">
				<label><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="$ctrl.Carrera.ReqPrivado"><b>Privado</b></label>
			</div>
		</div>
		<div class="form-group col-sm-2">
			<div class="checkbox">
				<label><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="$ctrl.Carrera.ReqMaestria"><b>Maestria</b></label>
			</div>
		</div>
		<div class="form-group col-sm-2">
			<div class="checkbox">
				<label><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="$ctrl.Carrera.ReqCreditos"><b>Créditos</b></label>
			</div>
		</div>
		<div class="form-group col-sm-2">
			<div class="checkbox">
				<label><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="$ctrl.Carrera.ReqEps"><b>EPS</b></label>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-6">
			<label>(*) Detalles cierre:</label><br/>
			<!--<input type="text" class="form-control" ng-model="$ctrl.Carrera.Detalles" placeholder="Detalles acreditacion">-->
			<textarea style="width:100%; height:100px;"  ng-model="$ctrl.Carrera.DetallesCierre" placeholder="Detalles cierre"></textarea>
		</div>
	</div>
  </div>
  <div id="tabs-6">
  	<div class="row">
		<h4> Jornada Matutina </h4>
		<div class="form-group col-sm-3">
			<label>(*) Inicio:</label>
			<input type="text"  class="form-control" ng-model="$ctrl.Carrera.HIniMat" placeholder="HH:mm">
		</div>
		<div class="form-group col-sm-3">
			<label>(*) Fin:</label>
			<input type="text" class="form-control" ng-model="$ctrl.Carrera.HFinMat"  placeholder="HH:mm">
		</div>
	</div>
	<div class="row">
		<h4> Jornada Vespertina </h4>
		<div class="form-group col-sm-3">
			<label>(*) Inicio:</label>
			<input type="text" class="form-control" ng-model="$ctrl.Carrera.HIniVesp"  placeholder="HH:mm">
		</div>
		<div class="form-group col-sm-3">
			<label>(*) Fin:</label>
			<input type="text" class="form-control" ng-model="$ctrl.Carrera.HFinVesp"  placeholder="HH:mm">
		</div>
	</div>
	<div class="row">
		<h4> Jornada Nocturna </h4>
		<div class="form-group col-sm-3">
			<label>(*) Inicio:</label>
			<input type="text" class="form-control" ng-model="$ctrl.Carrera.HIniNoc"  placeholder="HH:mm">
		</div>
		<div class="form-group col-sm-3">
			<label>(*) Fin:</label>
			<input type="text" class="form-control" ng-model="$ctrl.Carrera.HFinNoc"  placeholder="HH:mm">
		</div>
	</div>
	<div class="row">
		<h4> Jornada Sabatina </h4>
		<div class="form-group col-sm-3">
			<label>(*) Inicio:</label>
			<input type="text" class="form-control" ng-model="$ctrl.Carrera.HIniSab"  placeholder="HH:mm">
		</div>
		<div class="form-group col-sm-3">
			<label>(*) Fin:</label>
			<input type="text" class="form-control" ng-model="$ctrl.Carrera.HFinSab"  placeholder="HH:mm">
		</div>
	</div>
	<div class="row">
		<h4> Jornada Dominical </h4>
		<div class="form-group col-sm-3">
			<label>(*) Inicio:</label>
			<input type="text" class="form-control" ng-model="$ctrl.Carrera.HIniDom"  placeholder="HH:mm">
		</div>
		<div class="form-group col-sm-3">
			<label>(*) Fin:</label>
			<input type="text" class="form-control" ng-model="$ctrl.Carrera.HFinDom"  placeholder="HH:mm">
		</div>
	</div>
	<!-- marodriguez 20180422 -->
	<div class="row">
		<div class="form-group col-sm-6">
			<label>(*) Descripción de horarios:</label><br/>
			<!--<input type="text" class="form-control" ng-model="$ctrl.Carrera.Detalles" placeholder="Detalles acreditacion">-->
			<textarea style="width:100%; height:100px;" ng-model="$ctrl.Carrera.DescripcionHorarios" placeholder="Descripción jornada" maxlength="200"></textarea>
		</div>
	</div>
	<!-- marodriguez 20180422 -->
	<br/>
  </div>
  <div id="tabs-7">
	<div class="row">
		<div class="form-group col-sm-6">
			<label>(*) Admisión nuevo ingreso:</label><br/>
			<!--<input type="text" class="form-control" ng-model="$ctrl.Carrera.Detalles" placeholder="Detalles acreditacion">-->
			<textarea style="width:100%; height:100px;"  ng-model="$ctrl.Carrera.DetallesNuevoIngreso" placeholder="Detalles nuevo ingreso"></textarea>
		</div>
		<div class="form-group col-sm-6">
			<label>(*) Admisión reingreso:</label><br/>
			<!--<input type="text" class="form-control" ng-model="$ctrl.Carrera.Detalles" placeholder="Detalles acreditacion">-->
			<textarea style="width:100%; height:100px;"  ng-model="$ctrl.Carrera.DetallesReingreso" placeholder="Detalles Reingreso"></textarea>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-6">
			<label>(*) Admisión continuación:</label><br/>
			<!--<input type="text" class="form-control" ng-model="$ctrl.Carrera.Detalles" placeholder="Detalles acreditacion">-->
			<textarea style="width:100%; height:100px;"  ng-model="$ctrl.Carrera.DetallesContinuacion" placeholder="Detalles Continuación"></textarea>
		</div>
		<div class="form-group col-sm-6">
			<label>(*) Admisión Traslado:</label><br/>
			<!--<input type="text" class="form-control" ng-model="$ctrl.Carrera.Detalles" placeholder="Detalles acreditacion">-->
			<textarea style="width:100%; height:100px;"  ng-model="$ctrl.Carrera.DetallesTraslado" placeholder="Detalles Traslado"></textarea>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-6">
			<label>(*) Admisión Estudiante extranjero:</label><br/>
			<!--<input type="text" class="form-control" ng-model="$ctrl.Carrera.Detalles" placeholder="Detalles acreditacion">-->
			<textarea style="width:100%; height:100px;"  ng-model="$ctrl.Carrera.DetallesExtranjero" placeholder="Detalles Extranjero"></textarea>
		</div>
	</div>
  </div>
</div>
<br/>



<button class="btn btnForm" ng-click="$ctrl.OperacionForm()"	>Guardar</button>
<button class="btn btn-link" onclick="window.location = 'admin-main.html#!/mant-carrera'; ">Regresar</button>

  <script>
  $( function() {
    $( "#tabs" ).tabs();
  } );
  </script>
