<center>

<h3>{{'Status de mi orientación ' + $ctrl.IdOrientacion}}</h3>
<!--<h3 class="txtColor">Quiero ver mi avance</h3>-->
<br/>
<br/>
<div class="row dvOrientacion" style="width:70%;">
	<div class="form-group col-sm-4">
		<label>Mi primer test</label><br/>
		<div class="{{ 'alert ' + $ctrl.Orientacion.ClaseCss1 }}">
			{{ $ctrl.ColocarTextoEstadoExamen($ctrl.Orientacion.DescExamen1) }}
		</div>
	</div>
	<div class="form-group col-sm-4">
		<label>Mi segundo test</label><br/>
		<div class="{{ 'alert ' + $ctrl.Orientacion.ClaseCss2 }}">
			{{ $ctrl.ColocarTextoEstadoExamen($ctrl.Orientacion.DescExamen2) }}
		</div>
	</div>
	<div class="form-group col-sm-4">
		<label>Mi tercer test</label><br/>
		<div class="{{ 'alert ' + $ctrl.Orientacion.ClaseCss3 }}">
			{{ $ctrl.ColocarTextoEstadoExamen($ctrl.Orientacion.DescExamen3) }}
		</div>
	</div>
</div>
<br/>
<br/>
<br/>
<div class="row dvOrientacion" style="width:70%;">
	<div class="form-group col-sm-4">
		<label>Mi opción campeona</label><br/>
		<text>{{ $ctrl.ColocarValorNoDisponible($ctrl.Orientacion.NomGrupo1) }}</text>
	</div>
	<div class="form-group col-sm-4">
		<label>Mi segundo lugar</label><br/>
		<text>{{ $ctrl.ColocarValorNoDisponible($ctrl.Orientacion.NomGrupo2) }}</text>
	</div>
	<div class="form-group col-sm-4">
		<label>Mi tercer lugar</label><br/>
		<text>{{ $ctrl.ColocarValorNoDisponible($ctrl.Orientacion.NomGrupo3) }}</text>
	</div>
</div>
<br/>
<br/>
<button class="btn btn-link" onclick="window.history.back();">Regresar</button>
</center>
