<center>
<!-- <h2>Listado de grupos de busqueda</h2> -->
<div id="dvBusquedaGrupo">
	<h4 class="txtColor">¿Y ahora?</h4><br/>

	<div class="row" style="width:90%; max-width: 800px;">
		<div class="form-group col-sm-12" >
			<input type="text" class="form-control" ng-model="$ctrl.TextBusqueda" placeholder="Busqueda rapida">
		</div>
		<!--
		<div class="form-group col-sm-2">
			<button class="btn btnFormMini"><span class="glyphicon glyphicon-search"></button>
		</div>
		-->
	</div>
	<br/>
	<center>
		<small>¿Ya no querés esta categoría? No te precupués, podés regresar y escoger otra, aun no ha sido usada tu búsqueda.</small><br/>
		<button class="btn btn-link" ng-click="$ctrl.Regresar()">Regresar</button>
	</center>
	<br/>
	<div style="width:90%; max-width: 800px; height:500px; overflow-y: scroll;">
		<div class="list-group" style="">
		  <a style="cursor:pointer;" ng-click="$ctrl.SeleccionarTipo(Grupo)" class="list-group-item list-group-item-action flex-column align-items-start" ng-repeat="Grupo in $ctrl.Grupos | filter:$ctrl.TextBusqueda">
			<div class="d-flex w-100 justify-content-between" style="padding: 15px 15px;">
			  <span class="spOpcionBusqueda">{{Grupo.Nombre}}</span>
			</div>
		  </a>
		</div>
	</div>
</div>
<div id="dvExito" class="hidden">
	<h6>Ahora andá a “mis búsquedas” y ya vas a encontrar el estudio que querés activado. Comenzá a usarlo y sacále el jugo.</h6>
	<button class="btn btn-link" onclick=" window.location = 'user-main.html#!/list-busqueda'; ">Ir a mis búsquedas</button>
</div>
<br/>

</center>

<div id="mdConfirmacionBusqueda" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style="width:90%">
      <div class="modal-header mdAdmin-Header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <center>
			<h4 class="modal-title">Estás listo para usar tu búsqueda</h4>
		</center>
      </div>
      <div class="modal-body">
        <center>
			<p>¿Confirmás que querés usar tu búsqueda para <b>{{$ctrl.GrupoABuscar.Nombre}}?</b></p> <br/>
			<div class="alert alert-danger" style="width:90%; max-width: 800px;">
				<b>
					<div ng-if="$ctrl.EsPrueba =='0'">
					Una vez que aceptés, se te descontará una búsqueda de “mis búsquedas disponibles”. El estudio que elijás no podrá ser cambiado. <br/>
					Tené en cuenta que la búsqueda que hagás permanecerá en tu perfil 3 días para que podás verla las veces que querrás, luego será deshabilitada.
					</div>
					<div ng-if="$ctrl.EsPrueba =='1'">
						¡Queremos que estés tranquilo!, por eso te hemos regalado una búsqueda de prueba, para que podás ver como funciona Escoly y te des cuenta por qué somos los mejores.
					</div>
				</b>
			</div>
		</center>
      </div>
      <div class="modal-footer">
		<center>
			<button class="btn btnFormMini" ng-click="$ctrl.ConfirmarBusqueda()">¡Listo!</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">Mejor otra</button>
		</center>
      </div>
    </div>

  </div>
</div>
