<center>
	<h4 class="txtColor">¡Todas las opciones que necesitás ver en un solo lugar!</h4>
</center>
<br/>
<h3 class="txtColor">{{$ctrl.GrupoBusqueda}}</h3>
<button data-toggle="collapse" data-target="#dvFiltros" class="btn btnFormMini" title="Ver/quitar filtros">filtrá por…</button>
<br/>
<small>Marcá el corazón para agregar o quitar una opción de favoritos</small>
<br/>
<div class="collapse" id="dvFiltros">
	<div class="row">
		<div class="form-group col-sm-3">
			<label>Jornada:</label>
			<select  class="form-control" ng-model="$ctrl.Jornada" ng-change="$ctrl.ColocarFiltroJornada()">
				<option value=""></option>
				<option value="Matutina">Matutina</option>
				<option value="Vespertina">Vespertina</option>
				<option value="Nocturna">Nocturna</option>
				<option value="Sabatina">Sabatina</option>
				<option value="Dominical">Dominical</option>
			</select>
		</div>
		<div class="form-group col-sm-3">
			<label>Departamento:</label>
			<select  class="form-control" ng-model="$ctrl.DepartamentoBusqueda"
				ng-options="item.Id as item.Nombre for item in $ctrl.Departamentos"><!-- ng-change="$ctrl.CambioDepartamento()" -->
				<option value=""></option>
			</select>
		</div>
		<!--
		<div class="form-group col-sm-3">
			<label>Municipio:</label>
			<select  class="form-control" ng-model="$ctrl.MunicipioBusqueda" ng-options="item.Id as item.Nombre for item in $ctrl.Municipios">
				<option value=""></option>
			</select>
		</div>
		-->
		<div class="form-group col-sm-3">
			<label>Duración:</label>
			<select ng-model="$ctrl.DuracionBusqueda" class="form-control">
				<option value=""></option>
				<option value="3">3 meses</option>
				<option value="6">6 meses</option>
				<option value="12">1 año</option>
				<option value="18">1 año y medio</option>
				<option value="24">2 años</option>
				<option value="36">3 años</option>
				<option value="48">4 años</option>
				<option value="60">5 años</option>
			</select>
		</div>
		<div class="form-group col-sm-3">
			<label>Calificación de estrellas por otros usuarios:</label>
			<select ng-model="$ctrl.NotaBusqueda" class="form-control">
				<option value=""></option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-3">
			<label>Costo mensual:</label>
			<div class="row">
				<div class="form-group col-sm-6">
					<label>Min:</label>
					<input type="number" ng-model="$ctrl.CostoMensualMin" class="form-control" id="inpFiltroCostoBusquedaMensualMin" />
				</div>
				<div class="form-group col-sm-6">
					<label>Max:</label>
					<input type="number" ng-model="$ctrl.CostoMensualMax" class="form-control" id="inpFiltroCostoBusquedaMensualMax" />
				</div>
			</div>
			<button class="btn btnFiltro" ng-click="$ctrl.SetearValoresdeFiltro()">Filtrar</button>
		</div>
	</div>
</div><!-- Filtros -->
<br/>
<div id="tabs" class="dvTabsBusqueda">
  <ul>
    <li><a href="#tabs-1">General</a></li>
    <li><a href="#tabs-2">Favoritos</a></li>
  </ul>
  <div id="tabs-1">
	<br/>
	<div class="list-group" style="width:100%;">
	  <a class="list-group-item list-group-item-action flex-column align-items-start"
			ng-repeat="Busqueda in $ctrl.Busquedas | filter:{ IdDepartamento:$ctrl.DepartamentoBusqueda }
				| filter:{ Duracion:$ctrl.DuracionBusqueda}
				| filter: $ctrl.MenorIgualA('CostoMensual', $ctrl.CostoMensualMaxBusqueda)
				| filter: $ctrl.MayorIgualA('CostoMensual', $ctrl.CostoMensualMinBusqueda)
				| filter:{ Nota:$ctrl.NotaBusqueda }
				| filter: $ctrl.FiltrarPorJornada($ctrl.Jornada) ">
		<table style="width:100%;">
			<tr>
				<td style="width:15%; padding:10px 10px;">
					<img ng-src="{{ Busqueda.Imagen }}" style="width:90px;" />
				</td>
				<td  style="width:75%;">
					<div ng-click="$ctrl.IrADetalle(Busqueda);" style="cursor: pointer;">
					  <span class="spTituloBusqueda">{{Busqueda.Carrera}}</span>
					</div>
					<p>	{{Busqueda.Universidad}} <br/> 	{{Busqueda.Departamento + ", " + Busqueda.Municipio}} </p>
					<div style="margin-bottom: 5px;">
						<img  style="width:20px;" ng-src="{{ '../../assets/img/' + $ctrl.ObtenerImagenEstrella(1, Busqueda.Nota) }}" />
						<img style="width:20px;" ng-src="{{ '../../assets/img/' + $ctrl.ObtenerImagenEstrella(2, Busqueda.Nota) }}" />
						<img style="width:20px;" ng-src="{{ '../../assets/img/' + $ctrl.ObtenerImagenEstrella(3, Busqueda.Nota) }}" />
						<img style="width:20px;" ng-src="{{ '../../assets/img/' + $ctrl.ObtenerImagenEstrella(4, Busqueda.Nota) }}" />
						<img style="width:20px;" ng-src="{{ '../../assets/img/' + $ctrl.ObtenerImagenEstrella(5, Busqueda.Nota) }}" />
					</div>
				</td>
				<td  style="width:10%;">
					<div ng-if="Busqueda.Favorito == 1">
						<img src="../../assets/img/heart-selected.png" style="width:35px; cursor: pointer;" ng-click="$ctrl.Favorito(Busqueda);" />
					</div>
					<div ng-if="Busqueda.Favorito != 1">
						<img src="../../assets/img/heart-unselected.png" style="width:35px; cursor: pointer;" ng-click="$ctrl.Favorito(Busqueda);" />
					</div>
				</td>
			</tr>
		</table>
	  </a>
	</div>
  </div>
  <div id="tabs-2">
	<br/>
	<div class="list-group" style="width:100%;">
	  <a class="list-group-item list-group-item-action flex-column align-items-start"
		ng-repeat="Busqueda in $ctrl.Favoritos | filter:{ IdDepartamento:$ctrl.DepartamentoBusqueda }
			| filter:{ Duracion:$ctrl.DuracionBusqueda}
			| filter: $ctrl.MenorIgualA('CostoMensual', $ctrl.CostoMensualMaxBusqueda)
			| filter: $ctrl.MayorIgualA('CostoMensual', $ctrl.CostoMensualMinBusqueda) ">
		<table style="width:100%;">
			<tr>
				<td style="width:15%; padding:10px 10px;">
					<img ng-src="{{ Busqueda.Imagen }}" style="width:90px;" />
				</td>
				<td  style="width:75%;">
					<div ng-click="$ctrl.IrADetalle(Busqueda);" style="cursor: pointer;">
					  <span class="spTituloBusqueda">{{Busqueda.Carrera}}</span>
					</div>
					<p>	{{Busqueda.Universidad}} <br/> 	{{Busqueda.Departamento + ", " + Busqueda.Municipio}} </p>
					<div style="margin-bottom: 5px;">
						<img  style="width:20px;" ng-src="{{ '../../assets/img/' + $ctrl.ObtenerImagenEstrella(1, Busqueda.Nota) }}" />
						<img style="width:20px;" ng-src="{{ '../../assets/img/' + $ctrl.ObtenerImagenEstrella(2, Busqueda.Nota) }}" />
						<img style="width:20px;" ng-src="{{ '../../assets/img/' + $ctrl.ObtenerImagenEstrella(3, Busqueda.Nota) }}" />
						<img style="width:20px;" ng-src="{{ '../../assets/img/' + $ctrl.ObtenerImagenEstrella(4, Busqueda.Nota) }}" />
						<img style="width:20px;" ng-src="{{ '../../assets/img/' + $ctrl.ObtenerImagenEstrella(5, Busqueda.Nota) }}" />
					</div>
				</td>
				<td  style="width:10%;">
				</td>
			</tr>
		</table>
	  </a>
	</div>
  </div>
</div>
<br/>
<br/>
<script>
	$( function() {
		$( "#tabs" ).tabs();

		$( "#slider-range" ).slider({
		  range: true,
		  min: 1000,
		  max: 7000,
		  step: 100,
		  values: [ 1000, 7000 ],
		  slide: function( event, ui ) {
			$( "#amount" ).val( "Q" + ui.values[ 0 ] + " - Q" + ui.values[ 1 ] );
		  }
		});
		$( "#amount" ).val( "Q" + $( "#slider-range" ).slider( "values", 0 ) +
		  " - Q" + $( "#slider-range" ).slider( "values", 1 ) );
	} );
</script>
