<center>
<h3 class="txtResaltado">Mantenimiento Usuarios</h3>
<br/>
<table class="table tblAdmin">
	<tr>
		<th></th>
		<th>Id Usuario</th>
		<th>Nombre</th>
		<th>Correo</th>
		<th>Teléfono</th>
	</tr>
	<tr ng-repeat="Usuario in $ctrl.Usuarios">
		<td>
			<center>
				<button class="btn btnFormMini" ng-click="$ctrl.VerDetalleUsuario(Usuario)" >Detalle</button>
				<button class="btn btnFormMini" ng-click="$ctrl.VerOrientaciones(Usuario)" >Orientaciones</button>
			</center>
		</td>
		<td>{{Usuario.Id}}</td>
		<td>{{Usuario.Nombre}}</td>
		<td>{{Usuario.Correo}}</td>
		<td>{{Usuario.TelefonoCelular}}</td>
	</tr>
</table>
</center>