<center>
<h3 class="txtColor">¡Buscátelo!</h2>
<br/>
<div style="width:70%;">
	<p class="txtColor">
		Descubrí todas las “Us” y lugares en Guatemala que tienen eso que querés estudiar y mirá toda la información que de verdad necesitás saber de cada uno para que elijás la opción que te da justo lo que buscás.
		Sin estar saliendo a hacer tráfico, sin llenarte de papeles que terminás tirando, sin estar llamando y esperando a que te atiendan y sin estar pidiendo correos llenos de información innecesaria.
		<br/>
		¡Todo, todo, todo en un solo lugar ¡y en segundos!
	</p>
</div>
<br/>
<h4 style="font-weight: bold;">Mis búsquedas disponibles: {{$ctrl.NumBusquedas}}</h4>
<br/>
<h4 style="font-weight: bold;">Mi búsqueda de prueba: {{$ctrl.NumBusquedasPrueba}}</h4>
<br/>
<br/>
<h6>¡Necesito esto!</h6>
<div class="row" style="width:90%; max-width: 800px;">
	<div class="form-group col-sm-4 dvOpcionCompra" ng-repeat="Compra in $ctrl.Compras" ng-click="$ctrl.IniciarCompra(Compra);">
		<span class="tituloCompra">{{$ctrl.ObtenerTextoBusqueda(Compra.Cantidad);}}</span> <br/>
		{{"$" + Compra.Saldo}}
		<br/>
		<br/>
	</div>
</div>
<br/>
<br/>

<div class="list-group" style="width:90%; max-width: 800px;">
  <a href="user-main.html#!/list-tipo/0" class="list-group-item list-group-item-action flex-column align-items-start hidden"	id="aNuevaBusqueda">
    <div class="d-flex w-100 justify-content-between">
      <span style="font-weight: bold; color: #04B404; font-size: 18px;"> + Quiero usar una búsqueda</span>
    </div>
  </a>
  <a href="user-main.html#!/list-tipo/1" class="list-group-item list-group-item-action flex-column align-items-start hidden"	id="aNuevaBusquedaPrueba">
    <div class="d-flex w-100 justify-content-between">
      <span style="font-weight: bold; color: #04B404; font-size: 18px;"> + Quiero usar mi búsqueda de prueba</span>
    </div>
  </a>
  <a class="list-group-item list-group-item-action flex-column align-items-start" ng-repeat="Busqueda in $ctrl.Busquedas" style="cursor:pointer;">
    <div ng-if="Busqueda.Estado == 'Vencida'; ">
		<div class="d-flex w-100 justify-content-between" >
			<span style="font-weight: bold; color: #BDBDBD; font-size: 18px;">{{Busqueda.Nombre + ' (Vencida)'}}</span>
		</div>
	</div>
	<div ng-if="Busqueda.Estado == 'Activa'; ">
		<div class="d-flex w-100 justify-content-between" ng-click="$ctrl.IrADetalleBusqueda(Busqueda);" >
			<span class="spTituloBusqueda">{{Busqueda.Nombre}}</span>
		</div>
	</div>
    <p class="mb-1">{{Busqueda.Fecha}}</p>
  </a>
</div>

</center>
