<center>
<h4><b>Id Orientación: </b> <span class="txtResaltado">{{$ctrl.idOrientacion}}</span></h4>
<h4><b>Usuario: </b> <span class="txtResaltado">{{$ctrl.Orientacion.IdUsuario}}</span></h4>
<br/>
<br/>
<table class="table tblOrientaciones" style="width:60%;">
	<thead>
		<tr>
			<th>No. Exámen</th>
			<th>Estado</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td class="{{'alert' + ' '  + $ctrl.Orientacion.ClaseCss1}}">
				{{$ctrl.Orientacion.DescExamen1}}
			</td>
			<td>
				<div ng-if="$ctrl.Orientacion.EstadoExamen1!=2">
					<button class="btn btnFormMini" title="Enviar correo con enlace de exámen" ng-click="$ctrl.EnviarEnlaceExamen(1);">Enviar correo</button>
				</div>
			</td>
			<td>
				<div ng-if="$ctrl.Orientacion.EstadoExamen1==1">
					<button class="btn btnFormMini" title="Marcar exámen como finalizado" ng-click="$ctrl.FinalizarExamen(1);" >Finalizar</button>
				</div>
			</td>
		</tr>
		<tr>
			<td>2</td>
			<td class="{{'alert' + ' '  + $ctrl.Orientacion.ClaseCss2}}">
				{{$ctrl.Orientacion.DescExamen2}}
			</td>
			<td>
				<div ng-if="$ctrl.Orientacion.EstadoExamen2!=2">
					<button class="btn btnFormMini" title="Enviar correo con enlace de exámen" ng-click="$ctrl.EnviarEnlaceExamen(2);">Enviar correo</button>
				</div>
			</td>
			<td>
				<div ng-if="$ctrl.Orientacion.EstadoExamen2==1">
					<button class="btn btnFormMini" title="Marcar exámen como finalizado" ng-click="$ctrl.FinalizarExamen(2);" >Finalizar</button>
				</div>
			</td>
		</tr>
		<tr>
			<td>3</td>
			<td class="{{'alert' + ' '  + $ctrl.Orientacion.ClaseCss3}}">
				{{$ctrl.Orientacion.DescExamen3}}
			</td>
			<td>
				<div ng-if="$ctrl.Orientacion.EstadoExamen3!=2">
					<button class="btn btnFormMini" title="Enviar correo con enlace de exámen" ng-click="$ctrl.EnviarEnlaceExamen(3);">Enviar correo</button>
				</div>
			</td>
			<td>
				<div ng-if="$ctrl.Orientacion.EstadoExamen3==1">
					<button class="btn btnFormMini" title="Marcar exámen como finalizado" ng-click="$ctrl.FinalizarExamen(3);" >Finalizar</button>
				</div>
			</td>
		</tr>
	</tbody>
</table>
<br/>
<br/>
<div class="row dvOrientacion" style="width:70%;">
	<div class="form-group col-sm-3">
		<label>Grupo 1</label><br/>
		<select class="form-control" ng-model="$ctrl.Orientacion.Grupo1">
			<option ng-repeat="Grupo in $ctrl.Grupos" ng-value="{{Grupo.Id}}">{{Grupo.Nombre}}</option>
		</select>
	</div>
	<div class="form-group col-sm-3">
		<label>Grupo 2</label><br/>
		<select class="form-control" ng-model="$ctrl.Orientacion.Grupo2">
			<option ng-repeat="Grupo in $ctrl.Grupos" ng-value="{{Grupo.Id}}">{{Grupo.Nombre}}</option>
		</select>
	</div>
	<div class="form-group col-sm-3">
		<label>Grupo 3</label><br/>
		<select class="form-control" ng-model="$ctrl.Orientacion.Grupo3">
			<option ng-repeat="Grupo in $ctrl.Grupos" ng-value="{{Grupo.Id}}">{{Grupo.Nombre}}</option>
		</select>
	</div>
	<div class="form-group col-sm-3">
		<br/>
		<button class="btn btnFormMini" ng-click="$ctrl.ActualizarGrupos()">Actualizar grupos</button>
	</div>
</div>
<br/>
</center>

<button class="btn btn-link" onclick="window.location = 'admin-main.html#!/mant-usuario'; ">Regresar</button>
