<center>
<h3>Mantenimiento Carreras</h3>
<br/>
<br/>
<div class="row">
	<div class="form-group col-sm-3"></div>
	<div class="form-group col-sm-3">
		<label>Nombre carrera:</label>
		<input type="text" class="form-control" ng-model="$ctrl.NomCarreraBusqueda" />
	</div>
	<div class="form-group col-sm-3">
		<button class="btn btnFormMini" onclick=" window.location = 'admin-main.html#!/form-carrera/$$NUEVO'; ">Nueva Carrera</button>
	</div>
</div>
<br/>
<div class="dvTabla">
	<table class="table tblAdmin">
		<tr>
			<th></th>
			<!--<th>Id</th>-->
			<th>Nombre</th>
			<th>Tipo</th>
			<th>Grupo</th>
			<th>Descripcion (Interna)</th>
		</tr>
		<tr ng-repeat="Carrera in $ctrl.Carreras | filter:{ Nombre: $ctrl.NomCarreraBusqueda } ">
			<td>
				<center>
					<button class="btn btnFormMini"  ng-click="$ctrl.ModificarCarrera(Carrera)">Modificar</button><br/>
					<button class="btn btnFormMini"  ng-click="$ctrl.ModificarCursosCarrera(Carrera)">Cursos</button><br/>
					<button class="btn btnFormMini"  ng-click="$ctrl.VerModalEliminar(Carrera)">Eliminar</button>
				</center>
			</td>
			<!--<td>{{Carrera.Id}}</td>-->
			<td>{{Carrera.Nombre}}</td>
			<td>{{Carrera.Tipo}}</td>
			<td>{{Carrera.Grupo}}</td>
			<td>
				<div style="max-height:70px;overflow-y:scroll;">
					{{Carrera.Descripcion}}
				</div>
			</td>
		</tr>
	</table>
</div>
<!-- Modal -->
<div id="mdConfEliminar" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content mdAdmin-Content">
      <div class="modal-header mdAdmin-Header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
		<center>
			<h4 class="modal-title">Eliminar Carrera</h4>
		</center>
      </div>
      <div class="modal-body">
		<center>
			<p>¿Confirma que desea eliminar la carrera <b>{{$ctrl.CarreraEliminar.Nombre}}?</b></p>
		</center>
      </div>
      <div class="modal-footer">
		<center>
			<button class="btn btnForm" ng-click="$ctrl.EliminarCarrera()">Eliminar</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
		</center>
      </div>
    </div>

  </div>
</div>
</center>
