<center>
<h3 class="txtColor">¡Descubrítelo!</h3>
<br/>
<div style="width:70%;">
	<p class="txtColor">
		¿Te suena…“No tengo ni ida qué estudiar en la u” o “voy a estudiar esto porque deja dinero” o “no sé qué hacer, tengo varias opciones para estudiar” o “ya no me gustó esto, me quiero cambiar”?... ¡Pará! No estudiés solo por estudiar, descubrí eso en lo que vas a explotar tu potencial.
		Sin tener que ir a un lugar y hacer tráfico, sin largas y aburridas sesiones que parecen terapia, sin estar con tanta gene haciendo test, sin resultados de carreras que nada que ver contigo.
		<br/>
		Somos el programa de jóvenes para jóvenes que va a cambiar tu forma de ver las orientaciones vocacionales.
	</p>
</div>
<br/>
<!--<h5 class="txtColor">¡Descubrilo!</h5>-->
<div class="row" style="width:90%; max-width: 800px;">
	<div class="form-group col-sm-4"></div>
	<div class="form-group col-sm-4 dvOpcionCompra" ng-repeat="Compra in $ctrl.Compras" ng-click="$ctrl.IniciarCompra(Compra);">
		<!--<span class="tituloCompra">{{Compra.Cantidad + " orientación"}}</span> <br/>-->
		<span class="tituloCompra">¡Lo necesito!</span><br/>
		{{"$" + Compra.Saldo}}
		<br/>
		<br/>
	</div>
</div>
<small>Podés pagar en visa cuotas</small>
<br/>
<br/>
<div style="width:50%; text-align: left; font-size:15px;" class="txtColor">
	<center>Recordá que además tenés:</center>
	<ul>
		<li>Tu propio “couch” para lo que necistés en cualquier momento</li>
		<li>Tu membresia Escoly que incluye un regalazo</li>
		<li>3 búsquedas gratis en “¡Buscátelo!” para usar con tus 3 opciones</li>
		<li>La decisión de elegir la hora que querrás y los días que querrás</li>
	</ul>
</div>
<br/>
<br/>
<div class="list-group" style="width:90%; max-width: 800px;">
  <a class="list-group-item list-group-item-action flex-column align-items-start" ng-repeat="Orientacion in $ctrl.Orientaciones" style="cursor:pointer;">
	<div class="d-flex w-100 justify-content-between" ng-click="$ctrl.VerDetalleOrientacion(Orientacion)">
		<span class="spTituloOrientacion">{{'Ver status de mi orientación ' + Orientacion.Id}}</span>
		<!--<span class="spTituloOrientacion">Mi perfil Escoly echáme una mano</span>-->
	</div>
	<br/>
  </a>
</div>

</center>
