<h3>{{$ctrl.Titulo}}</h3>
<br/>
<div class="row">
	<div class="form-group col-sm-3">
		<img style="width:150px;" class="img-circle" id="imgUsuario" /><br/><br/>
		<button class="btn btn-small" onclick="$('#mdImagen').modal('show');">Sel. imagen</button>
	</div>
	<div class="form-group col-sm-6">
		<label>Nombre:</label>
		<input type="text" class="form-control" ng-model="$ctrl.Universidad.Nombre" placeholder="Nombre">
	</div>
	<!--
	<div class="form-group col-sm-3">
		<label>Id Universidad:</label>
		<input type="text" class="form-control" ng-model="$ctrl.Universidad.IdUniversidad" placeholder="Id Universidad" id="txtIdUniversidad">
	</div>
	-->
</div>
<br/>
<b> (*) Opcional</b>
<br/>
<br/>
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Datos generales</a></li>
    <li><a href="#tabs-2">Inscripción</a></li>
    <li><a href="#tabs-3">Parqueo</a></li>
	<li><a href="#tabs-4">Info. Adicional</a></li>
  </ul>
  <div id="tabs-1">
	<br/>
	<br/>
	<div class="row">
		<div class="form-group col-sm-3">
			<label>Departamento:</label>
			<select  class="form-control" ng-model="$ctrl.Universidad.Departamento" ng-change="$ctrl.CambioDepartamento()" ng-options="item.IdDepartamento as item.Nombre for item in $ctrl.Departamentos">
				<option value="">Seleccione Departamento</option>
				<!--<option ng-repeat="Departamento in $ctrl.Departamentos" ng-value="{{Departamento.IdDepartamento}}">{{Departamento.Nombre}}</option>-->
				<!--
				<option value="1001">Guatemala</option>
				<option value="1002">El Progreso</option>
				<option value="1003">Sacatepequez</option>
				-->
			</select>
		</div>
		<div class="form-group col-sm-3">
			<label>Municipio:</label>
			<select  class="form-control" ng-model="$ctrl.Universidad.Municipio" ng-options="item.IdMunicipio as item.Descripcion for item in $ctrl.Municipios">
				<!--<option ng-repeat="Municipio in $ctrl.Municipios" ng-value="{{Municipio.IdMunicipio}}">{{Municipio.Descripcion}}</option>-->
				<option value="">Seleccione Municipio</option>
				<!--
				<option value="100101">Guatemala</option>
				<option value="100102">Mixco</option>
				<option value="100103">Chinautla</option>
				-->
			</select>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-6">
			<label>(*) Localidad:</label>
			<input type="text" class="form-control" ng-model="$ctrl.Universidad.Localidad" placeholder="Direccion" maxlength="200">
		</div>
		<div class="form-group col-sm-2">
			<label>(*) Zona:</label>
			<input type="number" class="form-control" ng-model="$ctrl.Universidad.Zona" placeholder="Zona">
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-3">
			<label>(*) Teléfono 1:</label>
			<input type="text" class="form-control" ng-model="$ctrl.Universidad.Telefono1" placeholder="Teléfono">
		</div>
		<div class="form-group col-sm-3">
			<label>(*) Teléfono 2:</label>
			<input type="text" class="form-control" ng-model="$ctrl.Universidad.Telefono2" placeholder="Teléfono">
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-3">
			<label>(*) URL:</label>
			<input type="text" class="form-control" ng-model="$ctrl.Universidad.Url" placeholder="URL">
		</div>
	</div>
  </div>
  <div id="tabs-2">
    <div class="row">
		<div class="form-group col-sm-6">
			<label>(*) Detalles inscripción</label><br/>
			<textarea style="width:100%; height:100px;" ng-model="$ctrl.Universidad.DetalleInscripcion"></textarea>
		</div>
	</div>
  </div>
  <div id="tabs-3">
	<div class="row">
		<div class="form-group col-sm-3">
			<label>(*) Costo parqueo (Q)</label>
			<input type="number" class="form-control" ng-model="$ctrl.Universidad.CostoParqueo" placeholder="Costo parqueo">
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-3">
			<div class="checkbox">
				<label><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="$ctrl.Universidad.Disponibilidad"><b>Disponibilidad</b></label>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-6">
			<label>(*) Detalles parqueo</label><br/>
			<textarea style="width:100%; height:100px;" ng-model="$ctrl.Universidad.DetalleParqueo"></textarea>
		</div>
	</div>
  </div>
  <div id="tabs-4">
	<div class="row">
		<div class="form-group col-sm-6">
			<label>(*) Información adicional</label><br/>
			<textarea style="width:100%; height:100px;" ng-model="$ctrl.Universidad.InfoAdicional"></textarea>
		</div>
	</div>
  </div>
</div>
<br/>
<button class="btn btnForm" ng-click="$ctrl.OperacionForm()">Guardar</button>
<button class="btn btn-link" onclick="window.location = 'admin-main.html#!/mant-universidad'; ">Regresar</button>
<br/>

<div id="mdImagen" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" style="witdh: 80%; max-width: 500px;">
      <div class="modal-body">
		<center>
        <h3>Seleccione imagen a cargar</h3>
		<br/>
		<input type="file" onchange="readURL(this);" />
		<br/>
		<button class="btn btn-default" data-dismiss="modal">No</button>
		</center>
      </div>
    </div>

  </div>
</div>

<script>


	$( function() {
		$( "#tabs" ).tabs();
	});

	function readURL(input) {
		//console.log("Imagen cargada");
	  if (input.files && input.files[0]) {
		var reader = new FileReader();
		reader.onload = function (e) {
		  $('#imgUsuario').attr('src', e.target.result);
		  //console.log(e.target.result);
		  localStorage.setItem("imagen", e.target.result);
		  $('#mdImagen').modal('hide');
		};
		reader.readAsDataURL(input.files[0]);
	  }
	}


</script>
