<center>
<h3>Mantenimiento de orientaciones</h3>
<br/>
<p>Usuario:</p>
<h4 class="txtResaltado">{{$ctrl.IdUsuario}}</h4>
<br/>
<table class="table tblOrientaciones" style="width:70%">
	<tr>
		<th></th>
		<th>Id Orientación</th>
		<th>Exámen 1</th>
		<th>Exámen 2</th>
		<th>Exámen 3</th>
	</tr>
	<tr ng-repeat="Orientacion in $ctrl.Orientaciones">
		<td>
			<center>
				<button class="btn btnFormMini" ng-click="$ctrl.ModificarOrientacion(Orientacion);" >Modificar</button>
				<div ng-if="Orientacion.Estado==1">
					<button class="btn btnFormMini" ng-click="$ctrl.VerDatosRegistro(Orientacion);" >Ver Registro</button>
				</div>
			</center>
		</td>
		<td>{{Orientacion.Id}}</td>
		<td class="{{ 'alert' + ' ' + Orientacion.ClaseCss1 }}">
			{{Orientacion.DescExamen1}}
		</td>
		<td class="{{ 'alert' + ' ' + Orientacion.ClaseCss2 }}">
			{{Orientacion.DescExamen2}}
		</td>
		<td class="{{ 'alert' + ' ' + Orientacion.ClaseCss3 }}">
			{{Orientacion.DescExamen3}}
		</td>
	</tr>
</table>
<br/>
<button class="btn btn-link" onclick=" window.location = 'admin-main.html#!/mant-usuario';">Regresar</button>
</center>
