.dvForm {
	width:60%;
	max-width: 500px;
	margin-top: 70px;
}
.btnForm {
	background-color: #5C6BC0;
	color: white;
	height: 50px;
	font-size: 15px;
	border-radius: 10px;
	font-weight: bold;
}
	.btnForm:focus, .btnForm:hover {
		color: white;
		background-color: #3949AB;
	}
.btnFormMini {
	background-color: #5C6BC0;
	color: white;
	font-size: 12px;
	border-radius: 10px;
	font-weight: bold;
	margin-bottom: 3px;
}
	.btnFormMini:focus, .btnFormMini:hover {
		color: white;
		background-color: #3949AB;
	}
.dvContent {
	width: 95%;
	padding: 20px 20px;
	margin-top: 20px;
	margin-left: 20px;
	overflow-x: auto;
}
.dvTabla{
	max-height: 500px;
	overflow-y: scroll;
}
.imgOpciones {
	width: 30px;
	cursor: pointer;
}
.ui-state-active, .ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active, a.ui-button:active,
.ui-button:active, .ui-button.ui-state-active:hover, .ui-state-focus {
	border: 1px solid #5C6BC0;
	background: #5C6BC0;
	font-weight: normal;
	color: #ffffff;
}
.dvOrientacion label{
	color:#5C6BC0;
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 10px;
}
.txtResaltado {
	color: #5C6BC0;
	font-weight: bold;
}
.table-scroll {
	height:500px;
	overflow-y: scroll;
}
