.loader {
	border: 12px solid #f3f3f3; /* Light grey */
	border-top: 12px solid #5C6BC0; 
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 2s linear infinite;
	margin-top:250px;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}