
.navbar {
	min-height: 70px;
	margin-bottom: 0px;
	border-radius: 0px;
}

.navbar-napp {
	background-color:#5C6BC0;
}

.navbar-header {
	min-height: 70px;
}

.navbar-nav > li > a {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 50px;
  font-size: 15px;
}

	.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
		background-color: #3949AB;
	}
		.navbar-nav > li > a > img {
			width: 20px;
			margin-right: 15px;
		}

.navbar-toggle {
	padding: 15px 10px;
}
.navbar-applogo {
	width: 40px;
}
.navbar-toggle {
	border: 1px solid white;
}
.icon-bar {
	border: 1px solid white;
}
.navbar-div-buttons {
	margin-right: 30px;
	min-height: 70px;
	margin-top: 10px;
}
.btnMenu {
	background-color: #5C6BC0;
	color: white;
	height: 50px;
	font-size: 15px;
	margin-left: 10px;
	border-radius: 10px;
	font-weight: bold;
}
	.btnMenu:focus, .btnMenu:hover {
		border: 1px solid #FFFF00;
		color: #FFFF00;
	}
	
.spIconoOpcion {
	margin-right: 20px;
}
