.ui-state-active, .ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, a.ui-button:active, 
.ui-button:active, .ui-button.ui-state-active:hover, .ui-state-focus {
	border: 1px solid #5C6BC0;
	background: #5C6BC0;
	font-weight: normal;
	color: #ffffff;
}
