.tblAdmin {
	width:100%;
}

	.tblAdmin tr th {
		background-color: #5C6BC0;
		color: white;
		font-weight: bold;
		height: 40px;
		text-align: center;
	}
	.tblAdmin tr td {
		text-align: center;
	}
	.tblAdmin tr td:nth-child(5n+5) {
		width:30%;
	}

.tblCarreraUni {
	width:100%;
}

	.tblCarreraUni tr th {
		background-color: #5C6BC0;
		color: white;
		font-weight: bold;
		height: 40px;
	}
	.tblCarreraUni tr td:nth-child(2n+2) {
		width:30%;
	}
	.tblCarreraUni tr td:nth-child(3n+3) {
		width:30%;
	}
	
.tblCursosPeriodo {
	width:100%;
}

	.tblCursosPeriodo tr th {
		background-color: #5C6BC0;
		color: white;
		font-weight: bold;
		height: 40px;
	}

	.tblCursosPeriodo tr td:nth-child(3n+3) {
		width:50%;
	}

.tblOrientaciones {
	width:100%;
}

	.tblOrientaciones tr th {
		background-color: #5C6BC0;
		color: white;
		font-weight: bold;
		height: 40px;
		text-align: center;
	}
	.tblOrientaciones tr td {
		text-align: center;
		min-width: 50px;
	}