<!DOCTYPE HTML>
<html ng-app="UniT">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../assets/img/logo-red.png">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="../../assets/libs/bootstrap/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/admin/navbar-admin.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/admin/loader-admin.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/admin/form-admin.css" />
	<!-- JAVASCRIPT -->
	<script src="../../assets/libs/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../assets/libs/bootstrap/bootstrap.min.js"></script>
	<script src="../../assets/libs/angular/angular.min.js"></script>
	<script src="../../assets/js/Utilidades.js"></script>

</head>
<body ng-controller="AdminController">
	<nav class="navbar navbar-light navbar-napp"></nav>
	<center>
	<div class="dvForm">
		{{mensaje}}
		<div id="dvMensajeForm" class="alert hidden" style="font-weight: bold;">
			<button type="button" class="close" onclick="$('#dvMensajeForm').addClass('hidden');">&times;</button>
			<center><span id="spMensajeForm"></span></center>
		</div>
		<div class="form-group">
		<label>Usuario</label>
		<input type="text" class="form-control" ng-model="Usuario" placeholder="Usuario" id="txtLoginEscolyAdmin">
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" ng-model="Password" placeholder="Contrase&ntilde;a">
		</div>
	</div>
	<button class="btn btnForm" ng-click="Ingresar()">Ingresar</button>
	<button class="btn btn-link" onclick="window.location = '../../index.html'; ">Regresar</button>
	</center>
	<div ng-include="'../../shared/loader.html'"></div>
	<script>

		var app = angular.module('UniT', []);
		app.controller('AdminController', function($scope, $http){

			$scope.Ingresar = function(){
				$('#mdLoading').modal('show');
				var jsonObject = {
					"Operacion": "admin",
					"Usuario": $scope.Usuario,
					"Pass":$scope.Password
				};
				$http({
				method: 'POST',
				url: '../../services/login.php',
				headers: {
					'Content-Type': 'application/json; charset=utf-8',
					'Data-Type': 'json'
				},
				data: jsonObject
				}).then(function(response, status){
					if(response.data.respuesta.param2!=""){
						localStorage.setItem("jLrUs6d50WBXoEfgTWoseg====", response.data.respuesta.param1);
						localStorage.setItem("t3fDLyrCu8+AeTfJh1U9iQ====", response.data.respuesta.param2);
						window.location = "admin-main.html";
					}else{
						MensajeForm("Error", "Usuario y/o contraseña incorrecta");
					}
					$('#mdLoading').modal('hide');
				},	function(response){
					MensajeForm("Error", "Error en envio de solcitud, favor intentar de nuevo mas tarde");
					$('#mdLoading').modal('hide');
				});
			}

		});
	</script>
</body>
</html>
