<center>
<h3>Mantenimiento Cursos Carrera</h3>
<h4>{{ $ctrl.Carrera.Nombre }}</h4>
<br/>
<h5>{{  'Duración de período: ' + $ctrl.Duracion.toString() + ' meses' }}</h5>
<br/>
<button class="btn btnFormMini" ng-click="$ctrl.AgregarPeriodo();">Agregar Periodo</button>
<button class="btn btnFormMini" onclick=" $('#mdCambiarDuracion').modal('show'); ">Cambiar duración</button>
<button class="btn btn-link" onclick="window.location = 'admin-main.html#!/mant-carrera'; ">Regresar</button>
<br/><br/>
	<div ng-repeat="Periodo in $ctrl.Periodos" style="border: 1px solid #D8D8D8; margin-top: 10px; width:80%; padding: 15px 15px; border-radius:5px;">
		<span style="font-weight: bold; font-size: 18px;">{{"Periodo " + Periodo.Orden}}</span>
		<button class="btn btnFormMini"  ng-click="$ctrl.VerModalAgregarCurso(Periodo);" >Agregar Curso</button>
		<button class="btn btnFormMini"  ng-click="$ctrl.CambioDespliegue(Periodo);" >...</button>
		<button type="button" class="close" ng-click="$ctrl.VerModalEliminarPeriodo(Periodo);">&times;</button>
		<table class="table tblCursosPeriodo" style="margin-top:10px;" ng-hide="Periodo.BanderaDesp">
			<tr>
				<th></th>
				<th>Nombre</th>
				<th>Descripcion</th>
			</tr>
			<tr ng-repeat="Curso in Periodo.Cursos">
				<td>
					<center>
						<div ng-if="Curso.Nombre != 'N/D'">
							<button class="btn btnFormMini"  ng-click="$ctrl.VerModalEliminarCurso(Periodo, Curso)">Eliminar</button>
						</div>
					</center>
				</td>
				<td>{{Curso.Nombre}}</td>
				<td>{{Curso.Descripcion}}</td>
			</tr>
		</table>
	</div>
</div>

<br/><br/>

<div id="mdCambiarDuracion" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content mdAdmin-Content">
			<div class="modal-header mdAdmin-Header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
		<center>
			<h4 class="modal-title">Cambiar Duración Período</h4>
		</center>
			</div>
			<div class="modal-body">
		<center>
			<div class="row">
				<div class="form-group col-sm-8">
					<label>Duración período: </label>
					<select  class="form-control input-sm" ng-model="$ctrl.NuevaDuracion">
						<option value="2">2 meses</option>
						<option value="3">3 meses</option>
						<option value="6">6 meses</option>
						<option value="12">12 meses</option>
					</select>
				</div>
			</div>
		</center>
			</div>
			<div class="modal-footer">
		<center>
			<button class="btn btnFormMini" ng-click="$ctrl.ActualizarDuracion()">Actualizar</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
		</center>
			</div>
		</div><!-- Modal content-->
	</div>
</div><!-- Modal Cambiar Duración -->



<div id="mdConfElimPeriodo" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content mdAdmin-Content">
      <div class="modal-header mdAdmin-Header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
		<center>
			<h4 class="modal-title">Eliminar Periodo</h4>
		</center>
      </div>
      <div class="modal-body">
		<center>
			<p>¿Confirma que desea eliminar el período {{$ctrl.PeriodoEliminar.Orden}}?</b></p>
		</center>
      </div>
      <div class="modal-footer">
		<center>
			<button class="btn btnForm" ng-click="$ctrl.EliminarPeriodo()">Eliminar</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
		</center>
      </div>
    </div><!-- Modal content-->
  </div>
</div><!-- Modal Eliminar Período -->

<!-- Modal -->
<div id="mdConfEliminar" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content mdAdmin-Content">
      <div class="modal-header mdAdmin-Header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
		<center>
			<h4 class="modal-title">Eliminar Curso de Periodo</h4>
		</center>
      </div>
      <div class="modal-body">
		<center>
			<p>¿Confirma que desea eliminar el curso <b>{{$ctrl.CursoEliminar.Nombre}} del período {{$ctrl.PeriodoEliminar.Orden}}?</b></p>
		</center>
      </div>
      <div class="modal-footer">
		<center>
			<button class="btn btnForm" ng-click="$ctrl.EliminarCursoDePeriodo()">Eliminar</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
		</center>
      </div>
    </div>

  </div>
</div>

<div id="mdAgregarCursos" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style="width:100%;	">
      <div class="modal-header mdAdmin-Header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Agregar Cursos</h3>
      </div>
      <div class="modal-body">
		<div class="row" style="width:90%; max-width: 800px;">
			<div class="form-group col-sm-12" >
				<input type="text" class="form-control" ng-model="$ctrl.TextBusqueda" placeholder="Busqueda rapida">
			</div>
			<!--
			<div class="form-group col-sm-2">
				<button class="btn btnFormMini"><span class="glyphicon glyphicon-search"></button>
			</div>
			-->
		</div>
		<h4>Cursos sin asignar</h4>
		<br/>
			<div style="max-height:300px; overflow-y: scroll;">
				<table class="table tblAdmin">
					<tr>
						<th></th>
						<th>Nombre</th>
						<th>Descripcion</th>
						<!--<th>Categoria</th>-->
					</tr>
					<tr ng-repeat="Curso in $ctrl.CursosNoAsignados | filter:$ctrl.TextBusqueda">
						<td>
							<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="Curso.Seleccionado" />
						</td>
						<td>{{Curso.Nombre}}</td>
						<td>{{Curso.Descripcion}}</td>
					</tr>
				</table>
			</div>
      </div>
      <div class="modal-footer">
		<center>
			<button class="btn btnForm" ng-click="$ctrl.AsignarCursosEnPeriodo()">Agregar</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		</center>
      </div>
    </div>

  </div>
</div>
</center>
