<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="icon" href="../../assets/img/logo-red.png">
	<link rel="stylesheet" type="text/css" href="../../assets/libs/jquery-ui/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/libs/bootstrap/bootstrap.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../../assets/css/user/loader-user.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/user/descubritelo.css" />

	
</head>
<body>
		<body>
				<div class="free" style="overflow-y: auto;">
						<div class="space" >
						<center class="tittlec2">
							<h1 style="color:white;">{{Carrera}}</h1>
						</center>
						</div>
						<!--Datos Generales-->
						<center>
						<div class="window_data">
								<center>
									<h1 class="tittle_data">Datos Generales</h1>
								</center>	
								<div class="container_window">
								<div class="row">
									<div class="col-md-2 res"><b> Departamento: </b></div>
									<div class="col-md-2 res">Guatemala</div>
									<div class="col-md-2 res"><b>Nombre Facultad:</b></div>
									<div class="col-md-2 res">Ingeniería</div>
									<div class="col-md-2 res"><b>Modalidad en linea:</b></div>
									<div class="col-md-2 res">No</div>
								</div>
								<br>
								<div class="row ">
									<div class="col-md-2 res"><b> Municipio: </b></div>
									<div class="col-md-2 res">Guatemala</div>
									<div class="col-md-2 res"><b>Telefono Facultad:</b></div>
									<div class="col-md-2 res">24658743</div>
									<div class="col-md-2 res"><b>Modalidad presencial:</b></div>
									<div class="col-md-2 res">Si</div>
								</div>
								<br>
								<div class="row ">
									<div class="col-md-2 res"><b> Dirección: </b></div>
									<div class="col-md-2 res">7Av 12-34 zona 12 Guatemala</div>
									<div class="col-md-2 res"><b>Correo Facultad:</b></div>
									<div class="col-md-2 res">prueba@prueba.com</div>
									<div class="col-md-2 res"><b>Modalidad semi presencial</b></div>
									<div class="col-md-2 res">Si</div>
								</div>
								<br>
								<div class="row ">
									<div class="col-md-2 res"><b> Teléfono:</b></div>
									<div class="col-md-2 res">24553476</div>
								</div>
								<br>
								<div class="row ">
									<div class="col-md-2 res"><b> Web:</b></div>
									<div class="col-md-2 res">web.com</div>
								</div>
								<br>
								<br>
								<div class="row ">
									<div class="col-md-1 res"><b> Descripción:</b></div>
									<div class="col-md-5 res"><textarea name="" id="normal" cols="60" rows="10"></textarea></div>
									<div class="col-md-2 res"><b> Descripción modalidad:</b></div>
									<div class="col-md-4 res"><textarea  name="" id="modali" cols="60" rows="10"></textarea></div>
								</div>
								</div>
								<br>
								<button onclick="closeGeneral()" class="closeThedata">cerrar</button>
							</div>	
						</center>
						<!--horarios-->
						<center>
						<div class="window_hora">
							<center>
								<h1 class="tittle_data">HORARIOS Y JORNADAS</h1>
							</center>	
							<div class="container_window">
							<div class="row">
								<div class="col-md-2 res"><b> Matutina: </b></div>
								<div class="col-md-2 res">Unknow</div>
								<div class="col-md-2 res"><b>Vespertina:</b></div>
								<div class="col-md-2 res">Unknow</div>
								<div class="col-md-2 res"><b>Nocturna</b></div>
								<div class="col-md-2 res">Unknow</div>
							</div>
							<br>
							<div class="row ">
								<div class="col-md-2 res"><b>Sabatina</b></div>
								<div class="col-md-2 res">Unknow</div>
								<div class="col-md-2 res"><b>Dominical</b></div>
								<div class="col-md-2 res">Unknow</div>
							</div>
							<br>
							<center>
							<div class="row ">
								<div class="col-md-3 res"><b> Descripción:</b></div>
								<div class="col-md-6 res"><textarea name="" id="normal" cols="60" rows="10"></textarea></div>
							</div>
							</center>
							<br>
							<button onclick="closehorario()" class="closeThedata">cerrar</button>
						</div>	
					</center>

					<!--Pensum-->
					<center>
						<div class="window_pensum">
							<center>
								<h1 class="tittle_data">Pensum</h1>
							</center>	
							<div class="container_window">
									<ul class="list-group">

											<li class="list-group-item ytt3">
												<h4>Periodo1 <button class="bpensum" onclick="peri1();">Ver</button></h4>
												<ul class="list-group nomcursos">
													<li class="list-group-item ytt3 tittle_data">Nombre <h5 class="fas fa-times" style="float:right;" onclick="closeperi1()"></h5></li>
													<li class="list-group-item ytt3">Dibujo Natural</li>
													<li class="list-group-item ytt3">Diseño Arquitectónico 1</li>
													<li class="list-group-item ytt3">Dibujo Técnico</li>
													<li class="list-group-item ytt3">Metodología y técnicas de diseño</li>
													<li class="list-group-item ytt3">Tecnología de la construcción</li>
													<li class="list-group-item ytt3">Comunicación Escrita</li>
													<li class="list-group-item ytt3">Matemática Artistica</li>
													<li class="list-group-item ytt3">Liderazgo</li>
												</ul>

											</li>
											<li class="list-group-item ytt3">
													<h4>Periodo2 <button class="bpensum" onclick="peri2();">Ver</button></h4>
													
													<ul class="list-group nomcursos2">
															<li class="list-group-item ytt3 tittle_data">Nombre <h5 class="fas fa-times" style="float:right;" onclick="closeperi2()"></h5></li>
															<li class="list-group-item ytt3">Dibujo Natural</li>
															<li class="list-group-item ytt3">Diseño Arquitectónico 1</li>
															<li class="list-group-item ytt3">Dibujo Técnico</li>
															<li class="list-group-item ytt3">Metodología y técnicas de diseño</li>
															<li class="list-group-item ytt3">Tecnología de la construcción</li>
															<li class="list-group-item ytt3">Comunicación Escrita</li>
															<li class="list-group-item ytt3">Matemática Artistica</li>
															<li class="list-group-item ytt3">Liderazgo</li>
														</ul>
			
		
											</li>
											<li class="list-group-item ytt3">
													<h4>Periodo3 <button class="bpensum" onclick="peri3();">Ver</button></h4>
													<ul class="list-group nomcursos3">
															<li class="list-group-item ytt3 tittle_data">Nombre <h5 class="fas fa-times" style="float:right;" onclick="closeperi3()"></h5></li>
															<li class="list-group-item ytt3">Dibujo Natural</li>
															<li class="list-group-item ytt3">Diseño Arquitectónico 1</li>
															<li class="list-group-item ytt3">Dibujo Técnico</li>
															<li class="list-group-item ytt3">Metodología y técnicas de diseño</li>
															<li class="list-group-item ytt3">Tecnología de la construcción</li>
															<li class="list-group-item ytt3">Comunicación Escrita</li>
															<li class="list-group-item ytt3">Matemática Artistica</li>
															<li class="list-group-item ytt3">Liderazgo</li>
														</ul>
		
											</li>
											<li class="list-group-item ytt3">
													<h4>Periodo4 <button class="bpensum" onclick="peri4();">Ver</button></h4>
													<ul class="list-group nomcursos4">
															<li class="list-group-item ytt3 tittle_data">Nombre <h5 class="fas fa-times" style="float:right;" onclick="closeperi4()"></h5></li>
															<li class="list-group-item ytt3">Dibujo Natural</li>
															<li class="list-group-item ytt3">Diseño Arquitectónico 1</li>
															<li class="list-group-item ytt3">Dibujo Técnico</li>
															<li class="list-group-item ytt3">Metodología y técnicas de diseño</li>
															<li class="list-group-item ytt3">Tecnología de la construcción</li>
															<li class="list-group-item ytt3">Comunicación Escrita</li>
															<li class="list-group-item ytt3">Matemática Artistica</li>
															<li class="list-group-item ytt3">Liderazgo</li>
														</ul>
		
											</li>
											<li class="list-group-item ytt3">
														<h4>Periodo5 <button class="bpensum" onclick="peri5();">Ver</button></h4>
														<ul class="list-group nomcursos5">
																<li class="list-group-item ytt3 tittle_data">Nombre <h5 class="fas fa-times" style="float:right;" onclick="closeperi5()"></h5></li>
																<li class="list-group-item ytt3">Dibujo Natural</li>
																<li class="list-group-item ytt3">Diseño Arquitectónico 1</li>
																<li class="list-group-item ytt3">Dibujo Técnico</li>
																<li class="list-group-item ytt3">Metodología y técnicas de diseño</li>
																<li class="list-group-item ytt3">Tecnología de la construcción</li>
																<li class="list-group-item ytt3">Comunicación Escrita</li>
																<li class="list-group-item ytt3">Matemática Artistica</li>
																<li class="list-group-item ytt3">Liderazgo</li>
															</ul>
												
											</li>
											<li class="list-group-item ytt3">
															<h4>Periodo6 <button class="bpensum" onclick="peri6();">Ver</button></h4>
															<ul class="list-group nomcursos6">
																	<li class="list-group-item ytt3 tittle_data">Nombre <h5 class="fas fa-times" style="float:right;" onclick="closeperi6()"></h5></li>
																	<li class="list-group-item ytt3">Dibujo Natural</li>
																	<li class="list-group-item ytt3">Diseño Arquitectónico 1</li>
																	<li class="list-group-item ytt3">Dibujo Técnico</li>
																	<li class="list-group-item ytt3">Metodología y técnicas de diseño</li>
																	<li class="list-group-item ytt3">Tecnología de la construcción</li>
																	<li class="list-group-item ytt3">Comunicación Escrita</li>
																	<li class="list-group-item ytt3">Matemática Artistica</li>
																	<li class="list-group-item ytt3">Liderazgo</li>
																</ul>
				
											</li>
											<li class="list-group-item ytt3">
																<h4>Periodo7 <button class="bpensum" onclick="peri7();">Ver</button></h4>
																<ul class="list-group nomcursos7">
																		<li class="list-group-item ytt3 tittle_data">Nombre <h5 class="fas fa-times" style="float:right;" onclick="closeperi7()"></h5></li>
																		<li class="list-group-item ytt3">Dibujo Natural</li>
																		<li class="list-group-item ytt3">Diseño Arquitectónico 1</li>
																		<li class="list-group-item ytt3">Dibujo Técnico</li>
																		<li class="list-group-item ytt3">Metodología y técnicas de diseño</li>
																		<li class="list-group-item ytt3">Tecnología de la construcción</li>
																		<li class="list-group-item ytt3">Comunicación Escrita</li>
																		<li class="list-group-item ytt3">Matemática Artistica</li>
																		<li class="list-group-item ytt3">Liderazgo</li>
																	</ul>
					
											</li>
											<li class="list-group-item ytt3">
																	<h4>Periodo8 <button class="bpensum" onclick="peri8();">Ver</button></h4>
																	<ul class="list-group nomcursos8">
																			<li class="list-group-item ytt3 tittle_data">Nombre <h5 class="fas fa-times" style="float:right;" onclick="closeperi8()"></h5></li>
																			<li class="list-group-item ytt3">Dibujo Natural</li>
																			<li class="list-group-item ytt3">Diseño Arquitectónico 1</li>
																			<li class="list-group-item ytt3">Dibujo Técnico</li>
																			<li class="list-group-item ytt3">Metodología y técnicas de diseño</li>
																			<li class="list-group-item ytt3">Tecnología de la construcción</li>
																			<li class="list-group-item ytt3">Comunicación Escrita</li>
																			<li class="list-group-item ytt3">Matemática Artistica</li>
																			<li class="list-group-item ytt3">Liderazgo</li>
																		</ul>
						
											</li>
											<li class="list-group-item ytt3">
													<h4>Periodo9 <button class="bpensum" onclick="peri9();">Ver</button></h4>
													<ul class="list-group nomcursos9">
															<li class="list-group-item ytt3 tittle_data">Nombre <h5 class="fas fa-times" style="float:right;" onclick="closeperi9()"></h5></li>
															<li class="list-group-item ytt3">Dibujo Natural</li>
															<li class="list-group-item ytt3">Diseño Arquitectónico 1</li>
															<li class="list-group-item ytt3">Dibujo Técnico</li>
															<li class="list-group-item ytt3">Metodología y técnicas de diseño</li>
															<li class="list-group-item ytt3">Tecnología de la construcción</li>
															<li class="list-group-item ytt3">Comunicación Escrita</li>
															<li class="list-group-item ytt3">Matemática Artistica</li>
															<li class="list-group-item ytt3">Liderazgo</li>
														</ul>
		
											</li>
											<li class="list-group-item ytt3">
													<h4>Periodo10 <button class="bpensum" onclick="peri10();">Ver</button></h4>
													<ul class="list-group nomcursos10">
															<li class="list-group-item ytt3 tittle_data">Nombre <h5 class="fas fa-times" style="float:right;" onclick="closeperi10()"></h5></li>
															<li class="list-group-item ytt3">Dibujo Natural</li>
															<li class="list-group-item ytt3">Diseño Arquitectónico 1</li>
															<li class="list-group-item ytt3">Dibujo Técnico</li>
															<li class="list-group-item ytt3">Metodología y técnicas de diseño</li>
															<li class="list-group-item ytt3">Tecnología de la construcción</li>
															<li class="list-group-item ytt3">Comunicación Escrita</li>
															<li class="list-group-item ytt3">Matemática Artistica</li>
															<li class="list-group-item ytt3">Liderazgo</li>
														</ul>
		
											</li>
									</ul>
									<br>
							<button onclick="closepensum()" class="closeThedata">cerrar</button>
						</div>	
					</center>

					<!--BECAS-->

					<center>
							<div class="window_becas">
								<center>
									<h1 class="tittle_data">BECAS Y REQUISITOS DE CIERRE</h1>
								</center>	
								<div class="container_window">
									<div class="row">
										<div class="col-md-12 res2"> <b> OPCIÓN DE BECA </b></div>
									</div>
								<br>
								<br>
								<div class="row">
									<div class="col-md-2 res"><b>Aplica Beca: </b></div>
									<div class="col-md-2 res">Unknow</div>
									<div class="col-md-2 res"><b>Detalles Beca:</b></div>
									<div class="col-md-2 res">Unknow</div>
								</div>
								<br>
								<br>
								<div class="row">
									<div class="col-md-12 res2"> <b>RESQUISITOS PARA CIERRE </b></div>
								</div>
								<br>
								<br>
								<div class="row">
									<div class="col-md-2 res"><b>Requiere tesis:</b></div>
									<div class="col-md-2 res">Unknow</div>
									<div class="col-md-2 res"><b>Requiere privado:</b></div>
									<div class="col-md-2 res">Unknow</div>
									<div class="col-md-2 res"><b>Requiere Maestría:</b></div>
									<div class="col-md-2 res">Unknow</div>
								</div>
								<br>
								<br>
								<div class="row ">
										<div class="col-md-2 res"><b>Requiere créditos:</b></div>
										<div class="col-md-2 res">Unknow</div>
										<div class="col-md-2 res"><b>Requiere EPS:</b></div>
										<div class="col-md-2 res">Unknow</div>
										<div class="col-md-2 res"><b>Requiere Cierre:</b></div>
										<div class="col-md-2 res">Unknow</div>
								</div>

								<br>
								<br>
								<button onclick="closebecas()" class="closeThedata">cerrar</button>
							</div>	
						</center>

						<!--costos-->
						<center>
								<div class="window_costos">
										<center>
												<h1 class="tittle_data">HORARIOS Y JORNADAS</h1>
											</center>	
											<div class="container_window">
											<div class="row">
												<div class="col-md-2 res"><b>Costo Mensual (Q): </b></div>
												<div class="col-md-2 res">Unknow</div>
												<div class="col-md-2 res"><b>Costo Matrícula (Q):</b></div>
												<div class="col-md-2 res">Unknow</div>
												<div class="col-md-2 res"><b>Costo inscripción (Q):</b></div>
												<div class="col-md-2 res">Unknow</div>
											</div>
											<br>
											<br>
											<div class="row ">
												<div class="col-md-2 res"><b>Detalles pago:</b></div>
												<div class="col-md-2 res">Unknow</div>
												<div class="col-md-2 res"><b>Promociones:</b></div>
												<div class="col-md-2 res">Unknow</div>
											</div>
											<br>
											<br>
											<div class="row ">
													<div class="col-md-2 res"><b>Costo parqueo:</b></div>
													<div class="col-md-2 res">Unknow</div>
													<div class="col-md-2 res"><b>Disponibilidad de parqueo:</b></div>
													<div class="col-md-2 res">Unknow</div>
											</div>
											<br>
											<br>
											<div class="row ">
												<center>
													<div class="col-md-2 res"><b>Detalles parqueo:</b></div>
													<div class="col-md-2 res">Unknow</div>
												</center>
											</div>
											<br>
											<br>
									<button onclick="closecostos()" class="closeThedata">cerrar</button>
								</div>	
							</center>
						
						<!--admisión-->
						<center>
								<div class="window_admision">
									<center>
										<h1 class="tittle_data">ADMISIÓN</h1>
									</center>	
									<div class="container_window">
										<div class="row">
											<div class="col-md-12 res2">Papelería de admisión</div>
										</div>
										<br>
										<br>
									<div class="row">
										<div class="col-md-12 res">Nuevo Ingreso:</div>
									</div>
									<div class="row">
											<textarea class="col-md-12 admis" name="" id="" cols="30" rows="10"></textarea>
										</div>
									<br>
									<div class="row">
											<div class="col-md-12 res">Reingreso:</div>
										</div>
										<div class="row">
												<textarea class="col-md-12 admis" name="" id="" cols="30" rows="10"></textarea>
											</div>
									<br>
									<div class="row">
											<div class="col-md-12 res">Continuación:</div>
										</div>
										<div class="row">
												<textarea class="col-md-12 admis" name="" id="" cols="30" rows="10"></textarea>
											</div>
									<br>
									<div class="row">
											<div class="col-md-12 res">Traslado de universidad:</div>
										</div>
										<div class="row">
												<textarea class="col-md-12 admis" name="" id="" cols="30" rows="10"></textarea>
											</div>
									<br>

									<br>
									<button onclick="closeadmision()" class="closeThedata">cerrar</button>
								</div>	
							</center>



						<div class="space">	
						<div id="button_container">
								<center>
			
								<button onclick="generalData()" class="but1">
									Datos Generales
								</button>
			
								<button onclick="horario()" class="but2 but00">
									Horarios y Jornadas
								</button>
			
								<button onclick="pensum()" class="but3">
									Pensum
								</button>
			
								<button onclick="becas()" class="but7 but00">
									Becas y requisitos de cierre
								</button>
			
								<button onclick="costos()" class="but8">
									Costos y parque
								</button>
			
								<button onclick="admision()" class="but9">
										Admisión
								</button>
								</center>
						</div>
	
						</div>
					<a href="descubritelo322.html"><i class="fas fa-arrow-alt-circle-left" style="color:#FFFFFF;"></i></a>
				</div>

				<script>
				function dGenerales(){

					};
				</script>
	<script src="../../assets/libs/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../assets/libs/bootstrap/bootstrap.min.js"></script>
	<script src="../../assets/js/focus-visible.js"></script>
	<script src="../../assets/js/platform.js"></script>
</body>
</html>
