<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=0.4, maximum-scale=-50, user-scalable=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="icon" href="../../assets/img/logo-red.png">
	<link rel="stylesheet" type="text/css" href="../../assets/libs/jquery-ui/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/libs/bootstrap/bootstrap.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../../assets/css/user/loader-user.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/user/descubritelo.css" />

	
</head>
<body>
		<body>
				<div class="free">
						<center>
								<h1 style="padding: 0; margin: 0; color:#FFFFFF">¡Así de fácil!</h1>
								<div class="carreras">
									<div class="busquedaCarreras">

										<h1 style="padding: 0; margin: 25px; color:#FFFFFF">{{Carrera}}</h1>
										<button class="filtro" id="filtro1" onclick="filtrar();">Filtrar por...</button>

										<div class="filtrar">
											<div class="row">
												<div class="col-md-3 res"><b>Jornada:</b></div>
												<div class="col-md-3 res"><b>Departamento:</b></div>
												<div class="col-md-3 res"><b>Duración:</b></div>
												<div class="col-md-3 res"><b>Calificación de estrellas por otros usuarios:</b></div>
											</div>

											<div class="row">
													<select class="col-md-3 mrg"><b></b></select>
													<select class="col-md-3 mrg"><b></b></select>
													<select class="col-md-3 mrg"><b></b></select>
													<select class="col-md-3 mrg"><b></b></select>
												</div>
												<br>
												<br>
											<div class="row">
													<div class="col-md-3 res"><b>Costo mensual:</b></div>
											</div>
											<br>
											<div class="row">
													<div class="col-md-3 res"><b>Min:</b></div>
													<div class="col-md-3 res"><b>Max:</b></div>
											</div>
											<div class="row">
												<input class="col-md-3 mrg" type="text">
												<input class="col-md-3 mrg" type="text">
											</div>
											<br>
											<br>
											<button class="filtro" id="filtro2" onclick="closefiltrar();">Filtrar</button>
										</div>

										
										<ul class="nav nav-pills">
											
												<li role="presentation" class="active"><a href="#">Todas</a></li>
												<li role="presentation"><a href="#">Favoritos</a></li>	
										</ul>

										
										<ul class="list-group">
												<a href="descubritelo323.html">
												<li class="list-group-item ytt2"><img style="width:64px; heigth:64; margin-right: 15px; float:left;" src="../../assets/img/escudoUSAC.png" >
												<h3 class="profe">LICENCIATURA EN ARQUITECTURA INTEGRAL</h3>
												<h5 class="profe1">Universidad San Carlos de Guatemala</h5>
												<h5 class="profe1">Guatemala, Guatemala</h5>
											</a>
												<h5 class="far farstar">&#xf005;&#xf005;&#xf005;&#xf005;&#xf005;</h5>
												<div class="fas farhear heartgrey" onclick="heartred();" style="float:right; font-size:24px; cursor: pointer" >&#xf004;</div>
												<div class="fas farheart heartred" onclick="heartgrey();" style="display:none; float:right; font-size:24px; color: red; cursor: pointer" >&#xf004;</div>
												</li>
											
											<a href="descubritelo323.html">
												<li class="list-group-item ytt2"><img style="width:64px; heigth:64; margin-right: 15px; float:left;" src="../../assets/img/escudoUSAC.png" >
													<h3 class="profe">LICENCIATURA EN ARQUITECTURA INTEGRAL</h3>
													<h5 class="profe1">Universidad San Carlos de Guatemala</h5>
													<h5 class="profe1">Guatemala, Guatemala</h5>
												</a>
													<h5 class="far farstar">&#xf005;&#xf005;&#xf005;&#xf005;&#xf005;</h5>
													<div class="fas farheart" style="float:right; font-size:24px;" >&#xf004;</div>
												</li>
												
												<a href="descubritelo323.html">
												<li class="list-group-item ytt2"><img style="width:64px; heigth:64; margin-right: 15px; float:left;" src="../../assets/img/escudoUSAC.png" >
													<h3 class="profe">LICENCIATURA EN ARQUITECTURA INTEGRAL</h3>
													<h5 class="profe1">Universidad San Carlos de Guatemala</h5>
													<h5 class="profe1">Guatemala, Guatemala</h5>
												</a>
													<h5 class="far farstar">&#xf005;&#xf005;&#xf005;&#xf005;&#xf005;</h5>
													<div class="fas farheart" style="float:right; font-size:24px;" >&#xf004;</div>
												</li>

												<a href="descubritelo323.html">
												<li class="list-group-item ytt2"><img style="width:64px; heigth:64; margin-right: 15px; float:left;" src="../../assets/img/escudoUSAC.png" >
													<h3 class="profe">LICENCIATURA EN ARQUITECTURA INTEGRAL</h3>
													<h5 class="profe1">Universidad San Carlos de Guatemala</h5>
													<h5 class="profe1">Guatemala, Guatemala</h5>
												</a>
													<h5 class="far farstar">&#xf005;&#xf005;&#xf005;&#xf005;&#xf005;</h5>
													<div class="fas farheart" style="float:right; font-size:24px;" >&#xf004;</div>
												</li>
												
												<a href="descubritelo323.html">
												<li class="list-group-item ytt2"><img style="width:64px; heigth:64; margin-right: 15px; float:left;" src="../../assets/img/escudoUSAC.png" >
													<h3 class="profe">LICENCIATURA EN ARQUITECTURA INTEGRAL</h3>
													<h5 class="profe1">Universidad San Carlos de Guatemala</h5>
													<h5 class="profe1">Guatemala, Guatemala</h5>
												</a>
													<h5 class="far farstar">&#xf005;&#xf005;&#xf005;&#xf005;&#xf005;</h5>
													<div class="fas farheart" style="float:right; font-size:24px;" >&#xf004;</div>
												</li>
											  </ul>
										
										<div class="media">
											<div class="media-left">
												<a href="#">
													
												</a>
											</div>	
										</div>

									</div>
									
								</div>
								</center>
					<a href="descubritelo321.html"><i class="fas fa-arrow-alt-circle-left" style="color:#FFFFFF;"></i></a>
				</div>

	<script src="../../assets/libs/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../assets/libs/bootstrap/bootstrap.min.js"></script>
	<script src="../../assets/js/focus-visible.js"></script>
	<script src="../../assets/js/platform.js"></script>
</body>
</html>
