<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=0.1, maximum-scale=-50, user-scalable=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="icon" href="../../assets/img/logo-red.png">
	<link rel="stylesheet" type="text/css" href="../../assets/libs/jquery-ui/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/libs/bootstrap/bootstrap.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../../assets/css/user/loader-user.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/user/prueba-user2.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/user/descubritelo.css" />

	<script>
					function hideshow1() {
				var zzero = document.getElementById("zzero");
				var zero = document.getElementById("zero");
				var one = document.getElementById("one");
				var two = document.getElementById("two");
				var three = document.getElementById("three");

				zzero.style.display='none';
				zero.style.display='initial';
				one.style.display='none';
				two.style.display='none';
				three.style.display='none';

			};
			function hideshow2() {
				var zzero = document.getElementById("zzero");
				var zero = document.getElementById("zero");
				var one = document.getElementById("one");
				var two = document.getElementById("two");
				var three = document.getElementById("three");

				zzero.style.display='none';
				zero.style.display='none';
				one.style.display='initial';
				two.style.display='none';
				three.style.display='none';

			};

			function hideshow3() {
				var zzero = document.getElementById("zzero");
				var zero = document.getElementById("zero");
				var one = document.getElementById("one");
				var two = document.getElementById("two");
				var three = document.getElementById("three");

				zzero.style.display='none';
				zero.style.display='none';
				one.style.display='none';
				two.style.display='initial';
				three.style.display='none';

			};
			function hideshow4() {
				var zzero = document.getElementById("zzero");
				var zero = document.getElementById("zero");
				var one = document.getElementById("one");
				var two = document.getElementById("two");
				var three = document.getElementById("three");

				zzero.style.display='none';
				zero.style.display='none';
				one.style.display='none';
				two.style.display='none';
				three.style.display='initial';

			};
	</script>
	
</head>
<body>
		<div class="free">
			<center class="tittlec2">
				<h1 style="color:white;">Datos para tu factura</h1>
			</center>
			<center>
			<div style="width:810px; background-color:inherit;">
			<center>
			<div style="width:800px; background-color:inherit">
				<!--AQUI EMPIEZA TODO-->
					<div id="cerrado" style="float:left; color: #ffffff"><i class="far fa-times-circle fa-3x" onclick="window.location = 'descubritelo2.html'; "></i></div>
					<center>
							<div class="test-count">
								<center>				
									<div id="circle1"></div>
									<div id="shadowring"></div>
									<div id="circle2"></div>
									<canvas height="200" width="200" id="counter"></canvas>
								</center>
				
							</div>		
							<div id="dvMensajeForm" class="alert hidden" style="font-weight: bold;">
									<button type="button" class="close" onclick="$('#dvMensajeForm').addClass('hidden');">&times;</button>
									<center><span id="spMensajeForm"></span></center>
							</div>
				
							
							
						</center>
				
					<div class="slider" id="des">
						<div class="slide" id="zzero">
							<div class="quest"><h1>Llená estos datos</h1></div>
							<div class="answer form-group sele">
								<button class="op2" id="op0" onclick="hideshow1(); change(); fillCounter(); ">Continuar</button>
							</div>
						</div>
						
				
				
						<div class="slide" id="zero">
				
				
							<div class="quest"><h1>Nombre de la factura</h1></div>
							<div class="answer form-group sele">

										<div>
											<input style="width: 804px; background: inherit; color: #ffffff;" type="text" class="form-control" ng-model="Usuario.IdUsuario" placeholder="Nombre">
										</div>

				
									<center>
										<button class="op2" id="op1" onclick="hideshow2(); change2(); fillCounter(); ">Continuar</button>
									</center>
									<h1 style="color: #ffffff;">Te enviaremos la factura a tú correo</h1>
							</div>
					
						</div>
				
						<div class="slide" id="one">
				
								<div class="quest"><h1>NIT</h1></div>
								<div class="answer form-group">
										<center>
											<div>
												<input style="width: 804px; background: inherit; color: #ffffff;" type="text" class="form-control" ng-model="Usuario.IdUsuario" placeholder="NIT">
											</div>
											<h3 style="color: #ffffff;">NIT</h3>
										</center>
										<center>
												<button class="op2" id="op1" onclick=" hideshow3(); change3(); fillCounter();">Continuar</button>
										</center>

										<h1 style="color: #ffffff;">Te enviaremos la factura a tú correo</h1>
								</div>
						</div>
					
						<div class="slide" id="two">
							
								<div class="quest"><h1>Dirección</h1></div>
								<div class="answer form-group">
										<center>
											<div>
												<input style="width: 804px; background: inherit; color: #ffffff;" type="text" class="form-control" ng-model="Usuario.PrimerNombre" placeholder="Direccion">
											</div>
										</center>
										<center>
												<button class="op2" id="op2" onclick="hideshow4(); change4(); fillCounter();">Continuar</button>
										</center>
										<h1 style="color: #ffffff;">Te enviaremos la factura a tú correo</h1>
								</div>
						</div>
				
						<div class="slide" id="three">
				
								<div class="quest"><h1><COMENZÁ/h1></div>
								<div class="answer form-group">
				
									<center>
											<a href="descubritelo311.html"><button class="op2" id="op3">Listo</button></a>
											<h1 style="color: #ffffff;">Te enviaremos la factura a tú correo</h1>
									</center>
								</div>
						</div>
					</div>


			</div>
			</center>
			</div>
		</center>
		</div>


		<script>

				// AQUI EMPECE A PROGRAMAR 
			var counter = document.getElementById('counter').getContext('2d');
			var counter1 = document.getElementById('counter').getContext('2d');
					var no = 0; 
					var no1 = 0; 
					var pointToFill = 4.72;  
					var pointToFill1 = no/100*4.72;  
					var constante = 0.628318530717959;
					var cw = counter.canvas.width; 
					var cw1 = counter.canvas.width; 
					var ch = counter.canvas.height; 
					var ch1 = counter.canvas.height; 
			var diff;   
			var diff1;  
			var hue = 'rgb(' + (Math.floor(Math.random() * 256)) + ',' + (Math.floor(Math.random() * 256)) + ',' + (Math.floor(Math.random() * 256)) + ')';
			var wi=parseInt(window.innerWidth)+"px";
			var sliders=document.getElementById('des');
			
			fillCounter();
			console.log(wi);
			

	
	
			function fillCounter(){
				diff = ((no/100) * Math.PI*2*10);
				counter.clearRect(0,0,cw,ch); 
							counter.lineWidth = 3;
				counter.fillStyle = '#fff';
						counter.strokeStyle = '#FFFFFF'; 
				counter.textAlign = 'center';
				counter.font = "25px monospace";
				counter.fillText(no+'%',100,110);
				counter.beginPath();
				counter.arc(100,100,90,pointToFill,diff/10+pointToFill); 
				counter.stroke(); 
				console.log(diff/10+pointToFill);
				if(no >= no && no<100){
							no= no+25;
							document.getElementById("counter").innerHTML=no;
							var num = no;
							var num = 0;
							console.log(no);
				}
	
			}
	
			function fillCounterback(){
		  diff1 = ((no/100) * Math.PI*2*10);
		  counter.clearRect(0,0,cw,ch); 
				counter.lineWidth = 3;
		  counter.fillStyle = '#fff';
				counter.strokeStyle = '#FFFFFF'; 
		  counter.textAlign = 'center';
				counter.font = "25px monospace";
				counter.beginPath(constante);
				dif=no/25;
				
				switch(no){
					case 50:
					counter.fillText((0)+'%',100,110);
					counter.arc(100,100,90,0,0);
					break;
					case 75:
					counter.fillText((50)+'%',100,110);
					counter.arc(100,100,90,pointToFill,6.290796326794896);
					break;
					case 100:
					counter.fillText((75)+'%',100,110);
					counter.arc(100,100,90,pointToFill,7.861592653589793);
					break;	
				}
		  counter.stroke();
		  if(no <= no){
					no=(no-25)
					document.getElementById("counter").innerHTML=no;				
					var num = no;
					var num = 0;
				}
	
			}
	
	
			function colorChange() {
	
				if (hue!="") {
					var exa=hue;
					var exa="";
					let hashtag = "#";
					exa1=[ "04888B" , "CA7A2F", "BA2036", "BA2036", "486661", "A8100D", "9B395A","E85E1B"];
					var exa='rgb(' + (Math.floor(Math.random() * 256)) + ',' + (Math.floor(Math.random() * 256)) + ',' + (Math.floor(Math.random() * 256)) + ')';
					var divElement = document.getElementById("colorsra");
					var butcon0 = document.getElementById("op0");
					var butcon = document.getElementById("op1");
					var butcon2 = document.getElementById("op2");
					var butcon3 = document.getElementById("op3");
	
					var radios = document.getElementById("genf");
					var radios2 = document.getElementById("genm");
				
					var deficolor = hashtag+exa1[Math.floor(Math.random() * exa1.length)];
					divElement.style.backgroundColor = deficolor
					radios.style.setProperty('--ch', divElement.style.backgroundColor );
					radios2.style.setProperty('--ch', divElement.style.backgroundColor );
					radios.style.setProperty('--bg-pseudo', divElement.style.backgroundColor );
					radios2.style.setProperty('--bg-pseudo', divElement.style.backgroundColor );
					butcon0.style.backgroundColor=divElement.style.backgroundColor;
					butcon.style.backgroundColor=divElement.style.backgroundColor;
					butcon2.style.backgroundColor=divElement.style.backgroundColor;
					butcon3.style.backgroundColor=divElement.style.backgroundColor;
	
	
	
					
	
					
	
	
	
	
	
	
	
	
				};
	
			};
	
			
	
			function change() {
				if(wi != 0){
					sliders.style.transform = "translate(0%, 0)"
					
				}else{
					
				}
			};
			function change2() {
				if(wi!= 0){
					sliders.style.transform = "translate(0%, 0)"
				}else{
	
				}
			};
			function change3() {
				if(wi!= 0){
					sliders.style.transform = "translate(0%, 0)"
				}else{
	
				}
			};
			function change4() {
				if(wi!= 0){
					sliders.style.transform = "translate(0%, 0)"
				}else{
	
				}
			};
			function change5() {
				if(wi!= 0){
					sliders.style.transform = "translate(0%, 0)"
				}else{
	
				}
			};
	</script>

	<script src="../../assets/libs/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../assets/libs/bootstrap/bootstrap.min.js"></script>
	<script src="../../assets/js/focus-visible.js"></script>
	<script src="../../assets/js/platform.js"></script>
</body>
</html>
