<!DOCTYPE HTML>
<html ng-app="Escoly">
<head>
      <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
     <link rel="icon" href="../assets/img/logo-red.png">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="../../assets/libs/bootstrap/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/libs/jquery-ui/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/user/navbar-user.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/user/form-user.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/user/loader-user.css" />

	<!-- JAVASCRIPT -->
	<script src="../../assets/libs/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../assets/libs/jquery-ui/jquery-ui.min.js"></script>
	<script src="../../assets/libs/bootstrap/bootstrap.min.js"></script>
	<script src="../../assets/libs/angular/angular.min.js"></script>
	<script src="../../assets/js/Utilidades.js"></script>

	<style>

	</style>
</head>
<body ng-controller="MainController">

	<div ng-include="'../../shared/navbar-user.html'"></div> <!-- navbar -->

	<div class="dvContent">
		<h2>Detalles de compra</h2>
		<br/>
		<br/>
		<center>
			<div id="dvMensajeForm" class="alert hidden" style="font-weight: bold; width:100%; max-width: 600px;">
				<button type="button" class="close" onclick="$('#dvMensajeForm').addClass('hidden');">&times;</button>
				<center><span id="spMensajeForm"></span></center>
			</div>
		</center>
		<br/>
		<br/>
		<div class="row">
			<div class="form-group col-sm-6">
				<label>Token:</label>
				<input type="text" class="form-control" ng-model="Token" placeholder="Token" disabled>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-6">
				<label>Comprobante:</label>
				<input type="text" class="form-control" ng-model="Comprobante" placeholder="Comprobante" disabled>
			</div>
		</div>
		<br/>
    <div class="row">
			<div class="form-group col-sm-6">
				<label>Tipo de compra:</label>
				<input type="text" class="form-control" ng-model="TipoCompra" placeholder="Tipo de compra" disabled>
			</div>
		</div>
    <br/>
    <div ng-if="TipoCompraMin == 'B'">
      <button class="btn btn-link" onclick=" window.location = 'user-main.html#!/list-busqueda'; ">Regresar a b&uacute;squedas</button>
    </div>
    <div ng-if="TipoCompraMin == 'O'">
      <button class="btn btn-link" onclick=" window.location = 'user-main.html#!/list-orientacion'; ">Regresar a orientaciones</button>
    </div>
	</div>
	<div ng-include="'../../shared/loader.html'" onload="ProcCompra()"></div>
	<script>

		angular.module('Escoly', []);

		angular.module('Escoly').controller('MainController',function($scope, $http){

			$scope.Token = getUrlParameter('token');
			$scope.Comprobante = getUrlParameter('comprobante');

			$scope.ProcCompra = function(){
				ProcesarCompra($scope);
			}

			function ProcesarCompra(self){
				$('#mdLoading').modal('show');
				$http({
  				method: 'POST',
  				url: '../../services/compra.php',
  				headers: {
  					'Content-Type': 'application/json; charset=utf-8',
  					'Data-Type': 'json'
  				},
  				data: {
  					"Operacion": "procesar_compra2",
  					"Param1": localStorage.getItem("LTNeeyqArqQgOirh3izGIg===="),
            "Param2": localStorage.getItem("hdAMzG3BQA/7EBQ2"),
  					"TokenPagadito": self.Token
  				}
				}).then(function(response, status){
					var Respuesta = response.data.Respuesta;
					if(Respuesta.Codigo==1){
            //MensajeForm("Ok", Respuesta.Mensaje);
            MensajeForm("Ok","¡Excelente! Tu compra fue un éxito. Desde ahora podés comenzar a vivir la experiencia Escoly. Recordá que en las próximas horas te vamos a estar enviando la factura a tu correo electrónico. Cualquier duda escribinos en el chat ¡Ayudenme!");
          }else{
            MensajeForm("Error", Respuesta.Mensaje);
          }
          self.TipoCompra = Respuesta.TipoCompra;
          self.TipoCompraMin = Respuesta.TipoCompraMin;
					$('#mdLoading').modal('hide');
				},	function(response){
					MensajeForm("Error", "Error de comunicacion, intente mas tarde");
					$('#mdLoading').modal('hide');
				});
			}

		});

	</script>
</body>
</html>
