<!DOCTYPE HTML>
<html ng-app="UniT">
<head>
		<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />

	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="">
     <link rel="icon" href="../../assets/img/logo-red.png">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="../../assets/libs/bootstrap/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/libs/jquery-ui/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/user/navbar-user.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/user/form-user.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/user/loader-user.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/user/tabs-user.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/user/prueba-user2.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

	<!-- JavaScript -->
	<script src="../../assets/libs/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../assets/libs/jquery-ui/jquery-ui.min.js"></script>
	<script src="../../assets/libs/bootstrap/bootstrap.min.js"></script>
	<script src="../../assets/libs/angular/angular.min.js"></script>
	<script src="../../assets/js/Utilidades.js"></script>
	<script src="../../assets/js/focus-visible.js"></script>

</head>
<body ng-controller="MainController" id="colorsra">
	<div id="cerrado"><i class="far fa-times-circle fa-3x" onclick="window.location = '../../index.html'; "></i></div>
	<center>
			<div class="test-count">
				<center>				
					<div id="circle1"></div>
					<div id="shadowring"></div>
					<div id="circle2"></div>
					<canvas height="200" width="200" id="counter"></canvas>
				</center>

			</div>		
			<div id="dvMensajeForm" class="alert hidden" style="font-weight: bold;">
					<button type="button" class="close" onclick="$('#dvMensajeForm').addClass('hidden');">&times;</button>
					<center><span id="spMensajeForm"></span></center>
				</div>

			
			
		</center>

	<div class="slider" id="des">
		<div class="slide" id="zzero">
			<div class="quest"><h1>Llená estos datos</h1></div>
			<div class="answer form-group sele">
				<button class="op2" id="op0" onclick="change(); fillCounter(); colorChange()">Continuar</button>
			</div>
		</div>
		


		<div class="slide" id="zero">


			<div class="quest"><h1>Soy..</h1></div>
			<div class="answer form-group sele">
					<br>
					<input type="radio" id="l1" ng-model="Usuario.Genero" value="F">
					<label for="l1" id="genf" >Señorita</label>
					<center>
					<hr>
					</center>
					<input type="radio" id="l2" ng-model="Usuario.Genero" value="M">
					<label  for="l2" id="genm">Caballero</label>
					<center>
					<hr>
				</center>

					<center>
							<div class="backnext">
									<i class="far fa-arrow-alt-circle-left fa-3x" onclick="change21(); fillCounterback(); colorChange()"></i>
									<h3>1/13</h3>
									<i class="far fa-arrow-alt-circle-right fa-3x" onclick="change2(); fillCounter(); colorChange()"></i>
						</div>
					</center>
				<!--<center>
				<button id="start" onclick="change(); colorChange()">Continuar</button>
			</center>-->
			</div>
	
		</div>

		<div class="slide" id="one">

				<div class="quest"><h1>Tengo…</h1></div>
				<div class="answer form-group">
						<center>
							<div>
								<input type="text" class="form-control" ng-model="Usuario.IdUsuario" placeholder="Id Usuario">
							</div>
							<h3>Póne tu edad</h3>
						</center>
						<center>
								<button class="op2" id="op1" onclick="change3(); fillCounter(); colorChange()">Continuar</button>
						</center>
				</div>
		</div>
	
		<div class="slide" id="two">
			
				<div class="quest"><h1>Me llamo...</h1></div>
				<div class="answer form-group">
						<center>
							<div>
								<input type="text" class="form-control" ng-model="Usuario.PrimerNombre" placeholder="Primer nombre">
							</div>
							<h3>Poné un nombre</h3>
						</center>
						<center>
								<button class="op2" id="op2" onclick="change4(); fillCounter(); colorChange()">Continuar</button>
						</center>
				</div>
		</div>

		<div class="slide" id="three">

				<div class="quest"><h1><COMENZÁ/h1></div>
				<div class="answer form-group">

					<center>
							<a href="../../index.html"><button class="op2" id="op3">Comenzá</button></a>
					</center>
				</div>
		</div>
	</div>
<!--
	<center>
			<h1 class="Ques"></h1>
	<button onclick="fillCounter(); colorChange()" class="btnext">TEST</button>
	</center>
-->
	<!-- AQUI TERMINA LO MIO -->

	
	<script>

			// AQUI EMPECE A PROGRAMAR 
		var counter = document.getElementById('counter').getContext('2d');
		var counter1 = document.getElementById('counter').getContext('2d');
				var no = 0; 
				var no1 = 0; 
				var pointToFill = 4.72;  
				var pointToFill1 = no/100*4.72;  
				var constante = 0.628318530717959;
				var cw = counter.canvas.width; 
				var cw1 = counter.canvas.width; 
				var ch = counter.canvas.height; 
				var ch1 = counter.canvas.height; 
		var diff;   
		var diff1;  
		var hue = 'rgb(' + (Math.floor(Math.random() * 256)) + ',' + (Math.floor(Math.random() * 256)) + ',' + (Math.floor(Math.random() * 256)) + ')';
		var wi=parseInt(window.innerWidth)+"px";
		var sliders=document.getElementById('des');
		
		fillCounter();
		console.log(wi);
		

		function fillCounter(){
            diff = ((no/100) * Math.PI*2*10);
            counter.clearRect(0,0,cw,ch); 
						counter.lineWidth = 3;
            counter.fillStyle = '#fff';
					counter.strokeStyle = '#FFFFFF'; 
            counter.textAlign = 'center';
            counter.font = "25px monospace";
            counter.fillText(no+'%',100,110);
            counter.beginPath();
            counter.arc(100,100,90,pointToFill,diff/10+pointToFill); 
            counter.stroke(); 
            console.log(diff/10+pointToFill);
            if(no >= no && no<100){
						no= no+25;
						document.getElementById("counter").innerHTML=no;
						var num = no;
						var num = 0;
						console.log(no);
			}

		}

		function fillCounterback(){
      diff1 = ((no/100) * Math.PI*2*10);
      counter.clearRect(0,0,cw,ch); 
			counter.lineWidth = 3;
      counter.fillStyle = '#fff';
			counter.strokeStyle = '#FFFFFF'; 
      counter.textAlign = 'center';
			counter.font = "25px monospace";
			counter.beginPath(constante);
			dif=no/25;
			
			switch(no){
				case 50:
				counter.fillText((0)+'%',100,110);
				counter.arc(100,100,90,0,0);
				break;
				case 75:
				counter.fillText((50)+'%',100,110);
				counter.arc(100,100,90,pointToFill,6.290796326794896);
				break;
				case 100:
				counter.fillText((75)+'%',100,110);
				counter.arc(100,100,90,pointToFill,7.861592653589793);
				break;	
			}
      counter.stroke();
      if(no <= no){
				no=(no-25)
				document.getElementById("counter").innerHTML=no;				
				var num = no;
				var num = 0;
			}

		}


		function colorChange() {

			if (hue!="") {
				var exa=hue;
				var exa="";
				let hashtag = "#";
				exa1=[ "04888B" , "CA7A2F", "BA2036", "BA2036", "486661", "A8100D", "9B395A","E85E1B"];
				var exa='rgb(' + (Math.floor(Math.random() * 256)) + ',' + (Math.floor(Math.random() * 256)) + ',' + (Math.floor(Math.random() * 256)) + ')';
				var divElement = document.getElementById("colorsra");
				var butcon0 = document.getElementById("op0");
				var butcon = document.getElementById("op1");
				var butcon2 = document.getElementById("op2");
				var butcon3 = document.getElementById("op3");

				var radios = document.getElementById("genf");
				var radios2 = document.getElementById("genm");
			
				var deficolor = hashtag+exa1[Math.floor(Math.random() * exa1.length)];
				divElement.style.backgroundColor = deficolor
				radios.style.setProperty('--ch', divElement.style.backgroundColor );
				radios2.style.setProperty('--ch', divElement.style.backgroundColor );
				radios.style.setProperty('--bg-pseudo', divElement.style.backgroundColor );
				radios2.style.setProperty('--bg-pseudo', divElement.style.backgroundColor );
				butcon0.style.backgroundColor=divElement.style.backgroundColor;
				butcon.style.backgroundColor=divElement.style.backgroundColor;
				butcon2.style.backgroundColor=divElement.style.backgroundColor;
				butcon3.style.backgroundColor=divElement.style.backgroundColor;



				

				








			};

		};

		

		function change() {
			if(wi != 0){
				sliders.style.transform = "translate(-20%, 0)"
			}else{
				
			}
		};
		function change2() {
			if(wi!= 0){
				sliders.style.transform = "translate(-40%, 0)"
			}else{

			}
		};
		function change21() {
			if(wi!= 0){
				sliders.style.transform = "translate(-0%, 0)"
			}else{

			}
		};
		function change3() {
			if(wi!= 0){
				sliders.style.transform = "translate(-60%, 0)"
			}else{

			}
		};
		function change4() {
			if(wi!= 0){
				sliders.style.transform = "translate(-80%, 0)"
			}else{

			}
		};
		function change5() {
			if(wi!= 0){
				sliders.style.transform = "translate(-100%, 0)"
			}else{

			}
		};






        

		


		//AQUI TERMINE DE PROGRAMAR 

		$(function(){
			$("#tabs").tabs();
		});

	  $(document).ready(function () {
	    $( "#tabs" ).tabs( "option", "disabled", [ 1 ] );
	  });

		function HabilitarTab1(){
			$( "#tabs" ).tabs( "enable", 0 );
			$('#aTab1').click();
			$( "#tabs" ).tabs( "option", "disabled", [ 1 ] );
		}

		function HabilitarTab2(){
			$( "#tabs" ).tabs( "enable", 1 );
			$('#aTab2').click();
			$( "#tabs" ).tabs( "option", "disabled", [ 0 ] );
		}

				
		

			


		angular.module('UniT', []);

		angular.module('UniT').controller('MainController',function($scope, $http){

			$scope.Usuario = {
				"IdUsuario": "",
				"Password": "",
				"PrimerNombre": "",
				"SegundoNombre": "",
				"PrimerApellido": "",
				"SegundoApellido": "",
				"Genero": "",
				"FechaNacimiento": "",
				"Correo": "",
				"TelefonoCelular": "",
				"Departamento": 0,
				"Municipio": 0,
				"Direccion": "",
				"Instituto": "",
				"NombreFacturacion": "",
				"ApellidoFacturacion": "",
				"Nit": "",
				"DepartamentoFacturacion": 0,
				"Imagen": "",
				"RedSocial": "",
				"Medio": ""
			};

			ObtenerDepartamentos($scope);

			$scope.RegistrarUsuario = function(){
				//Validar campos obligatorios
				if( (Vacio($scope.Usuario.IdUsuario)) || (Vacio($scope.Usuario.Password)) || (Vacio($scope.Usuario.RepPassword)) ||
					(Vacio($scope.Usuario.PrimerNombre)) || (Vacio($scope.Usuario.PrimerApellido)) || (Vacio($scope.Usuario.Genero)) ||
					(Vacio($scope.Usuario.Correo)) || (Vacio($scope.Usuario.TelefonoCelular)) || (Vacio($scope.Usuario.Departamento)) ||
					(Vacio($scope.Usuario.Municipio)) || Vacio($scope.Usuario.RedSocial) || Vacio($scope.Usuario.Medio) ||
					Vacio($scope.Usuario.Instituto) || Vacio($scope.Usuario.FechaNacimiento) ){

					MensajeForm("Error", "¡Te hacen falta datos que completar!");

				}else if(!ValidarFecha($scope.Usuario.FechaNacimiento)){
					MensajeForm("Advertencia", "Pusiste mal tu fecha de nacimiento.");
				}else if(!ValidarIdUsuario($scope.Usuario.IdUsuario)){
					MensajeForm("Advertencia", "Tu ID está incorrecto. Recordá que solo letras y números");
				}else if(!ValidarCorreo($scope.Usuario.Correo)){ //Validar formato de correo electrónico
					MensajeForm("Advertencia", "Pusíste mal tu correo");
				}else if( $scope.Usuario.Password != $scope.Usuario.RepPassword ){ //Validar que passwords coincidan
					MensajeForm("Advertencia", "Poné igual tus contraseñas");
				}else if( $scope.Usuario.Password.length < 6){ //Validar longitud mínima de contraseña
					MensajeForm("Advertencia", "Ponele mínimo 6 caracteres a tu contraseña");
				}else if(ValidarFormatoContrasena($scope.Usuario.Password)){ //Validar formato de contraseña ingresada
					MensajeForm("Advertencia", "Caracteres incorrectos en contraseña");
				}else if(!ValidarCelular($scope.Usuario.TelefonoCelular)){ //Validar formato de numero de telefono
					MensajeForm("Advertencia", "Pusíste mal tu teléfono");
				}else{
					$('#mdLoading').modal('show');
					var jsonObject = {
						"Operacion": "registrar",
						"Usuario": $scope.Usuario
					};
					$http({
					method: 'POST',
					url: '../../services/usuario.php',
					headers: {
						'Content-Type': 'application/json; charset=utf-8',
						'Data-Type': 'json'
					},
					data: jsonObject
					}).then(function(response, status){
						if(response.data.respuesta.codigo == 1){
							localStorage.setItem("TMP_USUARIO", $scope.Usuario.IdUsuario);
							window.location = 'user-registro-ok.html';
						}else{
							MensajeForm("Error", response.data.respuesta.mensaje);
						}
						$('#mdLoading').modal('hide');
					},	function(response){
						MensajeForm("Error", "Error de comunicacion, intente mas tarde");
						$('#mdLoading').modal('hide');
					});
				}
			}

			$scope.CambioDepartamento = function(){
				ObtenerMunicipios($scope);
			}

			function ObtenerMunicipios(self){
				$http({
				method: 'POST',
				url: '../../services/universidad.php',
				headers: {
					'Content-Type': 'application/json; charset=utf-8',
					'Data-Type': 'json'
				},
				data: {
					"Operacion": "municipios",
					"IdDepartamento": self.Usuario.Departamento
					}
				}).then(function(response, status){
					if(response.data.municipios.length>0){
						self.Municipios = response.data.municipios;
					}else{
						MensajeForm("Error", "Error obteniendo municipios, intente mas tarde");
						self.Bloquear = true;
					}
				},	function(response){
					MensajeForm("Error", "Error de comunicacion, intente mas tarde");
				});
			}

			function ObtenerDepartamentos(self){
				$http({
				method: 'POST',
				url: '../../services/universidad.php',
				headers: {
					'Content-Type': 'application/json; charset=utf-8',
					'Data-Type': 'json'
				},
				data: {
					"Operacion": "departamentos"
					}
				}).then(function(response, status){
					if(response.data.departamentos.length>0){
						self.Departamentos = response.data.departamentos;
						self.DeptsFacturacion =  response.data.departamentos;
					}else{
						MensajeForm("Error", "Error obteniendo departamentos, intente mas tarde");
						self.Bloquear = true;
					}
					$('#mdLoading').modal('hide');
				},	function(response){
					MensajeForm("Error", "Error de comunicacion, intente mas tarde");
					$('#mdLoading').modal('hide');
				});
			}
			


		});

	</script>
</body>
</html>
