<!DOCTYPE HTML>
<html ng-app="UniT">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />

	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="">
     <link rel="icon" href="../../assets/img/logo-red.png">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="../../assets/libs/bootstrap/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/libs/jquery-ui/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/user/navbar-user.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/user/form-user.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/user/loader-user.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/user/tabs-user.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/user/signup.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

	<!-- JavaScript -->
	<script src="../../assets/libs/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../assets/libs/jquery-ui/jquery-ui.min.js"></script>
	<script src="../../assets/libs/bootstrap/bootstrap.min.js"></script>
	<script src="../../assets/libs/angular/angular.min.js"></script>
	<script src="../../assets/js/Utilidades.js"></script>
	<script src="../../assets/js/focus-visible.js"></script>

</head>
<body ng-controller="MainController" id="colorsra">
	<div id="cerrado"><i class="far fa-times-circle fa-3x" onclick="window.location = '../../index.html'; "></i></div>
	<center>
			<div class="test-count">
				<center>				
					<div id="circle1"></div>
					<div id="shadowring"></div>
					<div id="circle2"></div>
					<canvas height="200" width="200" id="counter"></canvas>
				</center>

			</div>		
			<div id="dvMensajeForm" class="alert hidden" style="font-weight: bold;">
					<button type="button" class="close" onclick="$('#dvMensajeForm').addClass('hidden');">&times;</button>
					<center><span id="spMensajeForm"></span></center>
				</div>

			
			
		</center>

	<div class="slider" id="des">

		<div class="slide" id="zero">


			<div class="quest"><h1>¡Buenísimo! Estás en el primer paso para iniciar la experiencia Escoly</h1></div>
			<div class="answer">
				<center>
				<button id="start" onclick="change();">Continuar</button>
			</center>
			</div>
	
		</div>

		<div class="slide" id="one">

			<div class="quest"><h1>Mi nombre es…</h1></div>
			<div class="answer form-group">
					<center>
						<div>
							<center>
							<input type="text" class="form-control" ng-model="Usuario.PrimerNombre" placeholder="Primer nombre">
						</center>
						</div>	
						<h3>Un nombre y un apellido</h3>
				</center>
				<center>
						<i class="far fa-arrow-alt-circle-left fa-3x" onclick="change1(); fillCounterback(); resetCount(); "></i>
						<button class="op2" id="op2" onclick="change2(); fillCounter(); ">Continuar</button>
				</center>
			</div>

		</div>
	
		<div class="slide" id="two">
			
				<div class="quest"><h1>Me gusta que me digan…</h1></div>
				<div class="answer form-group">
						<center>
							<div>
									<center>
								<input type="text" class="form-control" ng-model="Usuario.IdUsuario" placeholder="Id Usuario">
								</center>
							</div>
							<h3>Será tu ID y así te vamos a decir de ahora en adelante</h3>
						</center>
						<center>
								<i class="far fa-arrow-alt-circle-left fa-3x" onclick="change21(); fillCounterback(); "></i>
								<button class="op2" id="op3" onclick="change3(); fillCounter(); ">Continuar</button>
						</center>
				</div>
		</div>

		<div class="slide" id="three">

				<div class="quest"><h1>Quiero esta contraseña</h1></div>
				<div class="answer form-group">
					<center>
						<div>
							<center>
						<input type="password" class="form-control" ng-model="Usuario.Password" placeholder="Contraseña">
					</center>
					</div>
					</center>	
					<center>
							<i class="far fa-arrow-alt-circle-left fa-3x" onclick="change31(); fillCounterback(); "></i>
							<button class="op2" id="op4" onclick="change4(); ">Continuar</button>
					</center>
				</div>
		</div>
		
		<div class="slide" id="four">
				<div class="quest"><h1>Repetí tu contraseña</h1></div>
				<div class="answer form-group">
					<center>
						<div>
							<center>
							<input type="password" class="form-control" ng-model="Usuario.RepPassword" placeholder="Repetir Contraseña">
						</center>
						</div>
					</center>	
					<center>
							<i class="far fa-arrow-alt-circle-left fa-3x" onclick="change41(); "></i>
							<button class="op2" id="op5" onclick="change5(); fillCounter(); ">Continuar</button>
					</center>
				</div>
			
		</div>

		<div class="slide" id="five">

				<div class="quest"><h1>Soy…</h1></div>
				<div class="answer form-group sele">
					<br>
					<input type="radio" id="l1" ng-model="Usuario.Genero" value="F">
					<label for="l1" id="genf" >Señorita</label>
					<center>
					<hr>
					</center>
					<input type="radio" id="l2" ng-model="Usuario.Genero" value="M">
					<label  for="l2" id="genm">Caballero</label>
					<center>
					<hr>
				</center>
				<center>
						<i class="far fa-arrow-alt-circle-left fa-3x" onclick="change51(); fillCounterback(); "></i>
						<button class="op2" id="op5" onclick="change6(); fillCounter(); ">Continuar</button>
			</center>

				</div>
				
		</div>
		
		<div class="slide" id="six">
				<div class="quest"><h1>Nací el…</h1></div>
				<div class="answer form-group">
					<center>
						<div class="date" id="arda">
								<center>
								<input type="text" class="form-control" ng-model="Usuario.FechaNacimiento" placeholder="dd/mm/yyyy" required pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}">
					</center>
					</div>
				</center>
				<center>
						<i class="far fa-arrow-alt-circle-left fa-3x" onclick="change61(); fillCounterback(); "></i>
						<button class="op2" id="op6" onclick="change7(); fillCounter(); ">Continuar</button>
				</center>

				</div>

		</div>

		<div class="slide" id="seven">

				<div class="quest"><h1>Mi correo es…</h1></div>
				<div class="answer form-group">
						<center>
								<div>
										<center>
											<input type="mail" class="form-control" ng-model="Usuario.Correo" placeholder="Correo">
										</center>	
								</div>
								<h3>Te prometemos no estarte mandando cosas</h3>
						</center>	
						<center>
								<i class="far fa-arrow-alt-circle-left fa-3x" onclick="change71(); fillCounterback(); "></i>
								<button class="op2" id="op7" onclick="change8(); fillCounter(); ">Continuar</button>
						</center>
				</div>


		</div>

		<div class="slide" id="eight">
				<div class="quest"><h1>Chateo más por…</h1></div>
				<div class="answer form-group">
					<br>
					<input type="radio" id="l3" ng-model="Usuario.RedSocial" value="Whatsapp">
					<label for="l3" id="redwa" >Whatsapp</label>
					<center>
					<hr>
					</center>
					<input type="radio" id="l4" ng-model="Usuario.RedSocial" value="Snapchat">
					<label  for="l4" id="redsna">Snapchat</label>
					<center>
					<hr>
					</center>
				</center>
				<input type="radio" id="l5" ng-model="Usuario.RedSocial" value="Otra">
				<label  for="l5" id="redot">Otra</label>
				<center>
				<hr>
				</center>
					<center>
								<i class="far fa-arrow-alt-circle-left fa-3x" onclick="change81(); fillCounterback(); "></i>
								<button class="op2" id="op8" onclick="change9(); fillCounter(); ">Continuar</button>
					</center>
				</div>

		</div>

		<div class="slide" id="nine">
				<div class="quest"><h1>Mi # de teléfono es…</h1></div>
				<div class="answer form-group">
						<center>
								<div >
									<center>
										<input type="text" class="form-control" ng-model="Usuario.TelefonoCelular" placeholder="Celular">
									</center>	
								</div>	
								<h3>Te prometemos no estarte mandando cosas</h3>
						</center>
						<center>
								<i class="far fa-arrow-alt-circle-left fa-3x" onclick="change91(); fillCounterback(); "></i>
								<button class="op2" id="op8" onclick="change10(); fillCounter(); ">Continuar</button>
						</center>
				</div>

		</div>

		<div class="slide" id="ten">
				<div class="quest"><h1>Vivo en el departamento de…</h1></div>
				<div class="answer form-group">
						<center>
							<div class="selector" id="bigse1">
								<center>
									<select  class="form-control" id="se1" >
										</center>		
										<option>Guatemala</option>
								</select>
							</div>
						</center>
						<center>
										<i class="far fa-arrow-alt-circle-left fa-3x" onclick="change101(); fillCounterback(); "></i>
										<button class="op2" id="op9" onclick="change11();">Continuar</button>
							</center>
				</div>

		</div>

		<div class="slide" id="eleven">
				<div class="quest"><h1>En el municipio de…</h1></div>
				<div class="answer form-group">
					<center>
						<div class="selector" id="bigse2">
								<center>
									<select  class="form-control" id="se2" >
									</center>		
										<option>Guatemala</option>
										<option>Mixco</option>
									</select>
						</div>
					</center>

						<center>
										<i class="far fa-arrow-alt-circle-left fa-3x" onclick="change111();  "></i>
										<button class="op2" id="op9" onclick="change12(); fillCounter(); ">Continuar</button>
							</center>
				</div>

		</div>

		<div class="slide" id="twelve">
				<div class="quest"><h1>Estudio o estudié en…</h1></div>
				<div class="answer form-group">
						<center>
								<div >
										<center>
											<input type="text" class="form-control" ng-model="Usuario.Instituto" placeholder="Institucion educativa">
										</center>	
								</div>	
								<h3>Poné el colegio o U donde estudiás o el último donde estudiaste</h3>
						</center>
						<center>
								<i class="far fa-arrow-alt-circle-left fa-3x" onclick="change121(); fillCounterback(); "></i>
								<button class="op2" id="op9" onclick="change13(); fillCounter(); ">Continuar</button>
						</center>
				</div>

		</div>

		<div class="slide" id="thirteen">

				<div class="quest"><h1>Supe de Escoly por…</h1></div>
				<div class="answer form-group">
						<br>
						<input type="radio" id="l6" ng-model="Usuario.Medio" value="Facebook">
						<label for="l6" id="mefa" >Facebook</label>
						<center>
						<hr>
						</center>
						<input type="radio" id="l7" ng-model="Usuario.Medio" value="Instagram">
						<label  for="l7" id="mein">Instagram</label>
						<center>
						<hr>
						</center>
						<input type="radio" id="l8" ng-model="Usuario.Medio" value="Amigos">
						<label  for="l8" id="meam">Amigos</label>
					<center>
					<hr>
					</center>
					<input type="radio" id="l9" ng-model="Usuario.Medio" value="Otro">
					<label  for="l9" id="meot">Otro</label>
						<center>
									<i class="far fa-arrow-alt-circle-left fa-3x" onclick="change131(); "></i>
									<button class="op2" id="op9" onclick="change14(); finishHim(); ">Continuar</button>
						</center>
				</div>

		</div>

		<div class="slide" id="fourteen">
				<div class="answer">
						<center>
								<div >
										<center>
											<h1 id="mensajeFinal">ESO ES TODO</h1>
										</center>	
								</div>	

						</center>
				</div>


		</div>



	</div>
<!--
	<center>
			<h1 class="Ques"></h1>
	<button onclick="fillCounter(); colorChange()" class="btnext">TEST</button>
	</center>
-->
	<!-- AQUI TERMINA LO MIO -->

	
	<script>

			// AQUI EMPECE A PROGRAMAR 
		var counter = document.getElementById('counter').getContext('2d');
		var counter1 = document.getElementById('counter').getContext('2d');
				var no = 0; // Starting Point
				var no1 = 0; // Starting Point
				var pointToFill = 4.72;  //Point from where you want to fill the circle
				var pointToFill1 = no/100*4.72;  //Point from where you want to fill the circle
				var constante = 0.628318530717959;
				var cw = counter.canvas.width;  //Return canvas width
				var cw1 = counter.canvas.width;  //Return canvas width
				var ch = counter.canvas.height; //Return canvas height
				var ch1 = counter.canvas.height; //Return canvas height
		var diff;   // find the different between current value (no) and trageted value (100)
		var diff1;   // find the different between current value (no) and trageted value (100)
		var hue = 'rgb(' + (Math.floor(Math.random() * 256)) + ',' + (Math.floor(Math.random() * 256)) + ',' + (Math.floor(Math.random() * 256)) + ')';
		var wi=parseInt(window.innerWidth)+"px";
		var sliders=document.getElementById('des');
		
		fillCounter();
		
		function finishHim(){

				$('.test-count').css("display","none");
		}
		

		function fillCounter(){
            diff = ((no/100) * Math.PI*2*10);
            counter.clearRect(0,0,cw,ch); 
						counter.lineWidth = 3;
            counter.fillStyle = '#FFFFFF';
					counter.strokeStyle = '#08e608'; 
            counter.textAlign = 'center';
            counter.font = "32px monospace";
            counter.fillText(no+'%',100,110);
            counter.beginPath();
            counter.arc(100,100,90,pointToFill,diff/10+pointToFill); 
            counter.stroke(); 
            if(no >= no && no<100){
						no= no+10;
						document.getElementById("counter").innerHTML=no;
						var num = no;
						var num = 0;
						
			}
		}

		function resetCount(){
			no=10;
		};

		function fillCounterback(){
      diff1 = ((no/100) * Math.PI*2*10);
      counter.clearRect(0,0,cw,ch); 
			counter.lineWidth = 3;
      counter.fillStyle = '#fff';
			counter.strokeStyle = '#08e608'; 
      counter.textAlign = 'center';
			counter.font = "32px monospace";
			counter.beginPath(constante);
			dif=no/10;
			
			switch(no){
				case 10:
				counter.fillText((0)+'%',100,110);
				counter.arc(100,100,90,pointToFill,4.72);
				resetCount();
				break;
				case 20:
				counter.fillText((0)+'%',100,110);
				counter.arc(100,100,90,pointToFill,4.72);
				break;
				case 30:
				counter.fillText((10)+'%',100,110);
				counter.arc(100,100,90,pointToFill,5.348318530717958);
				break;
				case 40:
				counter.fillText((20)+'%',100,110);
				counter.arc(100,100,90,pointToFill,5.976637061435917);
				break;
				case 50:
				counter.fillText((30)+'%',100,110);
				counter.arc(100,100,90,pointToFill,6.604955592153876);
				break;
				case 60:
				counter.fillText((40)+'%',100,110);
				counter.arc(100,100,90,pointToFill,7.233274122871834);
				break;
				case 70:
				counter.fillText((50)+'%',100,110);
				counter.arc(100,100,90,pointToFill,7.861592653589793);
				break;
				case 80:
				counter.fillText((60)+'%',100,110);
				counter.arc(100,100,90,pointToFill,8.48991118430775);
				break;
				case 90:
				counter.fillText((70)+'%',100,110);
				counter.arc(100,100,90,pointToFill,9.11822971502571);
				break;
				case 100:
				counter.fillText((80)+'%',100,110);
				counter.arc(100,100,90,pointToFill,9.746548245743668);
				break;
				
			}
      counter.stroke();
      if(no <= no){
				no=(no-10)
				document.getElementById("counter").innerHTML=no;				
				var num = no;
				var num = 0;
			}

		}




		

		function change() {
			if(wi != 0){
				sliders.style.transform = "translate(-6.66666667%, 0)"
			}else{
				
			}
		};
		function change1() {
			if(wi != 0){
				sliders.style.transform = "translate(0%, 0)"
			}else{
				
			}
		};
		function change2() {
			if(wi!= 0){
				var butcon2
				sliders.style.transform = "translate(-13.3333333%, 0)"
			}else{

			}
		};
		function change21() {
			if(wi!= 0){
				var butcon2
				sliders.style.transform = "translate(-6.66666667%, 0)"
			}else{

			}
		};
		function change3() {
			if(wi!= 0){
				sliders.style.transform = "translate(-20%, 0)"
			}else{

			}
		};
		function change31() {
			if(wi!= 0){
				sliders.style.transform = "translate(-13.3333333%, 0)"
			}else{

			}
		};
		function change4() {
			if(wi!= 0){
				sliders.style.transform = "translate(-26.6666667%, 0)"
			}else{

			}
		};
		function change41() {
			if(wi!= 0){
				sliders.style.transform = "translate(-20%, 0)"
			}else{

			}
		};
		function change5() {
			if(wi!= 0){
				sliders.style.transform = "translate(-33.3333334%, 0)"
			}else{

			}

		};
		function change51() {
			if(wi!= 0){
				sliders.style.transform = "translate(-26.6666667%, 0)"
			}else{

			}
		}	;

		function change6() {
			if(wi!= 0){
				sliders.style.transform = "translate(-40%, 0)"
			}else{

			}
		};
		function change61() {
			if(wi!= 0){
				sliders.style.transform = "translate(-33.3333334%, 0)"
			}else{

			}
		};

		function change7() {
			if(wi!= 0){
				sliders.style.transform = "translate(-46.6666667%, 0)"
			}else{

			}
		};
		function change71() {
			if(wi!= 0){
				sliders.style.transform = "translate(-40%, 0)"
			}else{

			}
		};
		function change8() {
			if(wi!= 0){
				sliders.style.transform = "translate(-53.3333334%, 0)"
			}else{

			}
		};
		function change81() {
			if(wi!= 0){
				sliders.style.transform = "translate(-46.6666667%, 0)"
			}else{

			}
		};
		function change9() {
			if(wi!= 0){
				sliders.style.transform = "translate(-60%, 0)"
			}else{

			}
		};
		function change91() {
			if(wi!= 0){
				sliders.style.transform = "translate(-53.3333334%, 0)"
			}else{

			}
		};
		function change10() {
			if(wi!= 0){
				sliders.style.transform = "translate(-66.6666667%, 0)"
			}else{

			}
		};
		function change101() {
			if(wi!= 0){
				sliders.style.transform = "translate(-60%, 0)"
			}else{

			}
		};

		function change11() {
			if(wi!= 0){
				sliders.style.transform = "translate(-73.3333334%, 0)"
			}else{

			}
		};
		function change111() {
			if(wi!= 0){
				sliders.style.transform = "translate(-66.6666667%, 0)"
			}else{

			}
		};
		function change12() {
			if(wi!= 0){
				sliders.style.transform = "translate(-80%, 0)"
			}else{

			}
		};
		function change121() {
			if(wi!= 0){
				sliders.style.transform = "translate(-73.3333334%, 0)"
			}else{

			}
		};
		function change13() {
			if(wi!= 0){
				sliders.style.transform = "translate(-86.6666667%, 0)"
			}else{

			}
		};
		function change131() {
			if(wi!= 0){
				sliders.style.transform = "translate(-80%, 0)"
			}else{

			}
		};
		function change14() {
			if(wi!= 0){
				sliders.style.transform = "translate(-93.3333334%, 0)"
			}else{

			}
		};
		function change141() {
			if(wi!= 0){
				sliders.style.transform = "translate(-86.6666667%, 0)"
			}else{

			}
		};
		function change15() {
			if(wi!= 0){
				sliders.style.transform = "translate(-100%, 0)"
			}else{

			}
		};
		function change151() {
			if(wi!= 0){
				sliders.style.transform = "translate(-93.3333334%, 0)"
			}else{

			}
		};




        

		


		//AQUI TERMINE DE PROGRAMAR 

		$(function(){
			$("#tabs").tabs();
		});

	  $(document).ready(function () {
	    $( "#tabs" ).tabs( "option", "disabled", [ 1 ] );
	  });

		function HabilitarTab1(){
			$( "#tabs" ).tabs( "enable", 0 );
			$('#aTab1').click();
			$( "#tabs" ).tabs( "option", "disabled", [ 1 ] );
		}

		function HabilitarTab2(){
			$( "#tabs" ).tabs( "enable", 1 );
			$('#aTab2').click();
			$( "#tabs" ).tabs( "option", "disabled", [ 0 ] );
		}

				
		

			


		angular.module('UniT', []);

		angular.module('UniT').controller('MainController',function($scope, $http){

			$scope.Usuario = {
				"IdUsuario": "",
				"Password": "",
				"PrimerNombre": "",
				"SegundoNombre": "",
				"PrimerApellido": "",
				"SegundoApellido": "",
				"Genero": "",
				"FechaNacimiento": "",
				"Correo": "",
				"TelefonoCelular": "",
				"Departamento": 0,
				"Municipio": 0,
				"Direccion": "",
				"Instituto": "",
				"NombreFacturacion": "",
				"ApellidoFacturacion": "",
				"Nit": "",
				"DepartamentoFacturacion": 0,
				"Imagen": "",
				"RedSocial": "",
				"Medio": ""
			};

			ObtenerDepartamentos($scope);

			$scope.RegistrarUsuario = function(){
				//Validar campos obligatorios
				if( (Vacio($scope.Usuario.IdUsuario)) || (Vacio($scope.Usuario.Password)) || (Vacio($scope.Usuario.RepPassword)) ||
					(Vacio($scope.Usuario.PrimerNombre)) || (Vacio($scope.Usuario.PrimerApellido)) || (Vacio($scope.Usuario.Genero)) ||
					(Vacio($scope.Usuario.Correo)) || (Vacio($scope.Usuario.TelefonoCelular)) || (Vacio($scope.Usuario.Departamento)) ||
					(Vacio($scope.Usuario.Municipio)) || Vacio($scope.Usuario.RedSocial) || Vacio($scope.Usuario.Medio) ||
					Vacio($scope.Usuario.Instituto) || Vacio($scope.Usuario.FechaNacimiento) ){

					MensajeForm("Error", "¡Te hacen falta datos que completar!");

				}else if(!ValidarFecha($scope.Usuario.FechaNacimiento)){
					MensajeForm("Advertencia", "Pusiste mal tu fecha de nacimiento.");
				}else if(!ValidarIdUsuario($scope.Usuario.IdUsuario)){
					MensajeForm("Advertencia", "Tu ID está incorrecto. Recordá que solo letras y números");
				}else if(!ValidarCorreo($scope.Usuario.Correo)){ //Validar formato de correo electrónico
					MensajeForm("Advertencia", "Pusíste mal tu correo");
				}else if( $scope.Usuario.Password != $scope.Usuario.RepPassword ){ //Validar que passwords coincidan
					MensajeForm("Advertencia", "Poné igual tus contraseñas");
				}else if( $scope.Usuario.Password.length < 6){ //Validar longitud mínima de contraseña
					MensajeForm("Advertencia", "Ponele mínimo 6 caracteres a tu contraseña");
				}else if(ValidarFormatoContrasena($scope.Usuario.Password)){ //Validar formato de contraseña ingresada
					MensajeForm("Advertencia", "Caracteres incorrectos en contraseña");
				}else if(!ValidarCelular($scope.Usuario.TelefonoCelular)){ //Validar formato de numero de telefono
					MensajeForm("Advertencia", "Pusíste mal tu teléfono");
				}else{
					$('#mdLoading').modal('show');
					var jsonObject = {
						"Operacion": "registrar",
						"Usuario": $scope.Usuario
					};
					$http({
					method: 'POST',
					url: '../../services/usuario.php',
					headers: {
						'Content-Type': 'application/json; charset=utf-8',
						'Data-Type': 'json'
					},
					data: jsonObject
					}).then(function(response, status){
						if(response.data.respuesta.codigo == 1){
							localStorage.setItem("TMP_USUARIO", $scope.Usuario.IdUsuario);
							window.location = 'user-registro-ok.html';
						}else{
							MensajeForm("Error", response.data.respuesta.mensaje);
						}
						$('#mdLoading').modal('hide');
					},	function(response){
						MensajeForm("Error", "Error de comunicacion, intente mas tarde");
						$('#mdLoading').modal('hide');
					});
				}
			}

			$scope.CambioDepartamento = function(){
				ObtenerMunicipios($scope);
			}

			function ObtenerMunicipios(self){
				$http({
				method: 'POST',
				url: '../../services/universidad.php',
				headers: {
					'Content-Type': 'application/json; charset=utf-8',
					'Data-Type': 'json'
				},
				data: {
					"Operacion": "municipios",
					"IdDepartamento": self.Usuario.Departamento
					}
				}).then(function(response, status){
					if(response.data.municipios.length>0){
						self.Municipios = response.data.municipios;
					}else{
						MensajeForm("Error", "Error obteniendo municipios, intente mas tarde");
						self.Bloquear = true;
					}
				},	function(response){
					MensajeForm("Error", "Error de comunicacion, intente mas tarde");
				});
			}

			function ObtenerDepartamentos(self){
				$http({
				method: 'POST',
				url: '../../services/universidad.php',
				headers: {
					'Content-Type': 'application/json; charset=utf-8',
					'Data-Type': 'json'
				},
				data: {
					"Operacion": "departamentos"
					}
				}).then(function(response, status){
					if(response.data.departamentos.length>0){
						self.Departamentos = response.data.departamentos;
						self.DeptsFacturacion =  response.data.departamentos;
					}else{
						MensajeForm("Error", "Error obteniendo departamentos, intente mas tarde");
						self.Bloquear = true;
					}
					$('#mdLoading').modal('hide');
				},	function(response){
					MensajeForm("Error", "Error de comunicacion, intente mas tarde");
					$('#mdLoading').modal('hide');
				});
			}
			


		});

	</script>
</body>
</html>
