<!DOCTYPE HTML>
<html ng-app="UniT">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../assets/img/logo-red.png">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="../../assets/libs/bootstrap/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/user/form-user.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/user/navbar-user.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/user/loader-user.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/user/modal-user.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/user/login.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	
	<!-- JAVASCRIPT -->
	<script src="../../assets/libs/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../assets/libs/bootstrap/bootstrap.min.js"></script>
	<script src="../../assets/libs/angular/angular.min.js"></script>
	<script src="../../assets/js/Utilidades.js"></script>
	<script src="../../assets/js/focus-visible.js"></script>
	<script src="../../assets/js/loading.js"></script>
	<!--<script src="app.module.js"></script>-->

	<style>

	</style>
</head>
<body ng-controller="UserController" >

<!--start navbar -->
<!--start navbar 
	<nav class="navbar">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">
					<img src="../../assets/img/Logo Escoly.svg" class="navbar-applogo" />
				</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><button class="btnMenu navbar-btn btn" onclick="window.location = 'registrar_usuario.html';">¡Uníte a Escoly!</button></li>
					<li><button class="btnMenu navbar-btn btn btn-comprar" onclick="window.location = '#';">Probálo gratis</button></li>
				</ul>
			</div>
		</div>
	</nav>
-->
	<!--end navbar-->
	<center>
			
	<div class="dvLogin">
		<div class="image"><img src="../../assets/img/LogoEscoly.svg"></div>
		<div id="dvMensajeForm" class="alert hidden" style="font-weight: bold;">
			<button type="button" class="close" onclick="$('#dvMensajeForm').addClass('hidden');">&times;</button>
			<center><span id="spMensajeForm"></span></center>
		</div>
		<h3>Entrá</h3>
		<br/>
		<input type="text" class="form-control" ng-model="Usuario" placeholder="Usuario" id="txtLoginEscolyUsuario">
		<br/>
		<input type="password" class="form-control" ng-model="Password" placeholder="Contrase&ntilde;a" ng-keypress="PasswordTextKeyPress($event, 'login')">
		<br/>
		<button class="btn1 btn-link " ng-click="VerModalRecordatorio()">¡Oh No! Olvidé la contraseña</button>
		<button class="btn1 btn-link" ng-click="VerModalCodAct()">No me llegó el correo</button>
		<br/><br/>
		<button class="btn btnForm" ng-click="Ingresar()">¡Listo!</button>
		<button class="btn btnBack" onclick="window.location = '../../index.html'; ">Volver</button>
		
	</div>

	<div id="mdEnviarCodAct" class="modal fade" role="dialog">
	  <div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content" style="width:100%;	">
		  <div class="modal-header mdAdmin-Header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3 class="modal-title">¡Disculpános!</h3>
		  </div>
		  <div class="modal-body">
				<p>Ingresá tu ID o correo electrónico para que te enviemos otra vez el correo de activación</p>
				<br/>
				<div id="dvMsjFormEnvioCodigo" class="alert hidden" style="font-weight: bold;">
					<button type="button" class="close" onclick="$('#dvMsjFormEnvioCodigo').addClass('hidden');">&times;</button>
					<center><span id="spMsjFormEnvioCodigo"></span></center>
				</div>
				<br/>
				<div class="row">
					<div class="form-group col-sm-12">
						<label>Tu ID</label>
						<input type="text" class="form-control" ng-model="IdUsuarioCodAct" placeholder="Id de usuario"  ng-keypress="PasswordTextKeyPress($event, 'codact')">
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-12">
						<label>Tu Correo</label>
						<input type="text" class="form-control" ng-model="CorreoCodAct" placeholder="Correo"  ng-keypress="PasswordTextKeyPress($event, 'codact')">
					</div>
				</div>
		  </div>
		  <div class="modal-footer">
			<center>
				<button class="btn btnForm" ng-click="EnviarCodigo()">Ahora sí</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Volver</button>
			</center>
		  </div>
		</div>

	  </div>
	</div>

	<div id="mdEnviarRecordatorioPass" class="modal fade" role="dialog">
	  <div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content" style="width:100%;	">
		  <div class="modal-header mdAdmin-Header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h3 class="modal-title">Enviar recordatorio de contraseña</h3>
		  </div>
		  <div class="modal-body">
				<p>¡No pasa nada! Solo ingresá tu ID o tu correo y problema resuelto</p>
				<br/>
				<div id="dvMsjFormEnvioPass" class="alert hidden" style="font-weight: bold;">
					<button type="button" class="close" onclick="$('#dvMsjFormEnvioPass').addClass('hidden');">&times;</button>
					<center><span id="spMsjFormEnvioPass"></span></center>
				</div>
				<br/>
				<div class="row">
					<div class="form-group col-sm-12">
						<label>ID o correo electrónico:</label>
						<input type="text" class="form-control" ng-model="TxtBusqRec" placeholder="Id de usuario o correo electrónico" ng-keypress="PasswordTextKeyPress($event, 'recpass')">
					</div>
				</div>
		  </div>
		  <div class="modal-footer">
			<center>
				<button class="btn btnForm" ng-click="EnviarRecordatorio()">¡Listo!</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Volver</button>
			</center>
		  </div>
		</div>

	  </div>
	</div>

	</center>
	<div ng-include="'../../shared/loader.html'"></div>
	<script>



		var app = angular.module('UniT', []);
		app.controller('UserController', function($scope, $http){
			$('#mdLoading').modal('show');
			$scope.VerModalCodAct = function(){
				$('#dvMensajeFormModal').addClass('hidden');
				$('#mdEnviarCodAct').modal('show');
			}
			$scope.VerModalRecordatorio = function(){
				$('#dvMensajeFormModal').addClass('hidden');
				$('#mdEnviarRecordatorioPass').modal('show');
			}

      $scope.PasswordTextKeyPress = function(event, strTipo){
        if(event.keyCode==13){
          if(strTipo=="login"){
              $scope.Ingresar();
          }else if(strTipo=="codact"){
              $scope.EnviarCodigo();
          }else if(strTipo=="recpass"){
              $scope.EnviarRecordatorio();
          }
        }
      }



			$scope.Ingresar = function(){
				if( Vacio($scope.Usuario) || Vacio($scope.Password) ){
					MensajeForm("Error", "¡Momento! Te hizo falta algo");
				}else{
					$('#mdLoading').modal('show');
					var jsonObject = {
						"Operacion": "usuario",
						"Usuario": $scope.Usuario,
						"Pass":$scope.Password
					};
					$http({
					method: 'POST',
					url: '../../services/login.php',
					headers: {
						'Content-Type': 'application/json; charset=utf-8',
						'Data-Type': 'json'
					},
					data: jsonObject
					}).then(function(response, status){
						if(response.data.respuesta.param2!=""){
							/*
							localStorage.setItem("rSfbx9Lrz2cbP3TEGTpdKA====", response.data.respuesta.param1);
							localStorage.setItem("LTNeeyqArqQgOirh3izGIg====", response.data.respuesta.param2);
							localStorage.setItem("nomusuario", response.data.respuesta.param3);
							*/
							localStorage.setItem("usuario", JSON.stringify(response.data.respuesta.usuario));
							// marodriguez 20190727 verificar si es primer ingreso
							if ( response.data.respuesta.usuario.PrimerIngreso === 1 ) {
								window.location = 'user-main.html#!/primer-ingreso';
							} else {
								window.location = "user-main.html";
							}
						}else{
							MensajeForm("Error", "¡Uy!  Metiste mal tus datos");
						}
						$('#mdLoading').modal('hide');
					},	function(response){
						MensajeForm("Error", "Error en envio de solcitud, favor intentar de nuevo mas tarde");
						$('#mdLoading').modal('hide');
					});
				}
			}

			$scope.EnviarCodigo = function(){
				if( Vacio($scope.IdUsuarioCodAct) && Vacio($scope.CorreoCodAct) ){
					MensajeFormModal("Error","Favor ingresar id de usuario o correo eletrónico");
				}else{
					$('#mdLoading').modal('show');
					var jsonObject = {
						"Operacion": "codact",
						"IdUsuario": $scope.IdUsuarioCodAct,
						"Correo": $scope.CorreoCodAct
					};
					$http({
					method: 'POST',
					url: '../../services/usuario.php',
					headers: {
						'Content-Type': 'application/json; charset=utf-8',
						'Data-Type': 'json'
					},
					data: jsonObject
					}).then(function(response, status){
						if(response.data==1){
							$('#mdEnviarCodAct').modal('hide');
							MensajeForm("Ok", "¡Ahora sí! Andá a ver tu correo");
						}else if(response.data==2){
							MensajeFormEnvioCodigo("Error", "¿Estás seguro que es ese? No nos aparece");
						}else if(response.data==3){
							MensajeFormEnvioCodigo("Error", "Tu usuario ya está activo");
						}else{
              MensajeFormEnvioCodigo("Error", "Error en envío de correo, inténtalo más tarde");
            }
						$('#mdLoading').modal('hide');
					},	function(response){
						MensajeFormModal("Error", "Error de comunicacion, intente mas tarde");
						$('#mdLoading').modal('hide');
					});
				}
			}

			$scope.EnviarRecordatorio = function(){
				if( Vacio($scope.TxtBusqRec) ){
					MensajeFormModal("Error","Favor ingresar id de usuario o correo eletrónico");
				}else{
					$('#mdLoading').modal('show');
					var jsonObject = {
						"Operacion": "recordatorio",
						"TextoBusqueda": $scope.TxtBusqRec
					};
					$http({
					method: 'POST',
					url: '../../services/usuario.php',
					headers: {
						'Content-Type': 'application/json; charset=utf-8',
						'Data-Type': 'json'
					},
					data: jsonObject
					}).then(function(response, status){
						if(response.data.respuesta.Mensaje == "OK"){
							$('#mdEnviarRecordatorioPass').modal('hide');
							MensajeForm("Ok", "¡Listo! Andá a revisar tu correo");
						}else{
							MensajeFormEnvioPass("Error", response.data.respuesta.Mensaje);
						}
						$('#mdLoading').modal('hide');
					},	function(response){
						MensajeFormModal("Error", "Error de comunicacion, intente mas tarde");
						$('#mdLoading').modal('hide');
					});
				}
			}

		});

    function MensajeFormEnvioCodigo(strTipo, strMensaje){
    	var strClass = "";
    	if(strTipo=="Ok"){
    		strClass = strClass + " alert-success";
    	}else if(strTipo=="Error"){
    		strClass = strClass + " alert-danger";
    	}else if(strTipo=="Advertencia"){
    		strClass = strClass + " alert-warning";
    	}
    	$('#dvMsjFormEnvioCodigo').removeClass('alert-danger alert-success alert-warning hidden').addClass(strClass);
    	$('#spMsjFormEnvioCodigo').html(strMensaje);
    }

    function MensajeFormEnvioPass(strTipo, strMensaje){
    	var strClass = "";
    	if(strTipo=="Ok"){
    		strClass = strClass + " alert-success";
    	}else if(strTipo=="Error"){
    		strClass = strClass + " alert-danger";
    	}else if(strTipo=="Advertencia"){
    		strClass = strClass + " alert-warning";
    	}
    	$('#dvMsjFormEnvioPass').removeClass('alert-danger alert-success alert-warning hidden').addClass(strClass);
    	$('#spMsjFormEnvioPass').html(strMensaje);
    }
	</script>
</body>
</html>
