<!DOCTYPE HTML>
<html ng-app="UniT">
<head>
		<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
     <link rel="icon" href="../assets/img/logo-red.png">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="../../assets/libs/bootstrap/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/libs/jquery-ui/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/user/navbar-user.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/user/form-user.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/userloader-user.css" />

	<!-- JAVASCRIPT -->
	<script src="../../assets/libs/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../assets/libs/jquery-ui/jquery-ui.min.js"></script>
	<script src="../../assets/libs/bootstrap/bootstrap.min.js"></script>
	<script src="../../assets/libs/angular/angular.min.js"></script>
	<script src="../../assets/js/Utilidades.js"></script>

	<style>

	</style>
</head>
<body ng-controller="MainController">
	<!-- navbar -->
	<nav class="navbar navbar-light navbar-napp"></nav>

	<div class="dvContent">
	<center>
		<h3>Registro de Usuario</h3>
		<br/>
		<div class="{{clase}}" style="font-weight: bold; width: 50%;">
			{{mensaje}}
		</div>
		<button class="btn btn-link" onclick="window.location = 'user-login.html'; ">Ir a inicio de sesión</button>
	</center>
	</div>
	<!-- Footer -->
	<div ng-include="'../../shared/loader.html'"></div>
	<script>

		angular.module('UniT', []);


		angular.module('UniT').controller('MainController', function($scope, $http, $location){

			$scope.Usuario = $location.search()['otoken'];
			$scope.Token = $location.search()['tokenp'].replace("=","%3D");

			//$scope.mensaje = "Usuario => " + $scope.Usuario  + ", Token => " + $scope.Token;


			ActivarUsuario($scope);

			function ActivarUsuario(self){
				$('#mdLoading').modal('show');
				//Enviar registro de usuario
				var jsonObject = {
					"Operacion": "activar",
					"IdUsuario": $scope.Usuario,
					"Token": $scope.Token
				};
				$http({
				method: 'POST',
				url: '../../services/usuario.php',
				headers: {
					'Content-Type': 'application/json; charset=utf-8',
					'Data-Type': 'json'
				},
				data: jsonObject
				}).then(function(response, status){
					var _Respuesta = response.data.Respuesta;
					if(_Respuesta.Codigo==1){
						self.clase = "alert alert-success";
						self.mensaje = _Respuesta.Mensaje;
					}else{
						self.clase = "alert alert-danger";
						self.mensaje = _Respuesta.Mensaje;
					}
					$('#mdLoading').modal('hide');
				},	function(response){
					self.clase = "alert alert-danger";
					self.mensaje = "Error de comunicación, intente mas tarde";
					$('#mdLoading').modal('hide');
				});
			}


		});
	</script>
</body>
</html>
