<div class="dvContent" id="ini">
	<center>
		<div class="desap">
			<center>
				<div class="separador"></div>
				<div>
					<h2 id="welcomeUser" >¡Hola {{ UsuarioLogueado.PrimerNombre }}! </h2>
				</div>
				<div class="que">
					<h3 id="questUser">Estamos listos…¿Qué necesitás hacer?</h3>
				</div>
				<div>
				<img id="imaUser" src="../../assets/img/man.svg" alt="">
				</div>
			</center>
		</div>
	</center>
</div>
