<!DOCTYPE HTML>
<html ng-app="UniT">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../assets/img/logo-red.png">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="../../assets/libs/bootstrap/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/libs/jquery-ui/jquery-ui.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../../assets/css/user/platform.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/user/navbar-user.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/user/chat-user.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/user/loader-user.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/user/form-user.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/user/modal-user.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/user/search.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/user/tabs-user.css" />
	

</head>
<body ng-controller="AdminController" id="colors" >
	<div ng-include="'../../shared/navbar-user.html'"></div>
	<div class="dvContent">
		<center>
			<div id="dvMensajeForm" class="alert hidden" style="font-weight: bold; width:100%; max-width: 600px;">
				<button type="button" class="close" onclick="$('#dvMensajeForm').addClass('hidden');">&times;</button>
				<center><span id="spMensajeForm"></span></center>
			</div>
		</center>
		<div ng-view></div>
		<div  ng-include="'../../shared/chat-user.html'" ng-init="myVar = true"></div>
	</div>
	<center>
	<!-- Modal para cambio de contraseña -->
	<div id="mdCambiarPass" class="modal fade" role="dialog">
	  <div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content mdAdmin-Content">
		  <div class="modal-header mdAdmin-Header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<center>
				<h4 class="modal-title">Cambiá tu contraseña</h4>
			</center>
		  </div>
		  <div class="modal-body">
			<div id="dvMensajeCambioPass" class="alert hidden" style="font-weight: bold;">
				<button type="button" class="close" onclick="$('#dvMensajeFormModal').addClass('hidden');">&times;</button>
				<center><span id="spMensajeCambioPass"></span></center>
			</div>
			<div class="row">
				<div class="form-group col-sm-12">
					<label>Contrase&ntilde;a actual:</label>
					<input type="password" class="form-control" ng-model="ContrasenaActual" placeholder="Contrase&ntilde;a actual">
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-12">
					<label>Nueva Contrase&ntilde;a:</label>
					<input type="password" class="form-control" ng-model="NuevaContrasena" placeholder="Nueva contrase&ntilde;a">
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-12">
					<label>Repetí tu contraseña:</label>
					<input type="password" class="form-control" ng-model="RepNuevaContrasena" placeholder="Repetir nueva contrase&ntilde;a" ng-keypress="PasswordTextKeyPress($event, 'pass')">
				</div>
			</div>
		  </div>
		  <div class="modal-footer">
			<center>
				<button class="btn btnForm" ng-click="CambiarContrasena()">Cambiar</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</center>
		  </div>
		</div>

	  </div>
	</div>

	<!-- Modal para envio de preguntas -->
	<div id="mdEnvioPregunta" class="modal fade" role="dialog">
	  <div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content mdAdmin-Content">
		  <div class="modal-header mdAdmin-Header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<center>
				<h4 class="modal-title">¡Ayúdenme!</h4>
			</center>
		  </div>
		  <div class="modal-body">
			<div id="dvMensajeEnvioPreguntas" class="alert hidden" style="font-weight: bold;">
				<button type="button" class="close" onclick="$('#dvMensajeFormModal').addClass('hidden');">&times;</button>
				<center><span id="spMensajeEnvioPreguntas"></span></center>
			</div>
			<div class="row">
				<div class="form-group col-sm-12">
					<label>Contános tus dudas ¡prometemos responderte muy rápido al chat que usas en tu teléfono! Estáte atento</label>
          <small>No es necesario que pongás tu número de teléfono</small>
					<textarea rows="10" cols="50" ng-model="txtPregunta"></textarea>
				</div>
			</div>
		  </div>
		  <div class="modal-footer">
			<center>
				<button class="btn btnForm" ng-click="EnviarPregunta()">¡Listo!</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Mejor ya no</button>
			</center>
		  </div>
		</div>

	  </div>
	</div>
	
	<div ng-include="'../../shared/loader.html'"></div>
	</center>
	<!-- JAVASCRIPT -->
	<script src="../../assets/libs/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../assets/libs/jquery-ui/jquery-ui.min.js"></script>
	<script src="../../assets/libs/bootstrap/bootstrap.min.js"></script>
	<script src="../../assets/js/focus-visible.js"></script>
	<script src="../../assets/libs/angular/angular.min.js"></script>
	<script src="../../assets/libs/angular-route/angular-route.min.js"></script>
	<script src="../../assets/js/loading.js"></script>
	<script src="../../assets/js/Utilidades.js"></script>
	<script src="user-app.module.js"></script>
	<script src="user-app.component.js"></script>
	<script src="user-app.config.js"></script>
	<script src="list-busqueda/list-busqueda.module.js"></script>
	<script src="list-busqueda/list-busqueda.component.js"></script>
	<script src="list-agrupaciones/list-agrupaciones.module.js"></script>
	<script src="list-agrupaciones/list-agrupaciones.component.js"></script>
	<script src="list-tipo/list-tipo.module.js"></script>
	<script src="list-tipo/list-tipo.component.js"></script>
	<script src="form-busqueda/form-busqueda.module.js"></script>
	<script src="form-busqueda/form-busqueda.component.js"></script>
	<script src="compra-busqueda/compra-busqueda.module.js"></script>
	<script src="compra-busqueda/compra-busqueda.component.js"></script>
	<script src="perfil-usuario/perfil-usuario.module.js"></script>
	<script src="perfil-usuario/perfil-usuario.component.js"></script>
	<script src="detalle-busqueda/detalle-busqueda.module.js"></script>
	<script src="detalle-busqueda/detalle-busqueda.component.js"></script>
	<script src="list-orientacion/list-orientacion.module.js"></script>
	<script src="list-orientacion/list-orientacion.component.js"></script>
	<script src="detalle-orientacion/detalle-orientacion.module.js"></script>
	<script src="detalle-orientacion/detalle-orientacion.component.js"></script>
    <script src="registro-orientacion/registro-orientacion.module.js"></script>
	<script src="registro-orientacion/registro-orientacion.component.js"></script>
	<script src="compra-orientacion/compra-orientacion.module.js"></script>
	<script src="compra-orientacion/compra-orientacion.component.js"></script>
	<script src="../../assets/js/platform.js"></script>

</body>
</html>
