<!DOCTYPE HTML>
<html ng-app="UniT">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
     <link rel="icon" href="../assets/img/logo-red.png">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="../../assets/libs/bootstrap/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/libs/jquery-ui/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/user/navbar-user.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/user/form-user.css" />
	<link rel="stylesheet" type="text/css" href="../../assets/css/user/loader-user.css" />

	<!-- JAVASCRIPT -->
	<script src="../../assets/libs/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../assets/libs/jquery-ui/jquery-ui.min.js"></script>
	<script src="../../assets/libs/bootstrap/bootstrap.min.js"></script>
	<script src="../../assets/libs/angular/angular.min.js"></script>
	<script src="../../assets/js/Utilidades.js"></script>

	<style>
		.dvContent {
			width: 95%;
			padding: 20px 20px;
			margin-top: 20px;
			margin-left: 30px;
			overflow-x: auto;
		}
	</style>
</head>
<body ng-controller="MainController">
	<!-- navbar -->
	<nav class="navbar navbar-light navbar-napp"></nav>

	<div class="dvContent">
	<center>
		<!--<h3>Registro de Usuario</h3>-->
		<br/>
		<div class="alert alert-success" style="font-weight: bold; width: 50%;">
			¡Eso es {{Usuario}}! estás a punto de ser parte de Escoly.
		</div>
		<p style="font-weight: bold; width: 50%;">
			Mirá el correo que te mandamos, confirmálo y listo.
		</p>
		<button class="btn btn-link" onclick="window.location = 'user-login.html'; ">Ir a inicio de sesión</button>
	</center>
	</div>
	<div ng-include="'../../shared/loader.html'"></div>
	<script>

		angular.module('UniT', []);

		angular.module('UniT').controller('MainController',function($scope, $http){

			$scope.Usuario = localStorage.getItem("TMP_USUARIO");


		});
	</script>
</body>
</html>
