::-webkit-input-placeholder { 
	font-size: 16px;
	color: #d5d3d3;
}
:-moz-placeholder {
	font-size: 16px;
 color: #d5d3d3;
 opacity: 1 ;
}
::-moz-placeholder {
	font-size: 16px;
 color: #d5d3d3;
 opacity:  1;
}
:-ms-input-placeholder { 
	font-size: 16px;
 color: #d5d3d3;
}

/* VENTANA DE CHAT*/
.windchat{
	background-color: #000000;
	width: 500px;
	height: 85vh;
	position: fixed;
	top: 10px;
	right: 0;
	margin-right: 30px;
	border-radius: 10px;
	display: none;
	color: #ffffff;
	
}
.textChat{
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
}
#receptores{
	display: inline-flex;
}
.receptor{
	width: 50px;
	height: 50px;
}
#receptor1{
	margin-right:20px; 
}
#treceptor1{
	margin-right:20px; 
}
.areaChat{
	width: 500px;
}
.conversacion-content{
	text-align:left;
	background:#fff;
	height:40vh;
	width:500px;
	overflow:auto;
}
hr{
	margin: 0;
	padding: 0;
}

#textarea{
	width: 500px;;
	height:20vh;
	border: 0;
	text-decoration: none;
	outline: none;
	color: black;
	padding-left: 10px;
	padding-right: 130px;

}
#gif{
	padding-top: 3px;
	width: 35px;
	height: 33px;
}
.path {
  fill: #989595;
}
.picker{
	color: #989595;
}
.pickers{
	position: absolute;
	bottom: 10%;
	right: 3%;
}

@media(max-width: 560px){
    .windchat{
        background-color: #000000;
        width: 100vw;
        height: 85vh;
        position: fixed;
        top: 10px;
        right: 0;
        margin-right: 30px;
        border-radius: 10px;
        display: none;
        color: #ffffff;
        
    }

    .textChat{
        padding-top: 10px;
        padding-left: 40px;
        padding-right: 30px;
    }
    #receptores{
        display: inline-flex;
    }
    .receptor{
        width: 50px;
        height: 50px;
    }
    #receptor1{
        margin-right:20px; 
    }
    #treceptor1{
        margin-right:20px; 
    }
    .areaChat{
        width: 100vw;
    }
    .conversacion-content{
        text-align:left;
        background:#fff;
        height:40vh;
        width: 100vw;
        overflow:auto;
    }
    hr{
        margin: 0;
        padding: 0;
    }
    
    #textarea{
        width: 100vw;
        height:20vh;
        border: 0;
        text-decoration: none;
        outline: none;
        color: black;
        padding-left: 10px;
        padding-right: 130px;
    
    }
    #gif{
        padding-top: 3px;
        width: 35px;
        height: 33px;
    }
    .path {
      fill: #989595;
    }
    .picker{
        color: #989595;
    }
    .pickers{
        position: absolute;
        bottom: 10%;
        right: 3%;
    }
}

/* BOTON QUE ACTIVA Y DESACTIVA EL CHAT*/
.contchat{
	background-color: #95b75d;
	width: 80px;
	height: 80px;
	border-radius: 100px;
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 20px;
}

#chatdisable{
	position: absolute;
	bottom: 19px;
	left: 19px;
	color: #ffffff;
}
#chatenable{
	position: absolute;
	bottom: 19px;
	left: 26px;
	color: #ffffff;
	display: none;
	
}


.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
  }