body{
	padding:0;
    margin: 0;
    font-family: 'Patrick Hand'

}

.navbar-applogo 
{
	width: 120px;
	height: 70px;
	position: fixed;
	top: 0
}
#free{
	background-image: url('../../img/cua6.jpg');
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow-x: hidden;
	overflow-y: hidden;
}

#freeButton1{
	text-align: center;
	font-size: 36px;
	padding: 7px 50px 7px 50px;
	background-color: #42a4ef;
	border: solid 1px #42a4ef;
	border-radius: 15px;
	color: #ffffff;
    cursor: pointer;
    position: relative;
    top:50;
}
.free{
	background-image: url('../../img/cua6.jpg');
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow-x: hidden;
	overflow-y: hidden;
}
#free2{

	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
}
#freeContent{
    width: 100%;
    height: 100vh;
}

.containerbutt{
    position: relative;
    top: 40%;
}

.Slider{
    overflow: hidden;
	height: 100%;
}
.Slider figure div{
	width: 50%;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
}
.Slider figure img{
	width: 100%;
	float: left;

}
.Slider figure {
	position: relative;
	width: 200%;
	margin: 0;
	left: 0;
	top: 30%;
	animation: 40s Slidy infinite;
}
@keyframes Slidy{
	0%{
		left: 0%;
	}
	10%{
		left: 0%;
	}
	12%{
		left: -100%;
	}
	22%{
		left: -100%;
	}
	24%{
		left: 0%;
	}
	34%{
		left: 0%;
	}
	36%{
		left: -100%;
	}
	46%{
		left: -100%;
	}
	48%{
		left:0%;
	}
	58%{
		left:0%;
	}
	60%{
		left: -100%;
	}
	70%{
		left: -100%;
	}
	72%{
		left: 0%;
	}
	82%{
		left: 0%;
	}
	84%{
		left: -100%;
	}
	94%{
		left: -100%;
	}
	96%{
		left: 0;
	}

}


.pricecir1{
    font-size:72px; 
    width:400px; 
    height:400px; 
    border-radius: 200px; 
    border: solid 3px #ff6f00; 
    background-color: inherit; 
    margin: 0 0 0 0; 
    padding: 0;
}
.pricecir2{
    font-size:72px; 
    width:400px; 
    height:400px; 
    border-radius: 200px; 
    border: solid 3px #6495ed; 
    background-color: inherit; 
    margin: 0 0 0 0; 
    padding: 0;
}

#welcomefree{
	padding: 0 0 20px;
	margin: 0;
	font-size: 52px;
	text-align: center;
	color: #ffffff;
}
#questfree{
	padding:0 0 20px;
	margin: 0;
	text-align: center;
	font-size: 22px;
	color: #ffffff;
}
#freeButton{
	text-align: center;
	font-size: 36px;
	padding: 7px 50px 7px 50px;
	background-color: #5e9424;
	border: solid 1px #5e9424;
	border-radius: 15px;
	color: #ffffff;
	cursor: pointer;
}
#freeButton:hover{
	background-color: #7CB342;
	border: solid 1px #5e9424;
}

/*FACTURACION*/
#counter{
    position: absolute;
    transform: translate(-50%,-50%);
    z-index: 9;
    

}
#circle1{
    height: 165px;
    width: 165px;
    background-color:inherit;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    z-index: 1;
}
#shadowring{
    height: 178px;
    width: 178px;
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.564);
    position: absolute;
    transform: translate(-50%,-50%);
    z-index: 99;
}
#circle2{
    height: 196px;
    width: 196px;
    background-color:inherit;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    z-index: -1;
}

.slider{
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
}

.slider div{
    float:left;
    text-align: center;
}
.slider{
    position: relative;
    width: 500%;
    height: 76vh;
    margin: 0;
    left: 0;

}

.slide{
    width: 20%;
    align-items: center;
}
#zero{
 display:none;   
}
#one{
    display:none;   
   }
#two{
    display:none;   
   }
#three{
    display:none;   
}  
     
.quest{
    width: 100%;

}
.quest h1{
    font-size: 32px;
    color: #ffffff;

}

.answer{
    width: 100%;
    height: 75vh;
    background-color: inherit;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    float: none;
}
.answer div{
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;

    float: none;
    margin-top: 50px;
    
}

.answer div input{

    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline-offset: 0;
    box-shadow: none;
    border-bottom-width: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: #989898;
    font-size: 24px;
    color: #d5d3d3;



}
.answer input::placeholder { 
    color: #d5d3d3; 
}

.answer div input:focus{
    outline: none;
    text-decoration: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline-offset: 0;
    box-shadow: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: #989898;
    color: #000000;
}
.answer h3{
    font-size: 14px;
   color:#989898;
   margin: 0;
   margin-top:5px;

}
.answer hr{
    width: 75%;
    align-content:right;
    align-items:right;
    text-align:right;
}

.answer label[for="l1"], 
.answer label[for="l2"],
.answer label[for="l3"],
.answer label[for="l4"],
.answer label[for="l5"],
.answer label[for="l6"],
.answer label[for="l7"],
.answer label[for="l8"],
.answer label[for="l9"]{
    font-size: 24px;
    font-weight: 400;
    width: 80%;
    align-content: left;
    align-items: left;
    text-align: left;
    cursor: pointer;
    --ch :#A3A4A3;

}

.answer input[type="radio"]{
    display: none;
    margin: 0;
    padding: 0;
    --bg-pseudo : mediumseagreen;
}
.answer input[type="date"]{
    -webkit-appearance: none;
    padding: 0 50px 0 20px;
    width: 100%;
    height: 100%;
    background: none;
    border:none;
    border-bottom: 3px solid #989898;
    cursor: pointer;
    font-size: 24px;
    text-indent: 5px;

}




.answer select {
    padding: 0 50px 0 20px;
    width: 100%;
    height: 100%;
    background: none;
    border:none;
    -webkit-appearance: none;
    cursor: pointer;
    font-size: 24px;
    text-indent: 5px;
    --sele : mediumseagreen;
 }
 .answer option{
     font-weight: 300;
     width: 100%;
 }
 .answer .selector{
     position: relative;
     background: #ffffff;
     border: none;
     cursor: pointer;
 }
 .answer .selector{
    outline: none;
 }
 .answer .selector::before{
    content: '';
    background: var(--sele);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40px;
    pointer-events: none;
 }
 .answer .selector::after{
     content:'';
     width: 0;
     height: 0;
     border-style: solid;
     border-width: 10px 7px 0;
     border-color: #ffffff transparent transparent transparent;
     position:absolute;
     top: 50%;
     right: 12px;
     transform: translateY(-50%);
     pointer-events: none;
 }
 .answer div select{
     position: relative;
     background-color: transparent;
     border: 1px solid var(--sele);
     height: 50px;
     cursor: pointer;
 }
 .answer div select#se:focus,
 .answer div select#se2:focus{
    outline: none;
 }

.answer label::before{
    content: '';
    background:transparent;
    border: 2px solid;
    border-color: var(--bg-pseudo);
    border-radius: 50%;
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-right: 20px;
    text-align: center;
    vertical-align: middle;

}
.answer input:checked + label::before{
    background-color: var(--ch);
}

.answer div.backnext{
    display: grid;
    grid-template-columns: 1fr 1fr  1fr;
    grid-column-gap: 15px;
    width: 80%
}



#start{
    border-radius: 60px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
	background-color: mediumseagreen;
    padding: 5px;
    margin: 60px;
    width: 20%;
    min-width:200px;
}
.op2{

    border-radius: 60px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
	background-color: mediumseagreen;
    padding: 5px;
    margin: 60px;
    width: 20%;
    min-width:200px;

}

/* CHAT */


::-webkit-input-placeholder { 
	font-size: 16px;
	color: #d5d3d3;
}
:-moz-placeholder {
	font-size: 16px;
 color: #d5d3d3;
 opacity: 1 ;
}
::-moz-placeholder {
	font-size: 16px;
 color: #d5d3d3;
 opacity:  1;
}
:-ms-input-placeholder { 
	font-size: 16px;
 color: #d5d3d3;
}

/* VENTANA DE CHAT*/
.windchat{
	background-color: #000000;
	width: 500px;
	height: 85vh;
	position: fixed;
	top: 10px;
	right: 0;
	margin-right: 30px;
	border-radius: 10px;
	display: none;
	color: #ffffff;
	
}
.textChat{
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
}
#receptores{
	display: inline-flex;
}
.receptor{
	width: 50px;
	height: 50px;
}
#receptor1{
	margin-right:20px; 
}
#treceptor1{
	margin-right:20px; 
}
.areaChat{
	width: 500px;
}
.conversacion-content{
	text-align:left;
	background:#fff;
	height:40vh;
	width:500px;
	overflow:auto;
}
hr{
	margin: 0;
	padding: 0;
}

#textarea{
	width: 500px;;
	height:20vh;
	border: 0;
	text-decoration: none;
	outline: none;
	color: black;
	padding-left: 10px;
	padding-right: 130px;

}
#gif{
	padding-top: 3px;
	width: 35px;
	height: 33px;
}
.path {
  fill: #989595;
}
.picker{
	color: #989595;
}
.pickers{
	position: absolute;
	bottom: 10%;
	right: 3%;
}

@media(max-width: 560px){
    .windchat{
        background-color: #000000;
        width: 100vw;
        height: 85vh;
        position: fixed;
        top: 10px;
        right: 0;
        margin-right: 30px;
        border-radius: 10px;
        display: none;
        color: #ffffff;
        
    }

    .textChat{
        padding-top: 10px;
        padding-left: 40px;
        padding-right: 30px;
    }
    #receptores{
        display: inline-flex;
    }
    .receptor{
        width: 50px;
        height: 50px;
    }
    #receptor1{
        margin-right:20px; 
    }
    #treceptor1{
        margin-right:20px; 
    }
    .areaChat{
        width: 100vw;
    }
    .conversacion-content{
        text-align:left;
        background:#fff;
        height:40vh;
        width: 100vw;
        overflow:auto;
    }
    hr{
        margin: 0;
        padding: 0;
    }
    
    #textarea{
        width: 100vw;
        height:20vh;
        border: 0;
        text-decoration: none;
        outline: none;
        color: black;
        padding-left: 10px;
        padding-right: 130px;
    
    }
    #gif{
        padding-top: 3px;
        width: 35px;
        height: 33px;
    }
    .path {
      fill: #989595;
    }
    .picker{
        color: #989595;
    }
    .pickers{
        position: absolute;
        bottom: 10%;
        right: 3%;
    }
}

/* BOTON QUE ACTIVA Y DESACTIVA EL CHAT*/
.contchat{
	background-color: #95b75d;
	width: 80px;
	height: 80px;
	border-radius: 100px;
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 20px;
	z-index: 10000;
}

#chatdisable{
	position: absolute;
	bottom: 19px;
	left: 19px;
	color: #ffffff;
}
#chatenable{
	position: absolute;
	bottom: 19px;
	left: 26px;
	color: #ffffff;
	display: none;
	
}



/*tabla*/

.comc5{
	font-size: 52px;
	margin-left: 25px;
	margin-bottom: 60px;
}
.container{
	width: 100%;
}
.tab-escoly {
    background: #fff;
    margin: 30px 0 0 0;
    border-radius: 5px;
    float: left;
    border: 1px solid #dbe8f4;
    border-bottom: none;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 108, 205, 0.1);
    -moz-box-shadow: 5px 5px 15px 0px rgba(0, 108, 205, 0.1);
    box-shadow: 5px 5px 15px 0px rgba(0, 108, 205, 0.1);
}

.tab-escoly h3.table-title {
    color: #fff;
    font-weight: 700;
    font-family: 'Muli', sans-serif;
    text-align: center;
    height: 70px;
    line-height: 3.5;
    border-bottom: 0;
    width: 100%;
    display: block;
    border-radius: 5px 5px 0 0;
    margin: 0;
}

.tab-escoly.characteristics {
    width: 100%;
}

.tab-escoly.escoly {
    width: 100%;
}

.tab-escoly.aplicaciones {
    width: 100%;
}

.tab-escoly.escuelas {
    width: 100%;
}

.tab-escoly:not(.characteristics) span {
    text-align: center;
}

.tab-escoly span:after {
    content: ' ';
    width: 95%;
    display: block;
    height: 1px;
    background: #eee;
}

.tab-escoly tr:nth-child(8) td:after,
.tab-escoly tr:last-child td:after,
.tab-escoly td:after {
    display: none;
}

.titles .plans {
    padding-left: 0;
    padding-right: 0;
}

.characteristics h3.table-title {
    background: #fff;
    border-bottom: 1px solid #eee;
    color: #0084ff;
    text-align: left;
    padding-left: 15px;
}

.escoly h3.table-title {
    background: #0084ff;
}

.aplicaciones h3.table-title {
    background: darkgray;
}

.escuelas h3.table-title {
    background: darkgray;
}

.table-feature {
    background: #fff;
    height: 60px;
    line-height: 1.5;
	vertical-align: middle;
	text-align: left;
    padding: 0 15px;
    font-family: 'Nunito', sans-serif;
	font-weight: 600;
	font-size: 18px;
    border: 0;
    border-left: 1px solid #dbe8f4;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 108, 205, 0.1);
    -moz-box-shadow: 5px 5px 15px 0px rgba(0, 108, 205, 0.1);
    box-shadow: 5px 5px 15px 0px rgba(0, 108, 205, 0.1);
}
.table-feature1 {
    background: #fff;
    height: 60px;
    line-height: 3.5;
    vertical-align: middle;
    padding: 0 15px;
    font-family: 'Nunito', sans-serif;
	font-weight: 600;
	font-size: 20px;
    border: 0;
    border-left: 1px solid #dbe8f4;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 108, 205, 0.1);
    -moz-box-shadow: 5px 5px 15px 0px rgba(0, 108, 205, 0.1);
    box-shadow: 5px 5px 15px 0px rgba(0, 108, 205, 0.1);
}

.titles .plans:first-child,
div[class*="feature"] .table-feature:not(.table-feature-title):first-child {
    z-index: 3;
}

.titles .plans:nth-child(2),
div[class*="feature"] .table-feature:not(.table-feature-title):nth-child(2) {
    z-index: 2;
}

.titles .plans:nth-child(3),
div[class*="feature"] .table-feature:not(.table-feature-title):nth-child(3) {
    z-index: 1;
}

.row .table-feature:last-child {
    border-right: 1px solid #dbe8f4;
}

.table-feature span:after {
    content: ' ';
    width: 95%;
    display: block;
    background: #eee;
}

.feature8 .table-feature span:after,
.feature9 .table-feature span:after {
    display: none;
}

.feature9 {
    margin-bottom: 20px;
}

.feature9 .table-feature {
    border-bottom: 1px solid #dbe8f4;
}

.table-feature:not(.characteristics) span {
    text-align: center;
}

.feature-set .fa-check {
    color: #3ad386;
}

.feature-set .fa-times {
    color: #ed4422;
}


.comofunciona-features {
    padding: 60px 0 120px;
}

/*TERMINA LA TABLA*/

/*BOTONES*/

#button_container{
    margin-top: 150px;
    display: grid;
    grid-template-rows: repeat(2 1fr);

}
.logoutdes{
    font-size: 50px;
    float: right;
    background-color: #8b0000;
    border-radius: 100%;
    color: #FFFFFF;
    margin: 20px;

}

.but1{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    font-size: 24px;
    border-color: #0084ff;
    background-color: #0084ff;
    color: #FFFFFF;
}
.but2{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    font-size: 24px;
    border-color: #5e9424;
    background-color: #5e9424;
    color: #FFFFFF;
}
.but3{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    font-size: 24px;
    border-color: #8b0000;
    background-color: #8b0000;
    color: #FFFFFF;
}
.but4{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    font-size: 24px;
    border-color: #d8d219;
    background-color: #d8d219;
    color: #FFFFFF;
}
.libre{

}

.but5{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    font-size: 24px;
    border-color: #e1bd09d4;
    background-color: #e1bd09d4;
    color: #FFFFFF;
}
.but6{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    font-size: 24px;
    border-color: #5e5d5d;
    background-color: #5e5d5d;
    color: #FFFFFF;
}
.but7{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    font-size: 24px;
    border-color: #e459eb;
    background-color: #e459eb;
    color: #FFFFFF;
}
.but8{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    font-size: 24px;
    border-color: #ffa200;
    background-color: #ffa200;
    color: #FFFFFF;
}
.but9{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    font-size: 24px;
    border-color: #4d0594;
    background-color: #4d0594;
    color: #FFFFFF;
}

.but11{
    width: 290px;
    height: 290px;
    margin: 7px;
    border-radius: 100%;
    font-size: 24px;
    border-color: #d27410;
    background-color: #d27410;
    color: #FFFFFF;
    z-index: 10;
    
}
.but00{
    font-size: 16px;
}

/*carreras*/

.carreras{
    height: 100vh;
    width: 900px;

}

.busquedaCarreras{
    height: 95%;
    width: 95%;
    overflow-y:scroll; 
    overflow-x: hidden;
}

.filtrar{
    display:none;
}


.busquedaCarreras::-webkit-scrollbar{
    width: 10px;
}
.busquedaCarreras::-webkit-scrollbar-thumb{
    background: #7b7b7b;
}
.ytt{
    height: 75px;
    color: #fafafa;
    background: inherit;
}
.ytt2{
    height: 120px;
    color: #fafafa;
    background: inherit;
}
.ytt3{
    height: auto;
    color: #fafafa;
    background: inherit;
}

.fa-arrow-alt-circle-left{
    position: fixed;
    bottom: 0;
    margin: 20px;
    font-size: 48px;
}
/*filtro*/
.filtro{
    border-radius: 5px;
    margin: 30px;
    background: inherit;
    border-color: forestgreen;
    color:#FFFFFF;
    font-size: 16px;
}
.filtro:hover{
    background: forestgreen;
    border-color: forestgreen;
}
.profe{
    text-align: left;
    font-size: 18px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
}
.profe1{
    text-align: left;
    font-size: 14px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
    text-decoration: none;
    text-decoration-color: #ffffff;
    color: #ffffff;
}
.farheart{
    cursor:pointer;
}
.farstar{
    float:left;
    cursor:pointer;
    font-size: 14px;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 5px;
    
}

/*ventanas*/

.container_window{
    margin: 30px;
}
.window_data{
    width: 100vw;
    height: 800px; 
    border-width: 5px;
    border-color: #FFFFFF;
    margin-bottom: 80px;
    display: none;
}
.window_hora{
    width: 100vw;
    height: 800px; 
    border-width: 5px;
    border-color: #FFFFFF;
    margin-bottom: 80px;
    display: none;
}
.window_pensum{
    width: 100vw;
    height: 800px; 
    border-width: 5px;
    border-color: #FFFFFF;
    margin-bottom: 80px;
    display: none;
    overflow-y: scroll;
}
.window_becas{
    width: 100vw; 
    height: 800px; 
    border-width: 5px;
    border-color: #FFFFFF;
    margin-bottom: 80px;
    display: none;
}
.window_costos{
    width: 100vw; 
    height: 800px; 
    border-width: 5px;
    border-color: #FFFFFF;
    margin-bottom: 80px;
    display: none;
}
.window_admision{
    width: 100vw; 
    height: 800px; 
    border-width: 5px;
    border-color: #FFFFFF;
    margin-bottom: 80px;
    display: none;
    overflow-y: scroll;
}
.tittle_data{
    background:#0842d5;
    color: #FFFFFF;
}
.periodo{
    width: 100%;
    height: auto;
    font-size: 16px;
    border: 2px 2px 2px 2px solid;
    border-color: #FFFFFF;
    color: #FFFFFF;
}
.botonVer{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    color: #FFFFFF;
    background: #2a7179;

}
.bpensum{
    background: #2a7179;
    border-color: #2a7179;
    border-radius: 5px;
}
.mrg{
    width: 23%;
    margin: 5px;
}
.nomcursos{
    display: none;
}
.nomcursos2{
    display: none;
}
.nomcursos3{
    display: none;
}
.nomcursos4{
    display: none;
}
.nomcursos5{
    display: none;
}
.nomcursos6{
    display: none;
}
.nomcursos7{
    display: none;
}
.nomcursos8{
    display: none;
}
.nomcursos9{
    display: none;
}
.nomcursos10{
    display: none;
}
.res{
    text-align: left;
    color: #ffffff;
}
.res2{
    text-align: left;
    color: #ffffff;
    font-size: 18px;
}
.closeThedata{
    width: 75px;
    height: 25px;
    border-radius: 5px;
    color: #FFFFFF;
    background: #8f0101;
    border-color:  #8f0101;
}
.closeThedata:hover{
    background: #ae0c0c;
    border-color:  #ae0c0c;
}
#normal{
    background: inherit;
}
.admis{
    background: inherit;
}
#modali{
    background: inherit;
}
.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
  }

