
/* **** Tabla de pensum **** */

.dvPensum {
	border: 1px solid #D8D8D8;
	margin-top: 10px;
	width:100%;
	padding: 10px 10px;
	border-radius:5px;
}

	.dvPensum span {
		font-weight: bold;
		font-size: 12px;
	}
	.dvPensum table{
		width:80%;
		font-size: 12px;
	}
		.dvPensum table tr th{
			background-color: #7D3C98;
			color: white;
			font-weight: bold;
			height: 40px;
		}
		.dvPensum table tr td:nth-child(2n+2) {
			width:70%;
		}

/* **** Botones de formulario **** */

.btnForm {
	background-color: #7D3C98;
	color: white;
	height: 50px;
	font-size: 15px;
	border-radius: 10px;
	font-weight: bold;
}
	.btnForm:focus, .btnForm:hover {
		color: white;
		background-color: #4A235A;
	}
.btnFormMini {
	background-color: #7D3C98;
	color: white;
	font-size: 15px;
	border-radius: 10px;
	font-weight: bold;
}
	.btnFormMini:focus, .btnFormMini:hover {
		color: white;
		background-color: #4A235A;
	}
.btnFiltro {
		background-color: #7D3C98;
		color: white;
		font-size: 12px;
		border-radius: 10px;
		font-weight: bold;
	}
		.btnFiltro:focus, .btnFiltro:hover {
			color: white;
			background-color: #4A235A;
		}
.btnVotar {
	background-color: #7D3C98;
	color: white;
	font-size: 12px;
	height:30px;
	border-radius: 10px;
	font-weight: bold;
}
	.btnVotar:focus, .btnVotar:hover {
		color: white;
		background-color: #4A235A;
	}
	.dvOrientacion label{
		color:#7D3C98;
		font-weight: bold;
		font-size: 18px;
		margin-bottom: 10px;
	}
	.dvOrientacion text{
		font-weight: bold;
		font-size: 15px;
	}

/* **** **** */

/* **** Divs **** */

.dvForm {
	width:90%;
	max-width: 600px;
	padding: 20px 20px;
	background-color: white;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	float: right;
}

.dvLogin {
	width:60%;
	max-width: 500px;
	padding: 20px 20px;
	background-color: white;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}



/* **** **** */

.spFormError {
	color: #7D3C98;
	font-weight: bold;
	font-size: 16px;
}

.imgOpciones {
	width: 30px;
	cursor: pointer;
}

.dvCalificacion img{
	width:35px;
	cursor: pointer;
}
.dvCalificacion label{
	color:#7D3C98;
}

.txtResaltado {
	color: #7D3C98;
	font-weight: bold;
}

/* **** Compra **** */

.dvOpcionCompra {
	border: 1px solid #E6E6E6;
	height: 100px;
	padding: 30px 30px;
	cursor: pointer;

}
	.dvOpcionCompra:hover, .dvOpcionCompra:active {
		background-color: #F2F2F2;
	}
.tituloCompra{
	font-weight: bold;
	color: #7D3C98;
	font-size: 18px;
}

.dvTabsBusqueda {
	width:90%;
	max-width: 1000px;
}
.aItemBusqueda {
	height:120px;
	padding: 20px 20px;
}
.spTituloBusqueda {
	font-weight: bold;
	color: #7D3C98;
	font-size: 18px;
}
.spTituloOrientacion {
	font-weight: bold;
	color: #7D3C98;
	font-size: 18px;
}
.spOpcionBusqueda {
	font-weight: bold;
	color: #7D3C98;
	font-size: 15px;
}


/* ** Registro de usuario ** */

.txtColor {
	color:#7D3C98;
	font-weight: bold;
}
