.dvPadreForm {
	width:100%;
	height:400px;
	margin-bottom: 30px; 
	position: right;  
	padding: 15px 15px; 
	overflow: auto;
	/*background-image: url("../../img/universidad.jpg");*/
	background-color:#424242;
	background-size:cover;
}

/*  Footer */
.secFooter {
	background-color:#7D3C98; 
	min-height: 120px;
}

		
.aFooter {
	color: #9A2EFE;
	font-weight: bold;
	text-decoration: none;
}
	.aFooter:active, .aFooter:hover {
		color: #4B088A;
		text-decoration:none; 
		cursor: pointer;
	}
.imgFooter {
	width: 40px;
	cursor: pointer;
	margin-top: -5px;
}

.btnFooter {
	background-color: #7D3C98;
	color: white;
	height: 50px;
	font-size: 15px;
	margin-left: 10px;
	border-radius: 10px;
	font-weight: bold;
}
	.btnFooter:active, .btnFooter:hover {
		border: 1px solid #FFFF00;
		color: #FFFF00;
	}