
// hide the focus indicator if element receives focus via mouse, but show on keyboard focus (on tab). .js-focus-visible :focus:not(.focus-visible) { outline: none; } // Define a strong focus indicator for keyboard focus. // If you skip this then the browser's default focus indicator will display instead // ideally use outline property for those users using windows high contrast mode .js-focus-visible .focus-visible { outline: magenta auto 5px; } 
*
{
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

body
{
	background-image: url("../../img/text.jpg");
	height: 100%;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;

}
 .dvLogin
 {
	 background: inherit;
	 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	 font-weight: bold;
	 font-size: 20px;
	 color: #ffffff;
 }
 .dvLogin h3
 {
	background: inherit;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 30px;
	color: #ffffff;

 }

 .btnMenu 
{
	background-color: rgba(0, 0, 0, 0.359);
	color: #ffffff;
	height: 50px;
	font-size: 15px;
	margin-left: 10px;
	border-radius: 10px;
	font-weight: bold;
}
.btn1
{
	color: #ffffff;
	font-size: 12px;
	font-weight: 600;
	overflow: hidden;
	margin:10px;
}

.btnForm
{
	color: white;
	width: 75%;
	height: 50%;
	font-size: 15px;
	border-radius: 100px;
	background-color: rgb(8, 183, 49);
	border-width: 3px;
	font-weight: bold;
	margin-top: 5px;
}
.btnForm:focus, .btnForm:hover {
	color: white;
	background-color: rgb(8, 183, 49);
}
.btnBack
{
	color: white;
	height: 50%;
	font-size: 15px;
	border-radius: 100px;
	background-color:rgb(222, 6, 6);
	border-width: 3px;
	font-weight: bold;
	margin-top: 5px;
}
.btnBack:focus, .btnBack:hover {
	color: white;
	background-color: rgb(222, 6, 6);
}
.image
{
	width: 250px;
	height: 10vh;
}
.btn-link button
{
	line-height: 44px;
	text-decoration: none;
	text-decoration-line: inherit;
	color: #453203;
	-webkit-tap-highlight-color :rgba(0,0,0,0);
	text-decoration:none;

}
.btn-link:focus, .btn-link:hover {
	color: white;
}
.form-control.text:focus
{
	border:none;
}
.form-control:focus, .form-control:hover {
	border:none;
}
input:focus {
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); 
	-moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	}
.form-control
{
	background-color: rgb(30, 30, 30);
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	border: 0px;
}

.btn-comprar{
	border-radius: 100px;
	background-color: #FFC107;
	color: #000000;
	overflow:hidden;
	
}
.alert
{
	margin-top: 50px;
}

.dvLogin{
	margin-top: 15vh;
	margin-bottom: 10vw ;
}

.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
  }

