
*{
	margin: 0;
	padding: 0;
	font-family: 'Patrick Hand';
}

.navbar{
	z-index: 10000;
	position: fixed;
	width: 100%;
	background-color: #FFFFFF;
}

.btn-comprar{
	border-radius: 100px;
	background-color: #319634;
	color: #000000;
	overflow:hidden;
	
}
.tittlec2{
	color: darkred;
	padding: 0;
	margin: 0;
}

/*Cuadrante 1 */
.cuadrante1{
	background: url(../../img/cua11.jpg);
	min-height: 100vh;
	position: relative;
	opacity: .80;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #FFFFFF;
	
}
.cuadrante1 div{
	display: flex;
	justify-content: center;
	align-items: center;
}


.cuadrante1 h1{
	margin: 0;
	margin-top: 3%;
	padding: 0;
	font-size: 280px;
	font-weight: bold;
	color: #FFFFFF;
	text-indent: 50px;
	text-align: right;

}
.cuadrante1 h3{
	font-weight: bold;
	padding:0;
	margin: 0;
	color: #FFFFFF;
	text-indent: 50px;
	text-align: right;

}
.cuadrante1 h4{
	margin-top: 10%;
	margin-left: 5px;
	
}
.cuadrante1 h4, .cuadrante1 h5{
	text-align: left;
}

/*Cuadrante 2 */
.cuadrante2{
	background-color: #FFFFFF;
	height: 100vh;
	min-height: 100vh;
	min-width: 200px;
	position: relative;

}
.cuadrante2 div{
	background-color: #FFFFFF;
	height: 100vh;
	min-height: 100vh;
	min-width: 200px;
	position: relative;

}
.cuadrante2 .Slider figure .slide1{
	background: url(../../img/imgc2-1.jpg);
	min-height: 100vh;
	position: relative;
	opacity: .75;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.cuadrante2 .Slider figure .slide2{
	background: url(../../img/imgc2-2.jpg);
	min-height: 100vh;
	position: relative;
	opacity: .75;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.cuadrante2 .Slider figure .slide3{
	background: url(../../img/imgc2-3.jpg);
	min-height: 100vh;
	position: relative;
	opacity: .75;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.cuadrante2 .Slider figure .slide4{
	background: url(../../img/imgc2-4.jpg);
	min-height: 100vh;
	position: relative;
	opacity: .75;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/*Cuadrante 3 */
.cuadrante3{
	background-color: #FFFFFF;
	height: 100vh;
	min-height: 100vh;
	position: relative;

}
.cuadrante3 div{
	background-color: #FFFFFF;
	height: 100vh;
	min-height: 100vh;
	min-width: 200px;
	position: relative;

}
.cuadrante3 .Slider figure .slide1{
	background: url(../../img/imgc3-1.jpg);
	min-height: 100vh;
	position: relative;
	opacity: .75;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.cuadrante3 .Slider figure .slide2{
	background: url(../../img/imgc3-2.jpg);
	min-height: 100vh;
	position: relative;
	opacity: .75;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.cuadrante3 .Slider figure .slide3{
	background: url(../../img/imgc3-3.jpg);
	min-height: 100vh;
	position: relative;
	opacity: .75;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.cuadrante3 .Slider figure .slide4{
	background: url(../../img/imgc3-4.jpg);
	min-height: 100vh;
	position: relative;
	opacity: .75;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/*Cuadrante 4 */
.cuadrante4{
	background: url(../../img/cua4.jpg);
    display: grid;
    grid-template-rows: repeat(2 1fr);
	min-height: 100vh;
	opacity: .80;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #FFFFFF;
}
#button_container{
	position: relative;
	top: 50%;

}
.but1{
    width: 200px;
    height: 200px;
	border-radius: 100%;
	font-size: 74px;
	margin-left: 50px;
	margin-right: 50px;
	border: solid 3px;
    border-color: #0084ff;
    background-color: inherit;
    color: #0084ff;
}




/*Cuadrante 5 */
.cuadrante5{
	background: url(../../img/cua5.jpg);
	min-height: 100vh;
	position: relative;
	opacity: .80;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #FFFFFF;
	
}

/*Cuadrante 6 */
.cuadrante6{
	background: url(../../img/cua6.jpg);
	min-height: 100vh;
	position: relative;
	opacity: .80;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #FFFFFF;
	
}
.Slider6{
	overflow: hidden;
	height: auto;
}
.Slider6 figure div{
	width: 50%;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 6%;
	color: #FFFFFF;
}
.Slider6 figure img{
	width: 100%;
	float: left;

}
.Slider6 figure {
	position: relative;
	width: 200%;
	margin: 0;
	left: 0;
	animation: 40s Slidy1 infinite;
}
@keyframes Slidy1{
	0%{
		left: 0%;
	}
	12%{
		left: 0%;
	}
	13%{
		left: -100%;
	}
	28%{
		left: -100%;
	}
	29%{
		left: 0%;
	}
	34%{
		left: 0%;
	}
	35%{
		left: -100%;
	}
	49%{
		left: -100%;
	}
	50%{
		left: 0%;
	}
	62%{
		left: 0%;
	}
	63%{
		left: -100%;
	}
	78%{
		left: -100%;
	}
	79%{
		left: 0%;
	}
	84%{
		left: 0%;
	}
	85%{
		left: -100%;
	}
	99%{
		left: -100%;
	}
	100%{
		left: 0%;
	}
}
#freeButton{
	text-align: center;
	font-size: 36px;
	padding: 7px 50px 7px 50px;
	background-color: #5e9424;
	border: solid 1px #5e9424;
	border-radius: 15px;
	color: #ffffff;
	cursor: pointer;
}
#freeButton:hover{
	background-color: #7CB342;
	border: solid 1px #5e9424;
}

/*Cuadrante 7 */
.cuadrante7{
	background-color: #FFFFFF;
	height: 100vh;
	min-height: 100vh;
	min-width: 200px;
	position: relative;
}
.Slider7{
	overflow: hidden;
	height: 100%;
}
.Slider7 figure div{
	width: 20%;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
}
.Slider7 figure img{
	width: 100%;
	float: left;

}
.Slider7 figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 50s Slidy2 infinite;
}
@keyframes Slidy2{
	0%{
		left: 0%;
	}
	10%{
		left: 0%;
	}
	12%{
		left: -100%;
	}
	22%{
		left: -100%;
	}
	24%{
		left: -200%;
	}
	34%{
		left: -200%;
	}
	36%{
		left: -300%;
	}
	46%{
		left: -300%;
	}
	48%{
		left:-400%;
	}
	58%{
		left:-400%;
	}
	60%{
		left: -300%;
	}
	70%{
		left: -300%;
	}
	72%{
		left: -200%;
	}
	82%{
		left: -200%;
	}
	84%{
		left: -100%;
	}
	94%{
		left: -100%;
	}
	96%{
		left: 0%;
	}
	100%{
		left: 0%;
	}

}

.cuadrante7 .Slider7 figure .slide1{
	background: url(../../img/imgc7-1.jpg);
	min-height: 100vh;
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.cuadrante7 .Slider7 figure .slide2{
	background: url(../../img/imgc7-2.jpg);
	min-height: 100vh;
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.cuadrante7 .Slider7 figure .slide3{
	background: url(../../img/imgc7-3.jpg);
	min-height: 100vh;
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.cuadrante7 .Slider7 figure .slide4{
	background: url(../../img/imgc7-4.jpg);
	min-height: 100vh;
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.cuadrante7 .Slider7 figure .slide5{
	background: url(../../img/imgc7-5.jpg);
	min-height: 100vh;
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/*Cuadrante 8 */
.cuadrante8{
	background: url(../../img/cua8.jpg);
	min-height: 100vh;
	position: relative;
	opacity: .80;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #FFFFFF;
	
}
.contain{
padding-top: 15%;
}
.contain div h1{
	
	margin-top: 6%;
	color: #42a4ef;

	}
.contain div center a{
	margin-left: 30px;
	margin-right: 30px;
	}


.contain div center img{
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 5%;
	padding-top: 10%;
	}


/*SLIDER GENERAL*/
.Slider{
	overflow: hidden;
	height: 100%;
}
.Slider figure div{
	width: 25%;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
}
.Slider figure img{
	width: 100%;
	float: left;

}
.Slider figure {
	position: relative;
	width: 400%;
	margin: 0;
	left: 0;
	animation: 40s Slidy infinite;
}
@keyframes Slidy{
	0%{
		left: 0%;
	}
	12%{
		left: 0%;
	}
	13%{
		left: -100%;
	}
	28%{
		left: -100%;
	}
	29%{
		left: -200%;
	}
	34%{
		left: -200%;
	}
	35%{
		left: -200%;
	}
	49%{
		left: -200%;
	}
	50%{
		left: -300%;
	}
	62%{
		left: -300%;
	}
	63%{
		left: -200%;
	}
	78%{
		left: -200%;
	}
	79%{
		left: -100%;
	}
	84%{
		left: -100%;
	}
	85%{
		left: 0%;
	}
	99%{
		left: 0%;
	}
	100%{
		left: 0%;
	}
}






	



	




/* AQUI EMPIEZA LA TABLA DE COMPARACIÓN  */

.container{
	width: 100%;
}
.tab-escoly {
    background: inherit;
    margin: 30px 0 0 0;
    border-radius: 5px;
    float: left;
    border: 1px solid #ffffff;
    border-bottom: none;

}

.tab-escoly h3.table-title {
    color: #fff;
    font-weight: 700;
    font-family: 'Muli', sans-serif;
    text-align: center;
    height: 70px;
    line-height: 3.5;
    border-bottom: 0;
    width: 100%;
    display: block;

    margin: 0;
}

.tab-escoly.characteristics {
    width: 100%;
}

.tab-escoly.escoly {
	width: 100%;
	border-bottom: 1px solid #40e845;
	border-top: 1px solid #40e845;
	border-left: 1px solid #40e845;
	border-right:1px solid #40e845;
}

.tab-escoly.aplicaciones {
    width: 100%;
}

.tab-escoly.escuelas {
    width: 100%;
}

.tab-escoly:not(.characteristics) span {
    text-align: center;
}

.tab-escoly span:after {
    content: ' ';
    width: 95%;
    display: block;
    height: 1px;
    background: inherit;
}

.tab-escoly tr:nth-child(8) td:after,
.tab-escoly tr:last-child td:after,
.tab-escoly tr.table-premium-content td:after {
    display: none;
}

.titles .plans {
    padding-left: 0;
    padding-right: 0;
}

.characteristics h3.table-title {
    background: inherit;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    text-align: left;
    padding-left: 15px;
}

.escoly h3.table-title {
    background: inherit;
}
.escoly{
	border-bottom: 1px solid #40e845;
	border-top: 1px solid #40e845;
	border-left: 1px solid #40e845;
	border-right:1px solid #40e845;
}

.aplicaciones h3.table-title {
    background:inherit;
}

.escuelas h3.table-title {
    background: inherit;
}

.table-feature {
    background: inherit;
    height: 60px;
    line-height: 3.5;
    vertical-align: middle;
    padding: 0 15px;
    font-family: 'Nunito', sans-serif;
	font-weight: 600;
	font-size: 18px;
    border: 0;
	border-left: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
	border-right:1px solid #ffffff;

}
.table-feature1 {
    background: inherit;
    height: 60px;
    line-height: 3.5;
    vertical-align: middle;
    padding: 0 15px;
    font-family: 'Nunito', sans-serif;
	font-weight: 600;
	font-size: 18px;
	border-bottom: 1px solid #40e845;
	border-top: 1px solid #40e845;
	border-left: 1px solid #40e845;
	border-right:1px solid #40e845;

}

.titles .plans:first-child,
div[class*="feature"] .table-feature:not(.table-feature-title):first-child {
    z-index: 3;
}

.titles .plans:nth-child(2),
div[class*="feature"] .table-feature:not(.table-feature-title):nth-child(2) {
    z-index: 2;
}

.titles .plans:nth-child(3),
div[class*="feature"] .table-feature:not(.table-feature-title):nth-child(3) {
    z-index: 1;
}

.row .table-feature:last-child {
    border-right: 1px solid #ffffff;
}

.table-feature span:after {
    content: ' ';
    width: 95%;
    display: block;
    height: 1px;
    background: inherit;
}

.feature8 .table-feature span:after,
.feature9 .table-feature span:after {
    display: none;
}

.feature9 {
    margin-bottom: 20px;
}

.feature9 .table-feature {
    border-bottom: 1px solid #ffffff;
}

.table-feature:not(.characteristics) span {
    text-align: center;
}

.feature-set .fa-check {
    color: #3ad386;
}

.feature-set .fa-times {
    color: #ed4422;
}

.feature-premium .premium-content {
    background: inherit;
    font-weight: 400;
	font-size: 18px;
    color: #ffffff;
    line-height: 3.75rem;
}

.comofunciona-features {
    padding: 60px 0 120px;
}

@media (max-width:768px) {
    .tab-escoly h3.table-title {
        font-size: 1rem;
        line-height: 1.4;
    }
    .tab-escoly.escoly h3 {
        padding-top: 25px;
    }
    .tab-escoly.aplicaciones h3 {
        padding-top: 25px;
    }
    .tab-escoly.escuelas h3 {
        padding-top: 15px;
    }
    .table-feature-title {
        font-size: 1rem;
    }
}

@media(min-width:768px) and (max-width:991px) {
    .table-feature-title {
        font-size: 1.25rem;
    }
    .tab-escoly span.premium-content,
    .tab-escoly h6.table-title {
        font-size: 1rem;
    }
    .tab-escoly span {
        font-size: 0.7rem;
	}
	.escoly{
		border-bottom: 1px solid #40e845;
		border-top: 1px solid #40e845;
		border-left: 1px solid #40e845;
		border-right:1px solid #40e845;
	}
}
@media (max-width:991px) {
    .table-feature.hidden-md.hidden-lg {
        width: calc(100% - 30px);
        margin-left: 15px;
    }
    .tab-escoly {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
		box-shadow: none;
		
	}
	.escoly{
		border-bottom: 1px solid #40e845;
		border-top: 1px solid #40e845;
		border-left: 1px solid #40e845;
		border-right:1px solid #40e845;
	}
    .table-feature {
        border-bottom: 1px solid #ffffff;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .table-feature span:after {
        display: none;
    }
    .table-feature-title {
        background-color: inherit;
        text-align: center;
    }
    .feature-premium .premium-content {
        background: inherit;
        font-weight: 400;
        font-size: 1.5rem;
        color: #ffffff;
        line-height: 3.75rem;
    }
    .modal-dialog {
        width: 90%;
        margin: 200px auto;
    }
}

/* AQUI TERMINA LA TABLA DE COMPARACIÓN */







.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
  }