/*SIDEBAR PLATAFORM */

.nave{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color:#454d54;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}
.nave a{
	display: block;
	padding: 20px 30px;
	font-size: 25px;
	text-decoration: none;
	color: #ffffff;
}
.nave a:hover{
	color: #ffffff;
	transition: 0.4s;
}
.nave .close{
	position: absolute;
	top: 0;
	right: 0;
	color: #ffffff;
}
.info{
	color: #ffffff;
	margin-bottom:60px;
}
.gene{
	width: 80px;
	height: 80px;
	position: absolute;
	top: 20px;
	left: 30px;
}
.nameuser{
	position: absolute;
	top: 20px;
	left: 150px;
}
.locationuser{
	position: absolute;
	top: 50px;
	left: 150px;
	margin-top: 20px;

}

/* NAVBAR HOME*/

/* esto es el tamaño del logo */
.navbar-applogo 
{
	width: 90px;
	height: 40px;
}
/* esto le da el tamaño al boton */
.btnMenu 
{
	background-color: rgba(255, 254, 254, 0.283);
	color: #000000;
	height: 50px;
	font-size: 15px;
	margin-left: 10px;
	border-radius: 10px;
	font-weight: bold;
}
/* esto es el hover de los botones */
	.btnMenu:focus, .btnMenu:hover 
	{
		border: 1px solid rgb(0, 0, 0);
		color: rgb(0, 0, 0);
	}
	

