body html{
	padding: 0;
	margin: 0;
}

/*INI-USER*/
#ini{
	background-image: url('../../img/platform1.jpg');
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.separador{
	height: 15vw;
}

#welcomeUser{
	display: inline;
	text-align-last: center;
	font-size: 64px;
	color: #7CB342;

}
#questUser{
	display: inline;
	padding: 0;
	margin-top: 300px;
	text-align-last: center;
	font-size: 50px;
	color: #ffffff;

}
#imaUser{
	display: inline;
	width: 100px;
	height: 100px;
	margin-top: 20px;
	text-align-last: center;

}
@media(max-width:920px){
	#welcomeUser{
		display: inline;
		padding: 0;
		margin: 0;
		text-align-last: center;
		font-size: 44px;
		color: #7CB342;
	}
	#questUser{
		display: inline;
		padding: 0;
		margin: 0;
		text-align-last: center;
		font-size: 30px;
		color: #ffffff;
	}
	#imaUser{
		display: inline;
		width: 75px;
		height: 75px;
		top: 450px;
		text-align-last: center;
	}
}
/*PROFILE-USER*/

.containerM{
	padding: 20px;
}
.tabContainer{
	width: 100vw;
	height: 90%;
}
.tabContainer .buttonContainer{
	height: 15%;
}
.tabContainer .buttonContainer button{
	width: 33.3333333%;
	height: 100%;
	float: left;
	border:none;
	outline:none;
	cursor:pointer;
	padding: 10px;
	font-size: 18px;
	background-color: #eeeeee;
}
.tabContainer .buttonContainer button:hover{
	background-color: #d7d4d4;
}
.tabContainer .tabPanel{
	height: auto;
	background-color: #808080;
	color: #ffffff;
	text-align: center;
	padding-top: 105px;
	box-sizing: border-box;
	font-size: 18px;
	display: none;
}
.btnBack
{
	color: white;
	height: 50%;
	font-size: 15px;
	border-radius: 100px;
	background-color:rgb(222, 6, 6);
	border-width: 3px;
	font-weight: bold;
	margin-top: 5px;
}
.btnBack:focus, .btnBack:hover {
	color: white;
	background-color: #bd3636;
}
.btnSave
{
	color: white;
	width: auto;
	height: 50%;
	font-size: 15px;
	border-radius: 100px;
	background-color: rgb(8, 183, 49);
	border-width: 3px;
	font-weight: bold;
	margin-top: 5px;
}
.btnSave:focus, .btnSave:hover {
	color: white;
	background-color: rgb(8, 183, 49);
}
.explain{
	color: #d7d4d4;
}

@media(min-width:769px){
	.centrar{
		float: none !important;
		padding: 0 !important;
		margin-right: auto !important;
		margin-left: auto !important;
	}
	.centrar2{
		margin-left: 0 !important;
		margin-right: 0 !important;
		display: flex !important;
	}
	.centrar3{
		float: none !important;
		padding: 0 !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}
}