*
{
	margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
#wrap_all { 
    position: relative !important;
 }
html,body{
    overflow-x: hidden;

}

body
{
	background-color: mediumseagreen;
	position: relative;
	background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;

}
::-webkit-input-placeholder { 
    color: #d5d3d3;
}
:-moz-placeholder {
   color: #d5d3d3;
   opacity: 1 ;
}
::-moz-placeholder {
   color: #d5d3d3;
   opacity:  1;
}
:-ms-input-placeholder { 
   color: #d5d3d3;
}
#cerrado{
    padding:10px;
}
.test-count{
	background-color:inherit;
	width: 100%;
    height: 300px;
	display: flex;
	justify-content: center;
    align-items: center;
    

}

#counter{
    position: absolute;
    transform: translate(-50%,-50%);
    z-index: 9;
    

}
#circle1{
    height: 165px;
    width: 165px;
    background-color:inherit;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    z-index: 1;
}
#shadowring{
    height: 178px;
    width: 178px;
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.564);
    position: absolute;
    transform: translate(-50%,-50%);
    z-index: 99;
}
#circle2{
    height: 196px;
    width: 196px;
    background-color:inherit;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    z-index: -1;
}

.slider{
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
}

.slider div{
    float:left;
    text-align: center;
}
.slider{
    position: relative;
    width: 500%;
    height: 76vh;
    margin: 0;
    left: 0;

}

.slide{
    width: 20%;
    align-items: center;
}
.quest{
    width: 100%;

}
.quest h1{
    font-size: 32px;
    color: #ffffff;

}

.answer{
    width: 100%;
    height: 75vh;;
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    float: none;
}
.answer div{
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
    width: 80vw;
    float: none;
    margin-top: 50px;
    
}

.answer div input{

    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline-offset: 0;
    box-shadow: none;
    border-bottom-width: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: #989898;
    font-size: 24px;
    color: #d5d3d3;



}
.answer input::placeholder { 
    color: #d5d3d3; 
}

.answer div input:focus{
    outline: none;
    text-decoration: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline-offset: 0;
    box-shadow: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: #989898;
    color: #000000;
}
.answer h3{
    font-size: 14px;
   color:#989898;
   margin: 0;
   margin-top:5px;

}
.answer hr{
    width: 75%;
    align-content:right;
    align-items:right;
    text-align:right;
}

.answer label[for="l1"], 
.answer label[for="l2"],
.answer label[for="l3"],
.answer label[for="l4"],
.answer label[for="l5"],
.answer label[for="l6"],
.answer label[for="l7"],
.answer label[for="l8"],
.answer label[for="l9"]{
    font-size: 24px;
    font-weight: 400;
    width: 80%;
    align-content: left;
    align-items: left;
    text-align: left;
    cursor: pointer;
    --ch :#A3A4A3;

}

.answer input[type="radio"]{
    display: none;
    margin: 0;
    padding: 0;
    --bg-pseudo : mediumseagreen;
}
.answer input[type="date"]{
    -webkit-appearance: none;
    padding: 0 50px 0 20px;
    width: 100%;
    height: 100%;
    background: none;
    border:none;
    border-bottom: 3px solid #989898;
    cursor: pointer;
    font-size: 24px;
    text-indent: 5px;

}




.answer select {
    padding: 0 50px 0 20px;
    width: 100%;
    height: 100%;
    background: none;
    border:none;
    -webkit-appearance: none;
    cursor: pointer;
    font-size: 24px;
    text-indent: 5px;
    --sele : mediumseagreen;
 }
 .answer option{
     font-weight: 300;
     width: 100%;
 }
 .answer .selector{
     position: relative;
     background: #ffffff;
     border: none;
     cursor: pointer;
 }
 .answer .selector{
    outline: none;
 }
 .answer .selector::before{
    content: '';
    background: var(--sele);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40px;
    pointer-events: none;
 }
 .answer .selector::after{
     content:'';
     width: 0;
     height: 0;
     border-style: solid;
     border-width: 10px 7px 0;
     border-color: #ffffff transparent transparent transparent;
     position:absolute;
     top: 50%;
     right: 12px;
     transform: translateY(-50%);
     pointer-events: none;
 }
 .answer div select{
     position: relative;
     background-color: transparent;
     border: 1px solid var(--sele);
     height: 50px;
     cursor: pointer;
 }
 .answer div select#se:focus,
 .answer div select#se2:focus{
    outline: none;
 }

.answer label::before{
    content: '';
    background:transparent;
    border: 2px solid;
    border-color: var(--bg-pseudo);
    border-radius: 50%;
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-right: 20px;
    text-align: center;
    vertical-align: middle;

}
.answer input:checked + label::before{
    background-color: var(--ch);
}

.answer div.backnext{
    display: grid;
    grid-template-columns: 1fr 1fr  1fr;
    grid-column-gap: 15px;
    width: 80%
}



#start{
    border-radius: 60px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
	background-color: mediumseagreen;
    padding: 5px;
    margin: 60px;
    width: 20%;
    min-width:200px;
}
.op2{

    border-radius: 60px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
	background-color: mediumseagreen;
    padding: 5px;
    margin: 60px;
    width: 20%;
    min-width:200px;

}


.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
  }