body{
	padding:0;
	margin: 0;
}
.navbar-applogo 
{
	width: 120px;
	height: 70px;
	position: fixed;
	top: 0
}
#free{
	background-image: url('../../img/prueba1.jpg');
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#free2{

	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
}

#freeContent{
	width: 800px;
	position: absolute;
	margin-left: 50px;
	top: 30%;
	align-items: center;
}

#welcomefree{
	padding: 0 0 20px;
	margin: 0;
	font-size: 52px;
	text-align: center;
	color: #ffffff;
}
#questfree{
	padding:0 0 20px;
	margin: 0;
	text-align: center;
	font-size: 22px;
	color: #ffffff;
}
#freeButton{
	text-align: center;
	font-size: 36px;
	padding: 7px 50px 7px 50px;
	background-color: #5e9424;
	border: solid 1px #5e9424;
	border-radius: 15px;
	color: #ffffff;
	cursor: pointer;
}
#freeButton:hover{
	background-color: #7CB342;
	border: solid 1px #5e9424;
}

@media(max-width:1000px){
.containerfreecon{
	width: 100%;
	height: 100%;
}
#freeContent{
	width:80%;
	position: absolute;
	align-items: center;
}
}

/* CHAT */


::-webkit-input-placeholder { 
	font-size: 16px;
	color: #d5d3d3;
}
:-moz-placeholder {
	font-size: 16px;
 color: #d5d3d3;
 opacity: 1 ;
}
::-moz-placeholder {
	font-size: 16px;
 color: #d5d3d3;
 opacity:  1;
}
:-ms-input-placeholder { 
	font-size: 16px;
 color: #d5d3d3;
}

/* VENTANA DE CHAT*/
.windchat{
	background-color: #000000;
	width: 500px;
	height: 85vh;
	position: fixed;
	top: 10px;
	right: 0;
	margin-right: 30px;
	border-radius: 10px;
	display: none;
	color: #ffffff;
	
}
.textChat{
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
}
#receptores{
	display: inline-flex;
}
.receptor{
	width: 50px;
	height: 50px;
}
#receptor1{
	margin-right:20px; 
}
#treceptor1{
	margin-right:20px; 
}
.areaChat{
	width: 500px;
}
.conversacion-content{
	text-align:left;
	background:#fff;
	height:40vh;
	width:500px;
	overflow:auto;
}
hr{
	margin: 0;
	padding: 0;
}

#textarea{
	width: 500px;;
	height:20vh;
	border: 0;
	text-decoration: none;
	outline: none;
	color: black;
	padding-left: 10px;
	padding-right: 130px;

}
#gif{
	padding-top: 3px;
	width: 35px;
	height: 33px;
}
.path {
  fill: #989595;
}
.picker{
	color: #989595;
}
.pickers{
	position: absolute;
	bottom: 10%;
	right: 3%;
}

@media(max-width: 560px){
    .windchat{
        background-color: #000000;
        width: 100vw;
        height: 85vh;
        position: fixed;
        top: 10px;
        right: 0;
        margin-right: 30px;
        border-radius: 10px;
        display: none;
        color: #ffffff;
        
    }

    .textChat{
        padding-top: 10px;
        padding-left: 40px;
        padding-right: 30px;
    }
    #receptores{
        display: inline-flex;
    }
    .receptor{
        width: 50px;
        height: 50px;
    }
    #receptor1{
        margin-right:20px; 
    }
    #treceptor1{
        margin-right:20px; 
    }
    .areaChat{
        width: 100vw;
    }
    .conversacion-content{
        text-align:left;
        background:#fff;
        height:40vh;
        width: 100vw;
        overflow:auto;
    }
    hr{
        margin: 0;
        padding: 0;
    }
    
    #textarea{
        width: 100vw;
        height:20vh;
        border: 0;
        text-decoration: none;
        outline: none;
        color: black;
        padding-left: 10px;
        padding-right: 130px;
    
    }
    #gif{
        padding-top: 3px;
        width: 35px;
        height: 33px;
    }
    .path {
      fill: #989595;
    }
    .picker{
        color: #989595;
    }
    .pickers{
        position: absolute;
        bottom: 10%;
        right: 3%;
    }
}

/* BOTON QUE ACTIVA Y DESACTIVA EL CHAT*/
.contchat{
	background-color: #95b75d;
	width: 80px;
	height: 80px;
	border-radius: 100px;
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 20px;
	z-index: 10000;
}

#chatdisable{
	position: absolute;
	bottom: 19px;
	left: 19px;
	color: #ffffff;
}
#chatenable{
	position: absolute;
	bottom: 19px;
	left: 26px;
	color: #ffffff;
	display: none;
	
}



/*tabla*/

.comc5{
	font-size: 52px;
	margin-left: 25px;
	margin-bottom: 60px;
}
.container{
	width: 100%;
}
.tab-escoly {
    background: #fff;
    margin: 30px 0 0 0;
    border-radius: 5px;
    float: left;
    border: 1px solid #dbe8f4;
    border-bottom: none;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 108, 205, 0.1);
    -moz-box-shadow: 5px 5px 15px 0px rgba(0, 108, 205, 0.1);
    box-shadow: 5px 5px 15px 0px rgba(0, 108, 205, 0.1);
}

.tab-escoly h3.table-title {
    color: #fff;
    font-weight: 700;
    font-family: 'Muli', sans-serif;
    text-align: center;
    height: 70px;
    line-height: 3.5;
    border-bottom: 0;
    width: 100%;
    display: block;
    border-radius: 5px 5px 0 0;
    margin: 0;
}

.tab-escoly.characteristics {
    width: 100%;
}

.tab-escoly.escoly {
    width: 100%;
}

.tab-escoly.aplicaciones {
    width: 100%;
}

.tab-escoly.escuelas {
    width: 100%;
}

.tab-escoly:not(.characteristics) span {
    text-align: center;
}

.tab-escoly span:after {
    content: ' ';
    width: 95%;
    display: block;
    height: 1px;
    background: #eee;
}

.tab-escoly tr:nth-child(8) td:after,
.tab-escoly tr:last-child td:after,
.tab-escoly td:after {
    display: none;
}

.titles .plans {
    padding-left: 0;
    padding-right: 0;
}

.characteristics h3.table-title {
    background: #fff;
    border-bottom: 1px solid #eee;
    color: #0084ff;
    text-align: left;
    padding-left: 15px;
}

.escoly h3.table-title {
    background: #0084ff;
}

.aplicaciones h3.table-title {
    background: darkgray;
}

.escuelas h3.table-title {
    background: darkgray;
}

.table-feature {
    background: #fff;
    height: 60px;
    line-height: 1.5;
	vertical-align: middle;
	text-align: left;
    padding: 0 15px;
    font-family: 'Nunito', sans-serif;
	font-weight: 600;
	font-size: 18px;
    border: 0;
    border-left: 1px solid #dbe8f4;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 108, 205, 0.1);
    -moz-box-shadow: 5px 5px 15px 0px rgba(0, 108, 205, 0.1);
    box-shadow: 5px 5px 15px 0px rgba(0, 108, 205, 0.1);
}
.table-feature1 {
    background: #fff;
    height: 60px;
    line-height: 3.5;
    vertical-align: middle;
    padding: 0 15px;
    font-family: 'Nunito', sans-serif;
	font-weight: 600;
	font-size: 20px;
    border: 0;
    border-left: 1px solid #dbe8f4;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 108, 205, 0.1);
    -moz-box-shadow: 5px 5px 15px 0px rgba(0, 108, 205, 0.1);
    box-shadow: 5px 5px 15px 0px rgba(0, 108, 205, 0.1);
}

.titles .plans:first-child,
div[class*="feature"] .table-feature:not(.table-feature-title):first-child {
    z-index: 3;
}

.titles .plans:nth-child(2),
div[class*="feature"] .table-feature:not(.table-feature-title):nth-child(2) {
    z-index: 2;
}

.titles .plans:nth-child(3),
div[class*="feature"] .table-feature:not(.table-feature-title):nth-child(3) {
    z-index: 1;
}

.row .table-feature:last-child {
    border-right: 1px solid #dbe8f4;
}

.table-feature span:after {
    content: ' ';
    width: 95%;
    display: block;
    background: #eee;
}

.feature8 .table-feature span:after,
.feature9 .table-feature span:after {
    display: none;
}

.feature9 {
    margin-bottom: 20px;
}

.feature9 .table-feature {
    border-bottom: 1px solid #dbe8f4;
}

.table-feature:not(.characteristics) span {
    text-align: center;
}

.feature-set .fa-check {
    color: #3ad386;
}

.feature-set .fa-times {
    color: #ed4422;
}


.comofunciona-features {
    padding: 60px 0 120px;
}

/*TERMINA LA TABLA*/



.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
  }