
.dvDatosBusqueda{

}
	.dvDatosBusqueda label {
		color: #7D3C98;
		font-weight: bold;
		font-size: 14px;
	}

	.dvDatosBusqueda p {
		padding-left: 20px;
	}
	.dvDatosBusqueda h4 {
		color: #7D3C98;
		font-weight: bold;
		margin-bottom: 10px;
	}

.pNulo {
	color: #A4A4A4;
}
.pExito {
	color: #3ADF00;
}

.hDetBusqueda {
	color:#7D3C98;
	font-weight: bold;
}

.textAreaDetBusqueda {
	width:100%;
	height:150px;
}
