.ui-state-active, .ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, a.ui-button:active, 
.ui-button:active, .ui-button.ui-state-active:hover, .ui-state-focus {
	border: 1px solid #7D3C98;
	background: #7D3C98;
	font-weight: normal;
	color: #ffffff;
}
