<div class="windchat" id="wChat">
	<div class="textChat"><h2>Escoly</h2></div>
	<div class="textChat"><h5>¡Hola! No tardamos en responderte al chat que usas en tu teléfono. Mirálo</h5></div>

	<center>
			<div class="textChat" id="receptores">
				
				<div>
					<img src="../../assets/img/girl.svg" class="receptor" id="receptor1">
					<center><h6 id="treceptor1">Sami</h6></center>
				</div>
				<div>
					<img src="../../assets/img/man.svg" class="receptor">
					<center><h6>Josh</h6></center>	
				</div>
	
			</div>
		</center>
		<center>
		<div>
			<h6>¿Con qué psicólogo querés hablar?</h6>
		</div>
		</center>
	<div class="conversacion-content"></div>
	<hr>
		<div>

			<textarea style="color: black;" name="" class="areaChat" id="texarea" cols="30" rows="10" placeholder="Envía un mensaje"></textarea>
			<div class="pickers">
			<a href="#"><i class="far fa-grin-alt fa-2x picker"></i></a>
			<a href="#"><i><svg id="gif" viewBox="0 0 29 18"><g fill-rule="evenodd"><path class="path" d="M9 1a8 8 0 1 0 0 16h11a8 8 0 1 0 0-16H9zm0-1h11a9 9 0 0 1 0 18H9A9 9 0 0 1 9 0z" fill-rule="nonzero"></path><path class="path" d="M6.561 9.337c0-2.277 1.683-3.795 3.773-3.795 1.298 0 2.2.572 2.849 1.375l-.726.451c-.462-.594-1.243-1.012-2.123-1.012-1.606 0-2.827 1.232-2.827 2.981 0 1.738 1.221 2.992 2.827 2.992.88 0 1.606-.429 1.969-.792v-1.496H9.784v-.814h3.432v2.651a3.822 3.822 0 0 1-2.882 1.265c-2.09 0-3.773-1.529-3.773-3.806zM14.701 13V5.663h.913V13h-.913zm2.629 0V5.663h4.807v.814h-3.894v2.365h3.817v.814h-3.817V13h-.913z"></path></g></svg></i></a>
			<a href="#"><i class="fas fa-paperclip fa-2x picker"></i></a>
			</div>
		</div>	

</div>

<div class="contchat">
	<a href="JavaScript:void(0);"  onclick="enableChat()"  >	
		<i class="fas fa-comment-alt fa-3x" id="chatdisable"></i>
	</a>
	<a href="JavaScript:void(0);"  onclick="disableChat()"  >	
			<i class="fas fa-times fa-3x" id="chatenable"></i>
		</a>
</div>