<center>
		<div class="modal fade in" id="mdLoading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
			
			<div class="loader">
					<center>
				
					<div class="image2">
						<center>
						<img src="../../assets/img/loading.svg" alt="">
					</center>
						<!--
					  <i style="color: #FFFFFF" class="fa fa-codepen"></i>
							 -->
					</div>
					<span style="color: #FFFFFF; font-size: 20px;"></span>
				</center>
				  </div>
				
		</div>
	
		
	</center>