<nav class="navbar navbar-napp">
  <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span> 
	  </button>
	  <a class="navbar-brand" href="#">
			<img src="../../assets/img/logo.png" class="navbar-applogo" />
	  </a>
	</div>
	<div class="collapse navbar-collapse" id="myNavbar">
	  <ul class="nav navbar-nav navbar-right" id="ul-navbar">
		<li><a onclick="$('.navbar-collapse.in').collapse('hide');" href="admin-main.html#!/mant-usuario"><span class="glyphicon glyphicon-user spIconoOpcion" aria-hidden="true"></span>Mant. usuarios</a></li> 
		<li><a onclick="$('.navbar-collapse.in').collapse('hide');" href="admin-main.html#!/mant-universidad"><span class="glyphicon glyphicon-home spIconoOpcion" aria-hidden="true"></span>Mant. universidades</a></li> 
		<li><a onclick="$('.navbar-collapse.in').collapse('hide');" href="admin-main.html#!/mant-carrera"><span class="glyphicon glyphicon-bookmark spIconoOpcion" aria-hidden="true"></span>Mant. carreras</a></li>
		<li><a onclick="$('.navbar-collapse.in').collapse('hide');" href="admin-main.html#!/mant-agrupcarreras"><span class="glyphicon glyphicon-tags spIconoOpcion" aria-hidden="true"></span>Mant. agrupaciones</a></li>
		<li><a onclick="$('.navbar-collapse.in').collapse('hide');" href="admin-main.html#!/mant-curso"><span class="glyphicon glyphicon-book spIconoOpcion" aria-hidden="true"></span>Mant. cursos</a></li>
		<li><a onclick="$('.navbar-collapse.in').collapse('hide');" href="#" ng-click="Logout()"><span class="glyphicon glyphicon-remove spIconoOpcion" aria-hidden="true"></span>Cerrar sesion</a></li> 
	  </ul>
	</div>
  </div>
</nav>