<div style="background-color:#454d54;">
	<span>
		<a class="navbar-brand" href="#">
				<img src="../../assets/img/LogoEscoly1.svg" class="navbar-applogo" />
		</a>
	</span>
	<span class="slide">
		<a href="JavaScript:void(0);" onclick="openNavbar()">
			<i class="fas fa-bars fa-2x" style="color: #d5d5d5; margin: 15px; "></i>
		</a>
	</span>

	<span class="slide" id="logout">
		<a href="JavaScript:void(0);" ng-click="Logout()">
			<i class="fas fa-power-off fa-2x" style="color: #d5d5d5; margin: 15px; position: absolute; right: 0;"></i>
		</a>
	</span>

	<div id="menu" class="nave">
		<a href="JavaScript:void(0);" class="close" onclick="closeNavbar()">
			<i class="fas fa-times fa-2x" style="color: #d5d5d5;"></i>
		</a>
		<div class="info">
			<div class="gene">
				<img src="../../assets/img/man.svg" >
			</div>
			<div class="nameuser">
				<h4>{{ UsuarioLogueado.PrimerNombre + ' ' + UsuarioLogueado.PrimerApellido  }}</h4> 
				<!--{{ Usuario.PrimerNombre }} {{ Usuario.PrimerApellido }}-->
			</div>
			<div class="locationuser">
				<i class="fas fa-map-marker-alt fa-lg">  Guatemala</i>
				<!--{{Usuario.Departamento}}-->
			</div>
		</div>
		<center>
			<a href="user-main.html#!/perfil-usuario" onclick="closeNavbar()"><i class="fas fa-user"> </i> Mi perfil</a>
			<a href="descubritelo.html" onclick="closeNavbar()"> <i class="fas fa-search"> </i> Buscátelo</a>
			<a href="user-main.html#!/list-orientacion" onclick="closeNavbar()"> <i class="fas fa-map-marked-alt"> </i> Descubrítelo</a>
			<a ng-click="VerModalCambioPass()"> <i class="fas fa-key"> </i> ¿Querés cambiar tu contraseña?</a>
		</center>
	</div>

</div>
