<!DOCTYPE HTML>
<html ng-app="ChatApp">
<head>
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="../../assets/libs/bootstrap/bootstrap.css" />
	<!-- JAVASCRIPT -->
	<script src="../../assets/libs/jquery/jquery-3.2.1.min.js"></script>
	<script src="../../assets/libs/bootstrap/bootstrap.min.js"></script>
	<script src="../../assets/libs/angular/angular.min.js"></script>
	<style>
		.dvMain {
			margin-top: 20px;
			width: 80%;
			max-width: 600px;
		}
		.dvChatBubble {
			margin-bottom: 10px;
		}
	</style>
</head>
<body ng-controller="ChatController">
	
	<div class="container dvMain">
		<div class="form-group">
		  <label for="usr">Usuario:</label>
		  <input ng-model="usuario" class="form-control" >
		</div>
		<!--
		<p ng-repeat="mensaje in mensajes" ng-style="{{mensaje.estilo}}">
			{{mensaje.usuario + ":" + mensaje.contenido}}
		</p>
		-->
		<div ng-repeat="mensaje in mensajes" class="dvChatBubble">
			<span style="font-weight: bold;">{{mensaje.usuario + ":"}}</span>
			{{mensaje.contenido}}
		</div>
		
		<div class="form-group">
		  <label for="usr">Mensaje:</label>
		  <input ng-model="mensaje" class="form-control" >
		</div>
		<button class="btn" ng-click="Agregar()">Enviar</button>
	</div>
	
	<script>
		var _app = angular.module('ChatApp',[]);
		_app.controller('ChatController', function($scope,$http){
			/*
			$scope.mensajes = [
				{
					usuario: "Mario",
					contenido: "Hola",
					estilo : '{"color":"blue"}'
				},
				{
					usuario: "Jamie",
					contenido: "Hola!",
					estilo : '{"color":"red"}'
				}
			];
			*/
			$scope.Agregar = function(){
				//$scope.mensajes.push({ "usuario": $scope.usuario, "contenido":$scope.mensaje, "estilo":'{"color":"green"}' });
				$http({
				url: 'chat.php?operacion=agregar&usuario=' + $scope.usuario + "&contenido=" + $scope.mensaje,
				method: 'POST',
				headers: {'Content-Type': 'application/x-www-form-urlencoded'}
				}).then(function(response, status){
					if(response.data==1){
						$scope.mensajes.push({ "usuario": $scope.usuario, "contenido":$scope.mensaje });
						$scope.mensaje = "";
					}
				},	function(response){
					alert("Error de comunicacion");
				});
			}
			ObtenerMensajes();
			setInterval(ObtenerMensajes,1000);
			
			function ObtenerMensajes(){
				$http({
				url: 'chat.php?operacion=lista',
				method: 'POST',
				headers: {'Content-Type': 'application/x-www-form-urlencoded'}
				}).then(function(response, status){
					$scope.mensajes = response.data.mensajes;
				},	function(response){
					alert("Error de comunicacion");
				});
			}
			
		});
	</script>
</body>
</html>