<h3>{{$ctrl.Titulo}}</h3>
<br/>
<b> (*) Opcional</b>
<br/>
<br/>
<div class="row">
	<div class="form-group col-sm-6">
		<label>Nombre:</label>
		<input type="text" class="form-control" ng-model="$ctrl.Agrupacion.Nombre" placeholder="Nombre">
	</div>
</div>
<div class="row">
	<div class="form-group col-sm-6">
		<label>Prueba:</label><br/>
		<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="$ctrl.Agrupacion.Prueba" />
		<small id="" class="form-text text-muted">Indica si grupo podra ser consultado en búsquedas de prueba.</small>
	</div>
</div>
<div class="row">
	<div class="form-group col-sm-3">
		<label>Tipo:</label>
		<select  class="form-control" ng-model="$ctrl.Agrupacion.TipoGrupo">
			<!--<option value=""></option>-->
			<option ng-repeat="TipoGrupo in $ctrl.TiposGrupo" value="{{TipoGrupo.IdTipoGrupo}}">{{TipoGrupo.Descripcion}}</option>
			<!--
			<option value="2">Doctorado</option>
			<option value="3">Diplomado</option>
			<option value="4">Licenciatura</option>
			<option value="5">Posgrado</option>
			<option value="6">Maestría</option>
			<option value="7">Técnico</option>
			<option value="8">Profesorado</option>
			<option value="9">Curso libre</option>
			<option value="10">Nuevo idioma</option>
			-->
		</select>
	</div>
</div>
<div class="row">
	<div class="form-group col-sm-6">
		<label>(*) Descripcion agrupacion:</label><br/>
		<textarea cols="90" rows="10" ng-model="$ctrl.Agrupacion.Descripcion" placeholder="Descripcion"></textarea>
	</div>
</div>

<button class="btn btnForm" ng-click="$ctrl.OperacionForm()" ng-disable="{{$ctrl.Bloquear}}">Guardar</button> 
<button class="btn btn-link" onclick="window.location = 'admin-main.html#!/mant-agrupcarreras'; ">Regresar</button>
