<center>
	<h3>Mantenimiento Carreras Universidad</h3>
	<h4>{{$ctrl.Universidad.Nombre}}</h4>
	<br/>
	<table class="table tblCarreraUni">
		<tr>
			<th></th>
			<th>Nombre</th>
			<th>Agrupación</th>
			<th>Descripción (Usuarios)</th>
		</tr>
		<tr ng-repeat="Carrera in $ctrl.Carreras">
			<td>
				<center>
					<button class="btn btnFormMini" ng-click="$ctrl.VerModalEliminarCarrera(Carrera);">Eliminar</button>
				</center>
			</td>
			<td>{{Carrera.Nombre}}</td>
			<td>{{Carrera.Agrupacion}}</td>
			<td>
				<div style="max-height:70px;overflow-y:scroll;">
					{{Carrera.Descripcion}}
				</div>
			</td>
		</tr>
	</table>
	<br/>
	<button class="btn btnForm" ng-click="$ctrl.VerModalAgregarCarreras()">Agregar</button>
	<button class="btn btn-link" onclick="window.location = 'admin-main.html#!/mant-universidad'; ">Regresar</button>

	<!-- Modal -->
	<div id="mdConfEliminar" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content mdAdmin-Content">
				<div class="modal-header mdAdmin-Header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<center>
						<h4 class="modal-title">Eliminar Carrera</h4>
					</center>
				</div>
				<div class="modal-body">
					<center>
						<p>¿Confirma que desea eliminar la carrera <b>{{$ctrl.CarreraEliminar.Nombre}}?</b></p>
					</center>
				</div>
				<div class="modal-footer">
					<center>
						<button class="btn btnForm" ng-click="$ctrl.EliminarCarrera()">Eliminar</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					</center>
				</div>
			</div>

		</div>
	</div>

	<div id="mdAgregarCarreras" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content" style="width:100%; max-width:1000px;">
				<div class="modal-header" class="mdAdmin-Header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h3 class="modal-title">Agregar Carreras</h3>
				</div>
				<div class="modal-body">
					<h4>Carreras no asignadas</h4>
					<br/>
					<div class="row" style="width:90%; max-width: 1000px;">
						<div class="form-group col-sm-12">
							<input type="text" class="form-control" ng-model="$ctrl.TextBusqueda" placeholder="Busqueda rapida">
						</div>
						<!--
						<div class="form-group col-sm-2">
							<button class="btn btnFormMini"><span class="glyphicon glyphicon-search"></button>
						</div>
						-->
					</div>
					<div style="height:300px; overflow-y:scroll;">
						<table class="table tblAdmin">
							<tr>
								<th></th>
								<!--<th>Id Carrera</th>-->
								<th>Nombre</th>
								<th>Agrupación</th>
								<th>Descripción</th>
							</tr>
							<tr ng-repeat="Carrera in $ctrl.CarrerasNoAsignadas | filter:$ctrl.TextBusqueda">
								<td>
									<input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="Carrera.Seleccionada" />
								</td>
								<!--<td>{{Carrera.Id}}</td>-->
								<td>{{Carrera.Nombre}}</td>
								<td>{{Carrera.Agrupacion}}</td>
								<td>{{Carrera.Descripcion}}</td>
							</tr>
						</table>
					</div>

				</div>
				<div class="modal-footer">
					<center>
						<button class="btn btnForm" ng-click="$ctrl.AsignarCarreras()">Agregar</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					</center>
				</div>
			</div>

		</div>
	</div>
</center>
