<center>
<!-- <h2>Tipo de busqueda</h2> -->
<button class="btn btn-link"  onclick="window.history.back();">Regresar</button>
<br/>
<div ng-if="$ctrl.EsPrueba =='1'">
	<h4>(Recordá que es una prueba)</h4>
</div>
<br/>
<h4 class="txtColor">¿Qué quéres buscar?</h4><br/>
<div class="row" style="width:90%; max-width: 800px;">
	<div class="form-group col-sm-12" >
		<input type="text" class="form-control" ng-model="$ctrl.TextBusqueda" placeholder="Busqueda rapida">
	</div>
	<!--
	<div class="form-group col-sm-2">
		<button class="btn btnFormMini"><span class="glyphicon glyphicon-search"></button>
	</div>
	-->
</div>
<center>
	<small>Si no sabés que es alguna categoría, ponete sobre la <span class="glyphicon glyphicon-info-sign spOpcionBusqueda"></span> y te explicamos a qué se refiere.</small>
	<br/>
	<small>
	¿Mejor aun no la querés usar? <br/>Podés regresar  y usarla más adelante, aun no ha sido usada tu búsqueda.
	</small>
</center>
<br/>
<div style="width:90%; max-width: 800px; height:500px; overflow-y: scroll;">
	<div class="list-group" style="cursor:pointer;">
	  <a ng-click="$ctrl.IrAGruposBusqueda(Tipo)" class="list-group-item list-group-item-action flex-column align-items-start" ng-repeat="Tipo in $ctrl.Tipos | filter:$ctrl.TextBusqueda">
		<div class="d-flex w-100 justify-content-between" style="padding: 15px 15px;">
			<span class="spOpcionBusqueda">{{Tipo.Descripcion}}</span>
			<div style="float:right;width:50px; display: inline;">
				<span class="glyphicon glyphicon-info-sign spOpcionBusqueda" ng-attr-title="{{Tipo.Descripcion}}"></span>
			</div>
		</div>

	  </a>
	</div>
</div>
<br/>
<br/>
</center>
