<h3 class="txtColor">¡Estás a un paso de facilitarte la vida!</h3>
<br/>
<div class="alert alert-info" style="width:80%;">
	<h4><b>Datos de Facturación</b></h4>
	<br/>
	<div class="row">
		<div class="form-group col-sm-4">
			<label>Nombre Facturación:</label>
			<input type="text" class="form-control" ng-model="$ctrl.Usuario.NombreFacturacion" placeholder="N/A" disabled>
		</div>
		<div class="form-group col-sm-4">
			<label>Apellido Facturación:</label>
			<input type="text" class="form-control" ng-model="$ctrl.Usuario.ApellidoFacturacion" placeholder="N/A" disabled>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-4">
			<label>Nit Facturación:</label>
			<input type="text" class="form-control" ng-model="$ctrl.Usuario.Nit" placeholder="N/A" disabled>
		</div>
		<div class="form-group col-sm-4">
			<label>Departamento:</label>
			<input type="text" class="form-control" ng-model="$ctrl.Usuario.NombreDepFacturacion" placeholder="N/A" disabled>
		</div>
	</div>
	<div class="row">

	</div>
	<div class="row">
		<div class="form-group col-sm-4">
			<label>Cantidad Búsquedas:</label>
			<input type="text" class="form-control" ng-model="$ctrl.CantidadBusquedas" placeholder="N/A" disabled>
		</div>
		<div class="form-group col-sm-4">
			<label>Monto:</label>
			<input type="text" class="form-control" ng-model="$ctrl.TextoMonto" placeholder="N/A" disabled>
		</div>
	</div>
</div>
<b>Nota:</b>
La factura se te enviará a tu correo electrónico
<br/>
<br/>
<!--
<div id="dvPago1" class="hidden">
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="PY4JLGLAF35M4">
		<input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal, la forma rápida y segura de pagar en Internet.">
		<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
	</form>
</div>
<div id="dvPago2" class="hidden">
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="7EK7LQBNRMM56">
		<input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal, la forma rápida y segura de pagar en Internet.">
		<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
	</form>
</div>
<div id="dvPago3" class="hidden">
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="USWJVZ8LM9FHQ">
		<input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal, la forma rápida y segura de pagar en Internet.">
		<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
	</form>
</div>
-->
<button class="btn btnForm" onclick="$('#mdNotaCompra').modal('show')">Comprar</button>
<button class="btn btn-link" onclick="window.location = 'user-main.html#!/list-busqueda'; ">Regresar</button>

<div id="mdNotaCompra" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" style="width:90%">
      <div class="modal-header mdAdmin-Header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <center>
						<!--<h4 class="modal-title">Nota de compra</h4>-->
				</center>
      </div>
      <div class="modal-body">
        	<center>
					<p>
						Si es la primera vez que comprás con nosotros debés elegir a continuación la opción <b>“pagar con tarjeta”</b>
						y automáticamente crearás tu cuenta Pagadito que es la empresa certificada que utilizamos para realizar
						los pagos en línea. La próxima vez que comprés ya solo le das a la opción <b>“pagar con mi cuenta Pagadito”</b>
						y listo. ¡Te garantizamos que todo es muy seguro!
					</p> <br/>
		</center>
      </div>
      <div class="modal-footer">
		<center>
			<button class="btn btnFormMini" ng-click="$ctrl.IniciarPago()">¡Listo!</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">Regresar</button>
		</center>
      </div>
    </div>

  </div>
</div>
