<center>
<h3>Mantenimiento Cursos</h3>
<br/>
<center>
<br/>
<button class="btn btnForm" onclick=" window.location = 'admin-main.html#!/form-curso/$$NUEVO'; ">Nuevo Curso</button>
<br/>
<br/>
<table class="table tblAdmin">
	<tr>
		<th></th>
		<th>Nombre</th>
		<th>Descripcion</th>
	</tr>
	<tr ng-repeat="Curso in $ctrl.Cursos">
		<td>
			<center>
				<button class="btn btnFormMini"  ng-click="$ctrl.ModificarCurso(Curso)">Modificar</button>
				<button class="btn btnFormMini"  ng-click="$ctrl.VerModalEliminar(Curso)">Eliminar</button>
			</center>
		</td>
		<td>{{Curso.Nombre}}</td>
		<td>{{Curso.Descripcion}}</td>
	</tr>
</table>

<!-- Modal -->
<div id="mdConfEliminar" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content mdAdmin-Content">
      <div class="modal-header mdAdmin-Header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
		<center>
			<h4 class="modal-title">Eliminar Curso</h4>
		</center>
      </div>
      <div class="modal-body">
		<center>
			<p>¿Confirma que desea eliminar el curso <b>{{$ctrl.CursoEliminar.Nombre}}?</b></p>
		</center>
      </div>
      <div class="modal-footer">
		<center>
			<button class="btn btnForm" ng-click="$ctrl.EliminarCurso()">Eliminar</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
		</center>
      </div>
    </div>

  </div>
</div>
</center>
</center>