<center>
<h3>Mantenimiento Agrupaciones de carreras</h3>
<br/>
<button class="btn btnForm" onclick=" window.location = 'admin-main.html#!/form-agrupcarreras/$$NUEVO'; ">Nuevo Grupo</button>
<br/>
<br/>
<table class="table tblAdmin">
	<tr>
		<th></th>
		<th>Nombre</th>
		<th>Tipo</th>
		<th>Prueba</th>
	</tr>
	<tr ng-repeat="Agrupacion in $ctrl.Agrupaciones">
		<td>
			<center>
				<button class="btn btnFormMini" ng-click="$ctrl.ModificarAgrupacion(Agrupacion)">Modificar</button>
				<button class="btn btnFormMini" ng-click="$ctrl.VerModalEliminar(Agrupacion)">Eliminar</button>
			</center>
		</td>
		<td>{{Agrupacion.Nombre}}</td>
		<td>{{Agrupacion.Tipo}}</td>
		<td>
			<div ng-if="Agrupacion.Prueba == 1">
				SI
			</div>
			<div ng-if="Agrupacion.Prueba != 1">
				NO
			</div>
		</td>
	</tr>
</table>


<!-- Modal -->
<div id="mdConfEliminar" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content mdAdmin-Content">
      <div class="modal-header mdAdmin-Header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
		<center>
			<h4 class="modal-title">Eliminar Agrupacion</h4>
		</center>
      </div>
      <div class="modal-body">
		<center>
			<p>¿Confirma que desea eliminar la agrupacion <b>{{$ctrl.GrupoAEliminar.Nombre}}?</b></p>
			<div class="alert alert-danger">
				<b>Nota: Todas las carreras pertenecientes a este grupo serán eliminadas.</b>
			</div>
		</center>
      </div>
      <div class="modal-footer">
		<center>
			<button class="btn btnForm" ng-click="$ctrl.ElminarAgrupacion()">Eliminar</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
		</center>
      </div>
    </div>

  </div>
</div>
</center>